<?php $productCollection = $this->getSliderProducts() ?>
<?php $_layoutHelper = Mage::helper('isc_catalog/data'); ?>
<?php $_customGroupHelper = Mage::helper('cyberhouse_customergroups'); ?>


<div class="container productslider-container">
    <h2><?php echo $this->__('Featured Recommendations') ?></h2>
    <div class="productslider" id="productslider">
        <?php foreach ($productCollection as $_product) : ?>
            <?php //Load product?>
            <?php $product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
            <?php //getImageUrl?>
            <?php $imageUrl = Mage::helper('isc_parser/data')->getAssetUrl($product->getProductPicture(), 800); ?>
            <div class="slide">
                <?php //Image?>
                <a href="<?php echo $product->getProductUrl(); ?>">
                    <?php if ($imageUrl) : ?>
                    <div class="product-img-wrap">
                        <img src="<?php echo $imageUrl ?>"
                             alt="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($product); ?>"
                             title="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($product); ?>"
                        />
                        <div class="price-box">
                            <?php $finalprice = Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?>
                            <?php $msrpPrice = Mage::helper('core')->currency($product->getMsrp(), true, false); ?>

                            <?php if (strcmp($finalprice, $msrpPrice) != 0 && $msrpPrice != 0.0) : ?>
                                <p class="old-price"><?php echo $msrpPrice; ?></p>

                            <?php else: ?>
                                <p class="old-price" style="margin-bottom: -10px;"><br/></p>
                            <?php endif; ?>

                            <p class="special-price"><?php echo $finalprice; ?></p>

                        </div>
                    </div>
                    <?php endif; ?>

                    <?php //name end of link tag?>
                    <?php echo $product->getName(); ?></a>

                <?php //action wrap?>

                <?php /*Action Wrap*/ ?>
                <?php $productAvailable = $_layoutHelper->isProductAvailable($product); ?>
                <?php $customerLevel30 = $_customGroupHelper->hasCurrentCustomerLevel30(); ?>
                <div class="action-wrap">
                    <?php if ($productAvailable || $customerLevel30) : ?>
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <form method="post" data-url="<?php echo Mage::getUrl('checkout/cart/ajaxadd') ?>"
                              action="<?php echo $this->getSubmitUrl($product) ?>">
                            <?php /*Quantity and product for ajax*/ ?>
                            <input type="hidden" name="product"
                                   value="<?php echo $product->getId() ?>"/>
                            <input type="hidden" class="" name="qty"
                                   value="1"/>
                            <input type="hidden" id="parent_product_sku" data-sku="<?php echo $product->getSku() ?>"
                                   value="<?php echo $product->getSku() ?>">
                            <?php if ($product->getPrice() > 0) : ?>

                                <?php //Request for Quote?>
                                <?php if (!$productAvailable && $customerLevel30) : ?>
                                    <?php /*Show cart button class cart-submit needed for ajax add to cart*/ ?>
                                    <div class="cart">
                                        <input class="cart-submit btn fa-input cart-request"
                                               type="submit"
                                               value="<?php echo $this->__('Add to Request') ?> &#xf022;">

                                    </div>
                                <?php else : ?>
                                    <?php //normal Cart Button?>
                                    <div class="cart">
                                        <input class="cart-submit btn fa-input "
                                               type="submit"
                                               value="<?php echo $this->__('Add to Cart') ?> &#xf07a;">

                                    </div>
                                <?php endif ?>
                            <?php endif; ?>
                        </form>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<?php //jquery for the slider?>
<script>
    jQuery(document).ready(function () {
        jQuery('.productslider').bxSlider({
            slideWidth: 325,
            minSlides: 1,
            maxSlides: 4,
            slideMargin: 10,
            infiniteLoop: false,
            pager: false
        });
    });
</script>

