<ul class="messages">
	<li class="error-msg">
		<ul>
			<li>
				<span><?php echo $this->__('There seems to be a problem with the Computop module.') ?></span>
			</li>
		</ul>
	</li>
</ul>
<div class="fieldset">
	<div class="legend"><?php echo $this->__('Computop Error') ?></div>
	<?php echo $this->__('Please flash or disable the cache storage and retry. If this did not help, change the authorization method to PaymentPage and <a href="%s" target="_blank">contact sellxed</a>.', 'http://www.sellxed.com/en/support') ?>
</div>