<div class="computopcw" >
	<iframe src="<?php echo $this->getIframeUrl() ?>" class="computopcw-iframe" style="height: <?php echo $this->getIframeHeight() ?>px; width: 100%; border: none;">
	</iframe>
</div>