<?php $onlineReturns = $this->getCollection();
/** @var $helper Cyberhouse_Servicecenter_Helper_AccountPage */
$helper = Mage::helper('servicecenter/AccountPage');
$pickupCollection = $this->getPickupCollection();
$servicecenterHelper = Mage::helper( 'servicecenter' );
?>
<?php if (($onlineReturns && count($onlineReturns) > 0) || ($pickupCollection && count($pickupCollection) > 0) ): ?>
<div class="box-account box-recent">
    <div class="box-head">
        <h2><?php echo $this->__('My returns') ?></h2>
    </div>
    <div class="box-border">
        <?php foreach(array("online" => $onlineReturns, "pickup" => $pickupCollection) as $type => $collection) : ?>
            <?php if(!count($collection)) continue; ?>
            <div class="box-head">
                <h2><?php echo $this->__(sprintf('My %s returns',$type)) ?></h2>
            </div>
        <table class="data-table" id="my-return-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Product Information') ?></th>
                <th><?php echo $this->__('Return Address') ?></th>
                <th><?php if($type == "online") : ?><?php echo $this->__('Return Label') ?><?php endif; ?></th>
            </tr>
            </thead>
            <tbody>
            <?php /** @var $return Cyberhouse_Servicecenter_Model_Retoure */ ?>
            <?php foreach ($collection as $return) : ?>
                <?php if ($return) : ?>
                    <?php $onlineReturn = $helper->getAccountRetoure($return); ?>
                    <tr>
                        <td><p><?php echo $onlineReturn->getDate() ?></p></td>
                        <?php $productInfo = $onlineReturn->getProductInfo() ?>
                        <?php if ($productInfo): ?>
                            <td>
                                <?php echo $productInfo['product_no'] ?><br/>
                                <?php echo $productInfo['name'] ?><br/>
                            </td>
                        <?php else: ?>
                            <td><p><?php $this->__('No product information available') ?></p></td>
                        <?php endif; ?>
                        <td>
                            <address>
                                <?php
                                $address = $onlineReturn->getAddress();
                                if ($address) {
                                    echo $address['firstname'] . " " . $address['lastname'] . '<br/>'
                                        . $address['street'] . ' ' . $address['housenumber'] .'<br/>'
                                        . $address['postcode'] . ' ' . $address['city'] . '<br/>';
                                }
                                ?>
                            </address>
                        </td>
                        <?php if($type == "online" && !$servicecenterHelper->skipReturnLabel($return->getStatusCode())) : ?>
                        <td>
                            <a href="<?php echo Mage::getUrl('servicecenter/accountpage/download') . '?id=' . $onlineReturn->getPrintLabelId(); ?>"
                               class="btn btn-small"><?php echo $this->__('Download Label'); ?></a>
                        </td>
                        <?php endif; ?>
                    </tr>
                <?php endif; ?>
            <?php endforeach ?>
            </tbody>
        </table>
        <?php endforeach; ?>
        <div class="row-fluid">
            <div id="my-returns-table-actions">
                <a class="btn span6 offset6" href="<?php echo $this->getUrl('servicecenter/accountpage') ?>"><?php echo $this->__('View All') ?></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>