<?php
/**
 * ITWebExperts
 *
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2013 ITWebExperts
 */
?>
<?php if ($this->isRequestEnabled()) : ?>
	<?php
		$buttonTitle = $this->__('Request for Quote');
	?>
	<button type="button" title="<?php echo $buttonTitle ?>" class="button btn-r4q" onclick="productAddToCartForm.submit(this, '<?php echo $this->getUrl('requestquote/quote/add') ?>')"><span><span><?php echo $buttonTitle ?></span></span></button>
<?php endif; ?>