<?php
$buttonTitle = $this->__('Request for Quote');
?>
<script type="text/javascript">
    // hide add to cart buttons
    $$('input[name="r4q_hidecart"]').each(function(el) {
        if ($(el).getValue() == '1') {
            $(el).up('.item,.product-view').getElementsBySelector('.btn-cart,.btn-cart1').each(function(btn) {
                if($(btn).title != 'Rent') {
                    $(btn).remove();
                }
            });
        }
    });
    // add request for quote button
    $$('input[name="r4q_quote_enabled"]').each(function(el) {
        var siblings = $(el).nextSiblings();
        var isActions = 0;
        var actionsBlock;

        for(var i=0; i < siblings.length; i++){
            if(siblings[i].name == "r4q_quote_enabled"){
                siblings[i].remove();
            }
            if(siblings[i].hasClassName('actions')){
                if(typeof siblings[i].down() != 'undefined' && siblings[i].down().hasClassName('actions-btn')) {
                    actionsBlock = siblings[i].down();
                }else{
                    actionsBlock = siblings[i];
                }

            }

            if(siblings[i].hasClassName('actions-btn')){
                actionsBlock = siblings[i];
            }
        }

        if (typeof actionsBlock != 'undefined') {
            actionsBlock.insert({
                top: '<button class="button btn-r4q" onclick="window.location.href = \'<?php echo $this->getUrl('requestquote/quote/add') ?>product/' + $(el).getValue() + '\'; return false;" title="<?php echo $buttonTitle ?>"><span><?php echo $buttonTitle ?></span></button>'
            });
            actionsBlock.up().setStyle({
                position: 'initial'
            });
        }

    });
</script>