#ascommercebug_link_debug
{
    text-align:left;
    background-color:#fff;
    display:block;
    width:4em;
    line-height:1.5em;
}
#ascommercebug_welcome ul
{
	list-style:none;
}

#ascommercebug_welcome ul li
{
	margin-bottom:.5em;
}
#ascommercebug_welcome textarea
{
	width:50%;
}

#ascommercebug-tabs button
{
	cursor:pointer;
	padding:2px 10px 2px 10px;
}

#ascommercebug-tabs table
{
	background-color: #EEE;
	/*background-image: url(/skin/frontend/commercebug/jquery-ui-1.8.custom/css/overcast/images/ui-bg_inset-soft_50_c9c9c9_1x100.png);*/
	background-repeat: repeat-x;
	background-position: 0 0;
	border-spacing:0;
}

#ascommercebug-tabs table th
{
	font-weight:bold;
}

#ascommercebug-tabs table td,#ascommercebug-tabs table th
{
	padding:0 1em 0 1em;
	font-size:1em;
	line-height:1.7em;
}

#ascommercebug-tabs table td.pathinfo, span.pathinfo
{
	font-size:.8em;
	font-family: consolas,"Lucida Console",monaco,"Courier New";
}

#ascommercebug-tabs .classname, #ascommercebug-tabs table td.classname, span.classname, #ascommercebug_layout li, 
div#ascommercebug_lookup_container span.classname, #ascommercebug_lookup span.classname, #ascommercebug_lookup .classname, 
#ascommercebug_lookup .pathinfo, #ascommercebug-tabs dl dd.classname, #ascommercebug-tabs dl dd.classname
{
	font-family: consolas,"Lucida Console",monaco,"Courier New";
}

#ascommercebug_page_layout_label, #ascommercebug_page_layout_label
{
	display:block;
	float:left;
	width:300px;
}

#ascommercebug-tabs h2
{
	color:#000;
}

#ascommercebug-tabs .tab-container{
	text-align:left;
}

#ascommercebug-tabs dl dt
{
	font-weight:bold;
}
#ascommercebug-tabs dl dd
{
	padding-left:25px;
}

.label_corescan
{
	display:block;
	float:left;
	clear:left;
	width:8em;
	position:relative;
	top:1px;
}

#ascommercebug_events_table
{
    width:95%;
}

#ascommercebug_search_events, .pulsestorm_search_table_field
{
    margin:0;
    margin-top:7px;
    margin-bottom:5px;
    display:block;
    width:100%
}

.pulsestorm_search_table_field
{
    width:45%;
}
#ascommercebug_layout_handles
{
    width:400px;
    float:left;
    margin-right:30px;
}

#ascommercebug_layout_path_information 
{
    width:480px;
    float:left;
}

#ascommercebug-tabs
{
    z-index:979;
}

#ascommercebug-tabs th.ascommercebug_event_area
{
    width:20%;
}

#ascommercebug-tabs p
{
    margin-bottom:10px;    
    line-height:1.5em;
}

#ascommercebug_link_debug a
{
    text-decoration:underline;
}

table.tablesorter thead tr .ascommercebug_tablesort_header {
	background-image: url(jquery-ui-1.8.custom/css/tablesorter/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	text-align:left;
	cursor: pointer;
}