<?php $items = $this->_getItems() ?>
<div class="span12 main-menu-wrap clearfix bigmegamenu">
<nav class="wsmenu clearfix">
    <ul class="mobile-sub wsmenu-list itemcount-<?php echo count($items) ?>">
        <?php foreach ($items as $item) : ?>
            <?php /*General Li Menu Element*/ ?>
            <li class="<?php echo $item['class'];
            if ($item['active']) echo ' active' ?> ">

                <?php /*Check if there are some subcategories*/ ?>
                <?php if ($item['hasChildren']): ?>
                    <a href="<?php echo $item['link']?>"> <?php echo $item['name'] ?></a>
                    <?php /*Megamenu div*/ ?>
                    <div class="megamenu clearfix">
                        <?php /*Get Subcategories*/ ?>
                        <?php foreach ($item['category']->getChildrenCategories() as $child) : ?>
                            <?php /*Check if the category is active*/ ?>
                            <?php if ($child/*->getProductCount()>0*/) : ?>
                                <ul class="megacollink">
                                    <li class="title"><a
                                            href="<?php echo $child->getUrl(); ?>"><strong><?php echo $child->getName() ?></strong></a>
                                    </li>

                                    <?php /*Subsub Categories*/ ?>
                                    <?php foreach ($child->getChildrenCategories() as $childChild) : ?>
                                        <li><a href="<?php echo $childChild->getUrl(); ?>"><i
                                                    class="fa fa-arrow-circle-right"></i><?php echo $childChild->getName(); ?>
                                            </a></li>
                                    <?php endforeach; ?>

                                </ul>
                            <?php endif; ?>
                        <?php endforeach; ?>

                    </div>

                <?php else: ?>
                    <a href="<?php echo $item['link'] ?>">
                        <?php echo $item['name'] ?>
                    </a>
                    <?php if ($item['name'] == "Service-Center"): ?>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('service-center-meganav')->toHtml(); ?>
                    <?php endif ?>
                <?php endif ?>


            </li>

        <?php endforeach; ?>
    </ul>
</nav>
</div>