<?php
$order = $this->getOrder();
if($order->getAdminUserId() ): ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo $this->__('Order created by:'); ?></h4>
        </div>
        <fieldset>
            <div><?php
                $adminUser = Mage::getModel("admin/user")->load($order->getAdminUserId());
                echo $adminUser->getName()," (",$adminUser->getEmail(),")";
                ?></div>
        </fieldset>
    </div>
    <div class="clear"/>
<?php endif;
if($order->getQuoteRequestId()) : ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products"><?php echo $this->__('View Quote Request'); ?></h4>
    </div>
    <fieldset>
        <div><a href="<?php echo Mage::helper("adminhtml")->getUrl('requestquote/adminhtml_quote_edit/start', array('quote_id' => $order->getQuoteRequestId()));?>" title="<?php echo $this->__('View Quote Request'); ?>"><?php echo "ID: " , $order->getQuoteRequestId() , ": " , $this->__('View Quote Request'); ?></a></div>
    </fieldset>
</div>
<div class="clear"/>
<?php endif; ?>