<?php
$orderCollection = $this->getOrderCollection();
$helper = Mage::helper("adminhtml");
if($orderCollection) : ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products"><?php echo $helper->__('Sales'); ?></h4>
    </div>
    <fieldset>
        <?php foreach($orderCollection as $order) : ?>
        <div><a href="<?php echo $helper->getUrl('adminhtml/sales_order/view', array('order_id' => $order->getId()));?>" title="<?php echo $helper->__("Order ID"),": " , $order->getId() ?>"><?php echo $helper->__("Order ID"),": " , $order->getId() , " " , $this->__('Revenue'),": ", Mage::helper("core")->currency($order->getGrandTotal(),true,false); ?></a></div>
        <?php endforeach; ?>
    </fieldset>
</div>
<div class="clear"/>
<?php endif; ?>