<button class="pull-left" type="submit" name="update_cart_action" value="add_all_to_quote" title="<?php echo $this->__('Add all items to quote'); ?>" class="button btn-update btn btn-submit"><span><span><?php echo $this->__('Add all items to quote'); ?></span></span></button>