<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */
?>
<div class="content-header">
        <h3 class="icon-head head-categories"><?php echo $this->htmlEscape($this->getHeader());?></h3>
        <p class="content-buttons form-buttons">
        	<?php echo $this->getBackButtonHtml() ?>
        	<?php if (Mage::helper('cmsplus')->getAction() == 'menuedit'): ?>
        		 <?php echo $this->getDeleteButtonHtml() ?>
        	<?php endif; ?>
        	<?php if (Mage::helper('cmsplus')->getAction() == 'pageedit'): ?>
				
        		 <?php echo $this->getDeleteButtonHtml() ?>
        	<?php endif; ?>
        	<?php echo $this->getPreviewButtonHtml() ?>
            <?php echo $this->getSaveButtonHtml() ?>

            <?php echo $this->getAdditionalcontentHtml() ?>
        </p>
</div>

    
<?php echo $this->getTabsHtml() ?>

<iframe name="iframeSave" style="display:none; width:100%;" src="<?php echo $this->getJsUrl() ?>blank.html"></iframe>
<form id="cmsplus_form" name="cmsplus_form" action="" method="post" enctype="multipart/form-data">
    <div class="no-display">
        <input type="hidden" name="isIframe" value="1" />
        <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
        <input type="hidden" name="category_products" id="in_category_products" value="" />
        <input type="hidden" name="active_tab_id" id="active_tab_id" value="" />
    </div>
    <div id="cmsplus_tab_content"></div>
</form>


<?php
	$block = $this->getLayout()->getBlock('category.product.grid');
	if ($block) {
		$_gridJsObject=$block->getJsObjectName();
	}
?>
<script>
//<![CDATA[
	cmsplusForm = new varienForm('cmsplus_form');

    cmsplusForm.submit= function (url) {
        this.errorSections = $H({});
        this.canShowError = true;
        this.submitUrl = url;
        if (this.validator && this.validator.validate()) {
            if(this.validationUrl){
                this._validate();
            }
            else{
                if (this.isSubmitted) {
                    return false;
                }
                this.isSubmitted = true;
                this._submit();
            }
            return true;
        }
        return false;
    };
	<?php if ($block): ?>
	    var categoryProducts = $H(<?php echo $this->getProductsJson() ?>);
	    $('in_category_products').value = categoryProducts.toQueryString();
	    
	
	    function categoryProductRowClick(grid, event){
	    	var trElement = Event.findElement(event, 'tr');
	    	var isInput   = Event.element(event).tagName == 'INPUT';
	    	if(trElement){
	    		var checkbox = Element.getElementsBySelector(trElement, 'input');
	    		if(checkbox[0]){
	    			var checked = isInput ? checkbox[0].checked : !checkbox[0].checked;
	    			<?php echo $_gridJsObject ?>.setCheckboxChecked(checkbox[0], checked);
	    		}
	    	}
	    }
	    
	    function registerCategoryProduct(grid, element, checked){
	    	if(checked){
	    		categoryProducts.set(element.value, element.value);
	    	} else {
	    		categoryProducts.unset(element.value);
	    	}
	    	$('in_category_products').value = categoryProducts.toQueryString();
	    	grid.reloadParams = {'selected_products[]':categoryProducts.keys()};
	    }
	 
		<?php echo $_gridJsObject ?>.rowClickCallback = categoryProductRowClick;
		<?php echo $_gridJsObject ?>.checkboxCheckCallback = registerCategoryProduct;
	<?php endif; ?>
//]]>

</script>