<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */
?>
<div id="category-edit-container" class="category-content cmsplus-content">
    <?php echo $this->getChildHtml('form') ?>
    <?php echo $this->getFormScripts(); ?>
</div>

<?php
    $url = $this->getUrl('*/*/changeStore');
?>

<script>
    var storechangeurl = '<?php echo $url; ?>';
    var lastStoreId = '<?php echo Mage::app()->getStore()->getStoreId(); ?>';
    var storechangeconfirmtext = "<?php echo $this->__('Please confirm site switching. All data that hasn\'t been saved will be lost.'); ?>";
    jQuery('#store_switcher').change(function(){
		window.location = storechangeurl + 'store/' + jQuery(this).val();
    });
</script>
