<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */
?>
<div class="content-header">
    <h3 class="icon-head head-categories"><?php echo $this->htmlEscape($this->getHeader());?></h3>
    <p class="content-buttons form-buttons">
		<?php echo $this->getBackButtonHtml() ?>
        <?php echo $this->getDeleteButtonHtml() ?>
        <?php echo $this->getSaveButtonHtml() ?>
        <?php echo $this->getAdditionalcontentHtml() ?>
    </p>
</div>
<form id="cmsplus_form" action="" method="post" enctype="multipart/form-data">
	<?php echo $this->getTabsHtml() ?>
    <div class="no-display">
    	<input type="hidden" name="active_tab_id" id="active_tab_id" value="" />
    </div>
    <div id="category_tab_content"></div>
</form>