<div class="fastorder">
    <div class="row-fluid">
        <div class="span12">
            <label class="headline" for="fastorder-input"
                   class="required"><?php echo $this->__('Enter SKU to add product to cart') ?></label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="fieldset span12">
            <div class="form-list fastorder-form-list row-fluid">
                <div class="fields span4 text-center">
                    <input type="text" id="fastorder-input" name="fastorder-input" class="input-text required-entry"
                           placeholder="<?php echo $this->__('SKU'); ?>">
                </div>
                <div class="fields span4 text-center">
                    <label for="fastorder-input" class="hidden required"><?php echo $this->__('Quantity') ?></label>
                    <input type="text" id="fastorder-qty" name="qty" class="input-text required-entry"
                           placeholder="<?php echo $this->__('Quantity'); ?>">
                </div>
                <div class="button-set span4 text-center">
                    <button type="button" title="<?php echo $this->__('Add Product') ?>" class="button"
                            onclick="insertProduct();">
                        <span><?php echo $this->__('Add Product') ?></span></button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var fastorderUpdateUrl = "<?php echo Mage::getUrl("fastorder/index/update"); ?>";
        jQuery('#fastorder-input').keyup(function (e) {
            if (e.keyCode == 13) {
                insertProduct();
            }
        });
        jQuery('#fastorder-qty').keyup(function (e) {
            if (e.keyCode == 13) {
                insertProduct();
            }
        });
    </script>
</div>