<div id="scannerinput" class="">
    <form action="<?php echo $this->getScannerInputFormPostUrl() ?>" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12">
                <label for="scanfile"><?php echo $this->__( 'Please upload your scanned file' ) ?></label>
            </div>
            <div class="col-xs-8">
                <input name="file" type="file" id="scanfile" class="filestyle" data-buttonText="<?php echo $this->__( 'Select file' ) ?>" data-buttonName="btn-success" data-icon="true" data-iconName="glyphicon-inbox" data-buttonBefore="true">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-green btn-onLight pull-right" name="upload" type="submit" onclick="jQuery.fancybox.showLoading();"><i class="fa fa-upload"></i> <?php echo $this->__( 'Upload' ) ?></button>
            </div>
        </div>
    </form>
</div>