<?php $customer = $this->getCustomer(); ?>
<div class="servicecenter-page" id="product-collection">
	<div class="block">
		<p class="bodytext"><?php echo $this->getChildHtml('product.collect.description'); ?></p>
	</div>
	<div class="contact">
		<form method="POST" action="">
			<div class="row-fluid">
				<div class="span6">
					<div class="row-fluid">
						<div class="span12">
							<label for="first-name"><strong><?php echo $this->__("First name") ?></strong></label>
							<input type="text" class="input-text" name="first-name" value="<?php echo $this->getCustomer()->getFirstname(); ?>"/>
							<label for="last-name"><strong><?php echo $this->__("Last name") ?></strong></label>
							<input type="text" class="input-text" name="last-name" value="<?php echo $this->getCustomer()->getLastname(); ?>"/>
							<label for="email"><strong><?php echo $this->__("Email") ?></strong></label>
							<input type="text" class="input-text" name="email" value="<?php echo $this->getCustomer()->getEmail(); ?>"/>
						</div>
					</div>
				</div>
				<div class="span6">
					<p><strong><?php echo $this->__("Message") ?></strong></p>
					<textarea name="message" rows="7"></textarea>
				</div>
			</div>
			<div class="row-fluid">
				<button type="submit" class="button next-step"><span><?php echo $this->__('Send') ?></span></button>
			</div>
		</form>
	</div>
</div>