<?php

$currentRetoure = $this->getCurrentRetoure();
$currentAccountReturn = $this->getAccountRetoure();
$productInfo = $currentAccountReturn->getProductInfo();

$productInfoText = "";
if ($productInfo) {
    $productInfoText = (isset($productInfo['serial_no'])?$productInfo['serial_no']:$productInfo['product_no']) . "</br>" . $productInfo['name']. "</br>" . $productInfo['description'];
} else {
    $productInfoText = $this->__( 'No product information available' );
}

$address = $currentAccountReturn->getAddress();
$address_info = "";
if ($address) {
    $address_info = $address['firstname'] . " " . $address['lastname'] . '<br/>'
        . $address['street'] . ' ' . $address['housenumber'] . '<br/>'
        . $address['postcode'] . ' ' . $address['city'] . '<br/>';
}

$downloadUrl = $this->getRetoureUrl();

?>
<div class="span12">
    <div class="servicecenter_success">
        <table class="data-table" id="my-return-table">
            <thead>
            <tr>
                <th><?php echo $this->__( 'Date' ) ?></th>
                <th><?php echo $this->__( 'Product Information' ) ?></th>
                <th><?php echo $this->__( 'Return Address' ) ?></th>
                <th><?php echo $this->__( 'Return Label' ) ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="date"><?php echo $currentAccountReturn->getDate() ? $currentAccountReturn->getDate() : "&nbsp;"; ?></td>
                <td class="product"><?php echo $productInfoText ? $productInfoText : "&nbsp;"; ?></td>
                <td class="address"><?php echo $address_info ? $address_info : "&nbsp"; ?></td>
                <td class="return_label">
                    <?php if ($downloadUrl): ?>
                        <a class="btn" title="<?php echo $this->__( "Download" ); ?>"
                           href="<?php echo $downloadUrl; ?>"><?php echo $this->__( "Download" ); ?></a>
                    <?php endif; ?>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="profile_link">
        <a href="<?php echo Mage::getUrl( "customer/account" ); ?>"
           title="<?php echo $this->__( "Back to my account" ); ?>"><?php echo $this->__( "Back to my account" ); ?></a>
    </div>
</div>