<div id="scannerinput" class="clearfix">
    <form action="<?php echo $this->getScannerInputFormPostUrl() ?>" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="span12">
                <label for="scanfile"><?php echo $this->__( 'Please select a file to upload' ) ?></label>
            </div>
            <div class="span8">
                <input name="file" type="file" id="scanfile" class="filestyle " data-buttonText="<?php echo $this->__( 'Select file' ) ?>" data-buttonName="btn-success" data-icon="true" data-iconName="glyphicon-inbox" data-buttonBefore="true">
            </div>
            <div class="span4">
                <button class="btn" name="upload" type="submit" onclick="jQuery.fancybox.showLoading();"><i class="fa fa-upload"></i> <?php echo $this->__( 'Upload' ) ?></button>
            </div>
        </div>
    </form>
</div>