
<?php $helper = Mage::helper('manufacturer') ?>
<?php

    $manufacturers = $this->getItems();
    $new = array();

    foreach($manufacturers as $manu){
        $new[$manu->getLabel()] = $manu;
    }
    ksort($new);

?>
<?php foreach ($new as $_item) : ?>
	<?php if ($_item->getCount() > 0): ?>
		<div class="item span3 <?php echo strtolower(substr($_item->getLabel(),0,1)) ?>">
			<div class="item-name">
				<a href="<?php echo $helper->getManufacturerLinkByName($_item->getLabel()) ?>">
					&rsaquo; <?php echo $_item->getLabel() ?>
				</a>
			</div>
		</div>
	<?php endif; ?>
<?php endforeach ?>