<?php
$helper = Mage::helper('manufacturer');
$items = $this->getItems();
$names = array();
foreach ($items as $item) {
	$names[] = $item->getLabel();
}


if (count($items) == 1) {
    // redirect to subpage when only 1 manufacturer
    $manufacturers = $helper->getManufacturerByName($names[0]);
    $man = $manufacturers->getFirstItem();
    $link = $helper->getManufacturerLinkByIdentifier($man->getIdentifier());

    Mage::app()->getFrontController()->getResponse()->setRedirect($link);
}

    $manufacturers = $helper->getManufacturerByName($names);
    $new = array();
    foreach($manufacturers as $manu){
        $new[$manu->getName()] = $manu;
    }
    ksort($new);
?>
<?php foreach ($new as $man) : ?>
	<div class="item span2 <?php echo strtolower(substr($man->getName(),0,1)) ?>">
		<div class="item-wrap">
			<?php if ($man->getAssetId()) : ?>
				<img alt="<?php echo $man->getName() ?>" src="<?php echo Mage::helper('cyberhouse_url')->getAssetUrl($man->getAssetId()) ?>" />
			<?php endif; ?>
			<?php $link = $helper->getManufacturerLinkByIdentifier($man->getIdentifier(), true) ?>
				<span class="name">
					<a href="<?php echo $link ?>"><?php echo $man->getName() ?></a>
				</span>
				<a class="link" href="<?php echo $link ?>">&nbsp;</a>
		</div>
	</div>
<?php endforeach; ?>