<?php foreach ($this->getWidgets() as $widget) : ?>
		<div class="<?php echo $widget['checkoutName'] ?>-widget computopcw-external-checkout-widget">
			<?=$widget['html']?>
		</div>
	</li>
	<li>
<?php endforeach; ?>