@media only screen and (min-width:979px) and (max-width:1026px) {
    .wsmenu-list > li > a > .fa { display:none !important;}
    .hometext{ display:block !important;}
    .wsmenu{ width:100%; font-size:13px !important; position:relative;}
    .bigmegamenu{ position:static !important; }
    .wsmenu-list li a { white-space:nowrap !important; padding-left:4px !important; padding-right:10px !important;}
    .megacollink {width:48%; margin:1% 1%;}
    .typographylinks{width:48%; margin:1% 1%;}


}




@media only screen and (min-width: 979px) {

    .wsmenu-list li:hover > .wsmenu-submenu{display:block !important;}
    .wsmenu-submenu li:hover > .wsmenu-submenu-sub{display:block !important;}
    .wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{display:block !important;}
    .wsmenu-list li:hover > .megamenu{display:block !important;}

}


/*------------------------------------ Mobile CSS ---------------------------------------------*/
@media only screen and (max-width: 979px) {
    .wsoffcanvasopener .wsmenu {
        right: 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .wsmenucontainer.wsoffcanvasopener {
        display: block;
        margin-right: 70%;
    }

    .wsmobileheader {
        display: block !important;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }

    .wsmenu-list > li:hover > a {
        background-color: rgba(0, 0, 0, 0.08) !important;
        text-decoration: none;
    }

    .hometext {
        display: inline-block !important;
    }

    .megacollink {
        width: 96% !important;
        margin: 0% 2% !important;
    }

    .megacolimage {
        width: 90% !important;
        margin: 0% 5% !important;
    }

    .typographylinks {
        width: 98% !important;
        margin: 0% 1% !important;
    }

    .typographydiv {
        width: 86% !important;
        margin: 0% 7% !important;
    }

    .mainmapdiv {
        width: 90% !important;
        margin: 0% 5% !important;
    }

    .overlapblackbg {
        left: 0;
        z-index: 102;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }

    .wsoffcanvasopener .overlapblackbg {
        display: block !important;
    }

    /* Default Theme */
    .wsmenu-submenu > li:hover > a {
        background-color: #7b7b7b;
        color: #666666;
    }

    .wsmenu > .wsmenu-list > li > a.active {
        color: #666666;
        background-color: rgba(0, 0, 0, 0.08);
    }

    .wsmenu > .wsmenu-list > li > a:hover {
        color: #666666;
        background-color: rgba(0, 0, 0, 0.08);
    }

    .wsmenu-list li:hover .wsmenu-submenu {
        display: none;
    }

    .wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
        display: none;
    }

    .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
        display: none;
        list-style: none;
        padding: 2px;
        border: solid 1px #eeeeee;
        background-color: #fff;
    }

    .wsmenu-list li:first-child a {
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
    }

    .wsmenu-list li:last-child a {
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        border-right: 0px solid;
    }

    .innerpnd {
        padding: 0px !important;
    }

    .typography-text {
        padding: 10px 0px;
    }

    .wsmenucontainer {
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        min-height: 800px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    /* Mobile click to drop arrow */
    .wsmenu-click {
        height: 43px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

    .wsmenu-click i {
        display: block;
        height: 23px;
        width: 25px;
        margin-top: 11px;
        margin-right: 8px;
        background-size: 25px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.25);
        float: right;
    }

    .wsmenu-click02 {
        height: 43px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

    .wsmenu-click02 i {
        display: block;
        height: 23px;
        width: 25px;
        margin-top: 11px;
        margin-right: 8px;
        background-size: 25px;
        font-size: 21px;
        color: rgba(0, 0, 0, 0.25);
        float: right;
    }

    .ws-activearrow > i {
        transform: rotate(180deg);
    }

    .wsmenu-rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    /*2nd UL Style*/
    .wsmenu-submenu-sub {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0px !important;
        padding: 0px !important;
        border: solid 0px !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .wsmenu-submenu-sub li {
        margin: 0px 0px 0px 0px !important;
        padding: 0px;
        position: relative;
    }

    .wsmenu-submenu-sub a {
        display: block;
        padding: 10px 25px 10px 25px;
        border-bottom: solid 1px #ccc;
        font-weight: normal;
    }

    .wsmenu-submenu-sub li a.active {
        color: #000 !important;
    }

    .wsmenu-submenu-sub li:hover > a {
        background-color: #333333 !important;
        color: #fff;
    }

    .wsmenu-list > li > a .fa {
        margin-right: 6px;
    }

    .wsmenu-submenu-sub-sub {
        width: 100% !important;
        position: static !important;
        left: 100% !important;
        top: 0 !important;
        display: none;
        margin: 0px !important;
        padding: 0px !important;
        border: solid 0px !important;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .wsmenu-submenu-sub-sub li {
        margin: 0px 0px 0px 0px !important;
    }

    .wsmenu-submenu-sub-sub a {
        display: block;
        color: #000;
        padding: 10px 25px;
        background: #000 !important;
        border-bottom: solid 1px #ccc;
        font-weight: normal;
    }

    .wsmenu-submenu-sub-sub li a.active {
        color: #000 !important;
    }

    .wsmenu-submenu-sub-sub li:hover > a {
        background-color: #606060 !important;
        color: #fff;
    }

    .wsmenu {
        position: relative;
        padding:0;
    }

    .wsmenu .wsmenu-list {
        height: 100%;
        overflow-y: auto;
        display: block !important;
    }

    .wsmenu .wsmenu-list > li {
        width: 100%;
        display: block;
        float: none;
        border-right: none;
        background-color: transparent;
        position: relative;
        white-space: inherit;
    }

    .wsmenu > .wsmenu-list > li > a {
        padding: 9px 32px 9px 17px;
        font-size: 14px;
        text-align: left;
        border-right: solid 0px;
        background-color: transparent;
        background: none;
        color: #666666;
        line-height: 25px;
        border-bottom: 1px solid;
        border-bottom-color: rgba(0, 0, 0, 0.13);
        position: static;
    }

    .wsmenu > .wsmenu-list > li > a > .fa {
        font-size: 16px;
        color: #bfbfbf;
    }

    .wsmenu .wsmenu-list li a .arrow:after {
        display: none !important;
    }

    .wsmenu .wsmenu-list li ul li a .fa.fa-caret-right {
        font-size: 12px !important;
        color: #8E8E8E;
    }

    .mobile-sub .wsmenu-submenu {
        transform: none !important;
        opacity: 1 !important;
        display: none;
        position: relative !important;
        top: 0px;
        background-color: #fff;
        border: solid 1px #ccc;
        padding: 0px;
        visibility: visible !important;
    }

    .mobile-sub .wsmenu-submenu li a {
        line-height: 20px;
        height: 36px;
        background-color: #e7e7e7 !important;
        font-size: 13px !important;
        padding: 8px 0px 8px 18px;
        color: #8E8E8E;
    }

    .mobile-sub .wsmenu-submenu li a:hover {
        background-color: #e7e7e7 !important;
        color: #666666;
        text-decoration: underline;
    }

    .mobile-sub .wsmenu-submenu li:hover > a {
        background-color: #e7e7e7 !important;
        color: #666666;
    }

    .mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a {
        line-height: 20px;
        height: 36px;
        background-color: #e7e7e7 !important;
        border-bottom: none;
        padding-left: 28px;
    }

    .mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a {
        line-height: 20px;
        height: 36px;
        background-color: #e7e7e7 !important;
        border-bottom: none !important;
        padding-left: 38px;
        color: #8e8e8e;
    }

    .wsmenu-list .megamenu {
        background-color: #e7e7e7;
        color: #666666;
        display: none;
        position: relative !important;
        top: 0px;
        padding: 0px;
        border: solid 0px;
        transform: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .wsmenu-list li:hover .megamenu {
        display: none;
        position: relative !important;
        top: 0px;
    }

    .megamenu .title {
        color: #666666;
        font-size: 15px !important;
        padding: 10px 8px 10px 0px;
    }

    .halfdiv .title {
        padding-left: 15px;
    }

    .megamenu > ul {
        width: 100% !important;
        margin: 0px;
        padding: 0px;
        font-size: 13px !important;
    }

    .megamenu > ul > li > a {
        padding: 9px 14px !important;
        line-height: normal !important;
        font-size: 13px !important;
        background-color: #e7e7e7 !important;
        color: #666666;
    }

    .megamenu > ul > li > a:hover {
        background-color: #000000 !important;
    }

    .ad-style {
        width: 100% !important;
    }

    .megamenu ul li.title {
        line-height: 26px;
        color: #666666;
        margin: 0px;
        font-size: 15px;
        padding: 7px 13px !important;
        border-bottom: 1px solid #ccc;
        background-color: transparent !important;
    }

    .halfdiv {
        width: 100%;
        display: block;
    }

    .halfmenu {
        width: 100%;
        display: block;
    }

    .menu_form {
        padding: 10px 10px 63px 10px;
        background-color: #e7e7e7;
    }

    .menu_form input[type="button"] {
        width: 46%;
    }

    .menu_form input[type="submit"] {
        width: 46%;
    }

    .menu_form textarea {
        min-height: 100px;
    }

    .wsmenu {
        width: 70%;
        right: -70%;
        height: 100%;
        position: fixed;
        top: 0;
        margin: 0;
        background-color: #fff;
        border-radius: 0;
        z-index: 103;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border: none !important;
        background-color: #fff !important;
    }

    /*.wsoffcanvasopener .wsmenu {
        width:240px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        }

    .wsmenu.menuclose{
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        }*/
    /* Navigation arrow Animation */
    .animated-arrow {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 102;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .callusicon {
        color: #c9c9c9;
        font-size: 25px;
        height: 25px;
        position: fixed;
        left: 15px;
        top: 13px;
        transition: all 0.3s ease-in-out 0s;
        width: 25px;
        z-index: 102;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .callusicon:focus, callusicon:hover {
        color: #fff !important;
    }

    .wsoffcanvasopener .callusicon {
        display: none !important;
    }

    .smallogo {
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 9px;
        position: absolute;
        z-index: 101;
        width: 100%;
        height: 52px;
        background: white;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#262626', GradientType=0);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    }

    .animated-arrow {
        cursor: pointer;
        padding: 13px 35px 16px 0px;
        margin: 10px 10px 0 0px;
    }

    .animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
        cursor: pointer;
        height: 3px;
        width: 23px;
        background: #c9c9c9;
        position: absolute;
        display: block;
        content: '';
    }

    .animated-arrow span:before {
        top: -7px;
    }

    .animated-arrow span:after {
        bottom: -7px;
    }

    .animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
        transition: all 500ms ease-in-out;
    }

    .wsoffcanvasopener .animated-arrow span {
        background-color: transparent;
    }

    .wsoffcanvasopener .animated-arrow span:before, .animated-arrow.active span:after {
        top: 7px;
    }

    .wsoffcanvasopener .animated-arrow span:before {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        bottom: 0px;
    }

    .wsoffcanvasopener .animated-arrow span:after {
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    /*Animation None */
    .wsmenu-list li > .wsmenu-submenu {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
    }

    .wsmenu-list li:hover > .wsmenu-submenu {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
    }

    .wsmenu-submenu li > .wsmenu-submenu-sub {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
    }

    .wsmenu-submenu li:hover > .wsmenu-submenu-sub {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .wsmenu-list li > .megamenu {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .wsmenu-list li:hover > .megamenu {
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .wsmenu .cart a{
        background-image: none;
    }

    .wsmenu .cart a:hover {
        background-image: none;
    }
}