@media (max-width: 979px) {
    #main-menu {float: none}
	#manualfinder .selection.empty .empty-msg span {display: inline}
	ul.product-detail-nav > li > a {width: auto; padding-left:12px; padding-right: 12px; min-width: 0}

    .product-image{width:100%}

	/* sp table */
	.sp-table .img {width: 80px} /*60*/
	.sp-table .sp-row .row-inner {/*margin-left: 80px;*/}

    .sp-header .cart {display: none;}

	.sp-table .pos 		{width: 60px}
	.sp-table .sku 		{width: 125px}
	.sp-table .desc 	{width: 220px;} /*200*/
	.sp-table .price 	{width: 80px;}
	.sp-table .qty 		{width: 80px;}
	.sp-table .cart 	{width: 30px}

    .sp-table .action-wrap {width: auto;}

    #spareparts-view > div {
        display: block;
    }
    .menu-wrap.search {
        clear: both;
        width:100%;
        position:relative;
        margin:0 auto;
        padding:20px 20px 0 20px;

    }

    .menu-wrap.search .search-form {
        margin: 10px;
    }
    .navbar .btn-navbar {display: none;}
    .nav-collapse, .nav-collapse.collapse { height: auto; overflow: visible;}

   .servicecenter-retoure-nav {
      font-size: 12px;
   }
    .pager {text-align:center}
    .pager .limiter {text-align:center}
    .pager .span5{
        padding-top:5px;
    }
    .pager .span4{
        padding-top:5px;
    }
    .pager .span3{
        padding-top:5px;
    }
    .buybox{
        margin-top:30px;
    }

    .product-detail-row{
        margin-top:50px;
    }

    .input-wrap-isotope{
        position:absolute;top:5px; right:10px;background-color: #f1f5f8;
    }

    /*Isc Menu*/
    .wrapper{
        position:absolute;
        right:0;
        left:0;
    }

    .top-links .fa {
        font-size:18px;
    }

    h1.logo, a.logo img {
        margin: 0 0 0 0;
    }

}


@media (min-width: 768px) and (max-width: 979px) {
	.manufacturer-grid .item-wrap {height: 73px;}

	.step-title h2 {font-size: 18px;}
    .navbar .btn-navbar {display: none;}
    .nav-collapse, .nav-collapse.collapse { height: auto; overflow: visible;}

}


@media (max-width: 767px) {
	.step-title h2 {font-size: 15px;}
	.step-title a {font-size: 12px;}
	#checkoutSteps div.step {padding: 15px 10px;}

	.sidebar-filter-year select {margin:0 10px 0 0}
	h4.subcategory-header {margin-top: 25px;}


	/* sp table */
	.sp-table .pos {display: none}
	.sp-header .price, .sp-header .qty, .sp-header .cart {display: none}

	.sp-header .desc {background: none}
	.sp-row .desc {width: 36% !important;}
    .sp-table .sku {display: none;}


	.sidebar-filter-wrap {background:none; padding:0; margin-bottom: 10px;}
	.sidebar-filter {background:none; min-height: 0}



	#product-slider-content {display:none}

	.top-links-wrap {font-size: 12px;}
    .top-links-wrap.row-fluid:after {clear: none;}
    .menu-wrap.search {
        clear: both;
    }

    .menu-wrap.search .search-form {
        margin-top: 5px;
    }

    body {
        padding: 0;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
	.page-header .container {
		padding: 0
	}

    .page-header > .container > .row > .span2 {
        width: 80px;
        float:left;
		margin-left: 20px;
        margin-bottom: 5px;
    }

    .span10.menu-wrap {
        width: auto;
        margin-top: 13px;
        margin-left: 120px;
		margin-right: 20px;
    }
    .top-links {margin-right: 0}

    #main-menu li a {
        font-size: 14px;
    }

    #slider {
        min-height: auto;
        height: auto;
        padding-bottom: 0
    }
	#slider .boxes {
		margin-top:10px; margin-bottom: 10px;
	}
    #slider .boxes > .span4 {
        margin-top:10px;
    }
    #slider .boxes p {
        min-height: auto;
    }

    #slider .boxes .image {
        height: auto;
        min-height: 30px;
    }

    #quickorder .header {margin-bottom: 5px;}
    #quickorder .btn-center {text-align: left; margin-top: 10px}
    #manualfinder > .container > .row {padding: 20px 0}
	#manualfinder > .container > .row > .span4 {margin-bottom: 20px;}
	#manualfinder > .container > .row > .span4:last-child {margin-bottom: 0}

    #serviceline .span4 {text-align: center; margin-bottom: 20px;}
    #serviceline .row > .span4:last-child {margin-bottom: 0}

	footer .header {margin-bottom: 10px;}
	footer > .row:first-child > div {margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #B2CAD6}

	/* product detail tabs */
	.product-detail-tab-wrap {background:none}
	ul.product-detail-nav > li {margin-bottom:10px;}
	ul.product-detail-nav > li a, ul.product-detail-nav > li,
	ul.product-detail-nav > li > a, ul.product-detail-nav> li > a:hover, ul.product-detail-nav > li > a:focus
		{background: none; border: 1px solid #cbd6dc}
	ul.product-detail-nav > li.active {background: none; background-color: #fff;}

   .servicecenter-retoure-nav div {
      font-size: 10px;
      text-align: left;
   }

   .servicecenter-retoure-nav div span {
      margin-left: 25px;
   }

   #servicecenter .bodytext {
      padding: 0 10px;
   }

    #servicecenter #product-functionality .radio.inline, div.page #content .cmsplus .menu li.page{
        width: 95%;
        color: #005f9e;
        line-height: 22px;
        background-image: linear-gradient(to bottom, #FFFFFF, #f0f5f8);
        -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        border: 0;
        text-shadow: none;
        cursor: pointer;
        background-color: #f5f5f5;
        margin: 5px 0 5px 0;
        padding: 5px 0 5px 30px;
    }

    #servicecenter .failure-type-submit {
        width: 96%;
    }

   #choose-methods #method-chooser {
      margin-bottom: 10px;
   }

   #choose-methods #method-chooser label {
      display: inline-block;
      width: 45%;
      padding: 8px 2%;
      background: #F1F5F8;
      border-bottom: 2px solid #DCE7EB;
   }

   #choose-methods #method-chooser label.active {
      background: none;
      border: none!important;
   }

   #choose-methods #method-chooser label:last-child {
      border-left: 2px solid #DCE7EB;
   }

   #choose-methods #method-chooser label:first-child {
      border-right: 2px solid #DCE7EB;
   }

   #choose-methods #method-chooser label {
      font-weight: bold;
   }

   #choose-methods #method-chooser input {
       display: none; visibility: hidden;
   }

   .servicecenter-error-page .block {
      padding: 10px;
   }
    div.page #content .cmsplus .menu li.page i[class^="icon-"] {
        display: inline-block;
    }
    div.page #content .cmsplus .menu li.page.active a { background: none; color: #333; }

    div.page #content .cmsplus .menu li.page {  margin: 10px 5px; width: 98%; padding: 5px 0 5px 0; }

    #product-functionality {
        margin-top:0px;
    }

    .header-span2{
        padding-right:10px;
    }
}

@media (max-width: 520px) {

	#search-autocomplete {min-width: 0}

	.phone-only {display: block; }
    .navbar .btn-navbar {display: block;}

    #main-menu.nav {float: left;}
    #main-menu > li.category {background: none; float: left; min-height: 20px; width: 100%; }
    #main-menu > li.category a:hover,  #main-menu > li.category a { background: none !important;}
    #main-menu > li.category a {
        font-size: 13px;
        line-height: 20px;
        padding: 10px 15px;
        text-align: left;
    }
    .nav-collapse, .nav-collapse.collapse { height: 0px; overflow: hidden;}

    #main-menu .menu-name {display: block !important; visibility: visible; }

    .page-header > .container > .row > .span2 {
        width: 58px;
        float:left;
    }
    .span10.menu-wrap {
        margin-left: 90px;
        margin-top: 6px;
    }

	.container {padding-left:10px; padding-right:10px}

   .servicecenter-retoure-nav div {
      font-size: 8px;
   }

   #servicecenter #choose-methods ul li label {
      font-size: 13px;
   }
}

