@import "bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

* {outline:0}
*::-moz-focus-inner {
	border: 0;
}

/* GLOBAL STUFF */
h1.logo, a.logo img { margin: 13px 0 0 0 ; border:none;}
h1.logo a.logo img { margin: 0 }
h1.logo strong { display: none }
body { font-family: 'Roboto', sans-serif; font-weight: 400; min-width: 325px;}
form { margin: 0 }
a, a:focus, a:active { outline: 0 }
ul, ol, li { padding: 0; margin: 0; list-style-type: none }
.page { background-color: #fff; padding:5px 5px 50px 5px}
body, footer { background-color: #f1f5f8; color: #535E64}
.page > .content { min-height: 300px; }
.nav {margin: 0}
.phone-only {display:none}
.nobr {white-space:nowrap;}

img {max-height: 100%}
#content {padding:0 0 0 0;}


a {color: #005F9E}

.col-main .cmspluspage ol li {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 1.2em;
}
.col-main .cmspluspage ul,
.col-main .cmspluspage ul li {
	list-style-type: disc;
	list-style-position: inside;
	padding: 5px 10px;
}

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set:after {clear: both; display: table;content: ""; line-height: 0; }

input {margin:0;}
input[type="text"], input[type="password"] {border-radius: 4px; box-shadow: none}
input[type="text"], input[type="password"], textarea, select {background-color: #F1F5F8}
.form-list li.control .input-box, .form-list li.control > .checkbox {float: left}
.form-list li.control input[type="checkbox"] {margin:2px 4px 0 0}
label.required em {margin-right: 4px;}
.input-box .validation-advice {margin:0 0 20px 0; color: #DD1E2F; font-size:12px;}

ul.messages {margin: 20px 0}
ul.messages > li {padding: 15px}
ul.messages .success-msg {    color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;}
ul.messages .notice-msg {    color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;}
ul.messages .error-msg {    color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;}

.box-title.with-link h3 {margin:0; float: left}
.box-title.with-link a {float: right; margin-right: 10px; line-height: 40px}
.offset-bottom {margin-bottom: 30px;}

/* page pager */
.pager {margin:10px 0 15px 0;}
.pager .amount {float:left;margin: 0; line-height: 30px;}
.pager .limiter {float:right; line-height: 30px;}
.pager .limiter label {display: inline}
.pager .limiter select {width: 60px; margin:0 10px;}

.pager li >a {
	border-radius: 4px;
}

.pager .current{
	display: inline-block;
	padding: 5px 14px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color:#0082BF;
	color:white;
}


.pager .span2{
	padding-top:5px;
}
.pager .span5{
	padding-top:5px;
}


.sorter label{
	display: inline;
}

.sorter select{
	width:50%;
	margin: 0 10px;
}

/* sidebar */
.sidebar {padding-top: 20px}
.sidebar .block {margin: 0 0 20px 0}
.sidebar .block .block-title {margin:0 0 10px 0}


h1, h2 {font-weight: 300}
.page-title h1 {margin-top: 20px}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: #005F9E;
	box-shadow: none;
	outline: 0 none;
}

.input-wrap {
	background-color: #FFFFFF;
	border:           1px solid #CCCCCC;
	box-shadow:       0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius:    4px 4px 4px 4px;
	color:            #555555;
	font-size:        14px;
	line-height:      20px;
	vertical-align:   middle;
	padding:          5px 6px;
	position: relative
}
.input-wrap input, .input-wrap input:focus, .input-wrap input:active {
	border:           0;
	background-color: transparent;
	border-radius:    0;
	width:            100%;
	padding:          0;
	box-shadow:       none;
	margin-bottom:	  0
}
.input-wrap button.search-button {
	position:   absolute; right: 12px; top: 8px; border: 0;
	background: transparent url('../img/icons/magnifier.png') center center no-repeat;
	background-size: 16px 16px;
	width:      16px; height: 16px; overflow: hidden; text-indent: -9999px;
}
#search_mini_form button.reset-button {right: 36px;}
.input-wrap button.search-button.reset-button {
	background: transparent url('../img/icons/icon-reset.png') center center no-repeat;
}
.input-wrap button.search-button.reset-button:hover {
	background-image: url('../img/icons/icon-reset-hover.png');
}
.input-wrap select {
	margin:0; padding: 0; border: 0; width: 100%;
	height: 22px; line-height: 22px; background-color: #fff;
}
.input-wrap select:focus, .input-wrap select:active {
	border: 0;
	outline:0;
}

.btn {
	padding-left:0; padding-right: 0; line-height: 22px;
	background-image:   linear-gradient(to bottom, #FFFFFF, #f0f5f8);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	border:             0;
	text-shadow:        none;
}
.btn:hover, .btn:focus {
	background-position: 0 0;
	background-image:    linear-gradient(to bottom, #FFFFFF, #cbd3d7);
}
.btn:hover a, .btn:hover a { text-decoration: none }
.btn, .btn a {font-size: 14px; color: #005f9e; padding: 4px 8px}
.btn a {padding:5px 12px;}
.btn.small a {font-size: 14px; padding: 3px 9px}
.btn i {
	margin-bottom: -1px;
	width:         14px; height: 14px; display: inline-block; border-radius: 3px; margin-right: 4px;
	background:    #b2cad6 url('../img/icons/button-arrow.png') 5px 3px no-repeat;
}
.btn-center { text-align: center }
a.btn {padding-left: 12px; padding-right: 12px;}
.btn-submit {padding:4px 10px; font-size: 14px}
p.back-link {display: none}

.box-title a {float: right}

p.required {color: #7a7a7a; margin-bottom: 20px}


/* TEXT STYLING */
.inset-shadow {
	/* Shadows are visible under slightly transparent text color */
	color: rgba(10,60,150, 0.8);
	text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 2px 4px #def;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

h1 {
	font-size:24px;
	border-bottom: 1px solid #ddd;
	line-height: 24px;
}

h2 {
	font-size:20px;
	line-height: 20px;
}

h1, h2 {word-wrap:break-word; }

h1, h2, h3, h4, h5, h6 {
	padding: 10px 0 5px 0;
	color: #0088cc;
}


/* HEADER */
.page-header { border: 0; margin: 0; padding: 0; background: #fff url('../img/header-background.png') bottom left repeat-x }
.header-actions { margin-top: 10px; }
.header-actions-wrap { float: right; }
.form-language { float: left; margin-right: 20px }
.form-language select { display: none; width: 120px; margin: 0 }
.form-language a.dropdown-toggle { color: #7A858D; font-weight: 500 }
.form-language .caret, .top-links .caret { border-top-color: #7A858D }
.form-language .dropdown-menu > li > a{ padding-left: 0px; }
.form-websites { float: left; margin-right: 15px }
.form-websites select { display: none; width: 120px; margin: 0 }
.form-websites a.dropdown-toggle { color: #7A858D; font-weight: 500 }
.form-websites .caret, .top-links .caret { border-top-color: #7A858D }
.form-websites .dropdown-menu > li > a{ padding-left: 0px; }
.top-links { float: left; }
.top-links a.dropdown-toggle { margin-right: 15px; }
.top-links a { color: #7A858D; margin-right: 15px }
.top-links-wrap { margin-top: 6px; }
.header-actions-wrap a:hover, .header-actions-wrap a:focus { text-decoration: none; color: #0098D9 }
.top-links .login-form { padding: 15px 30px; }
.top-links-outer { min-height: 32px; }
.header-actions-wrap .dropdown-menu { left: -50% }
.menu-wrap { margin-top: 10px; }

/* SERVICE LINE */
#serviceline {
	color:      #fff; position: relative;
	background: transparent url('../img/serviceline-background.png') bottom left repeat-x;}
#serviceline-handle {
	cursor:     pointer;
	position:   absolute; top: -20px; left: 50%; margin-left: -26px;
	background: transparent url('../img/serviceline-handle.png') 0 20px;
	display:    block; width: 52px; height: 20px;
}
#serviceline-handle.open {
	background-position: 0 0;
}
#serviceline .serviceline-header { margin-top: 5px; margin-bottom: 5px; text-align: center; }
#serviceline-arrow { position: absolute; }

#serviceline .header { font-size: 22px; font-weight: 500; margin-bottom: 4px; }
#serviceline .phone { font-size: 18px; font-weight: 300; line-height: 30px; }
#serviceline .remark { font-size: 13px; opacity: 0.8; line-height: 18px; }
#serviceline .medium { font-size: 18px; font-weight: 300; line-height: 24px }
.serviceline-inner { padding: 10px 0 20px 0 }
.serviceline-content {display:inline-block; padding-left: 60px; background: transparent url('../img/icons/serviceline.png') center left no-repeat;
	background-size: 45px 72px;
}

/* SLIDER */
#slider { overflow: hidden; min-height: 410px; position: relative; padding-bottom: 10px;
	background:     #0078B3 url('../img/home-slider-background.png') center center no-repeat }
#slider > .shadow, #breadcrumbs > .shadow { position: absolute; top: 0; left: 50%; margin-left: -840px; width: 1680px; height: 20px;
	background:                                       transparent url('../img/slider-shadow.png') center top no-repeat
}
#slider .boxes > .span4 {
	margin-top:         40px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}
#slider .boxes > .span4 > .inner {
	padding-bottom: 15px;
	background: transparent url('../img/home-slider-aura-background.png') top center no-repeat;
}
#slider .boxes .image { height: 175px; }
#slider .boxes p { font-size: 18px; color: #fff; padding: 0 30px; text-align: center; min-height: 100px; }
#slider .orange, #slider .orange i { background-color: #f16101; }
#slider .grey, #slider .grey i { background-color: #8aa8b0 }
#slider .green, #slider .green i { background-color: #92c46d }
#slider .btn-wrap { text-align: center }
#slider #product-slider-content {
	position:absolute;
	top: 0;
	left: 0; ;
	height: 420px;
	width: 0;

}
#slider #product-slider-content .margin-content {
	height: 100%;
	background: #009dc8;
	margin-right:60px;
}
#slider #product-slider-content .inner {
	position: relative;
	height: 100%;
}
#slider #product-slider-content.open {
	width: 100%;
}
#slider #product-slider-handle {
	width: 35px; height: 420px; background: transparent url('../img/product-slider-handle.png') center center no-repeat;
	position: absolute; right: -35px;
	cursor: pointer;
}
#slider #slider-left {
	display: none;
	padding: 40px;
}
#slider .open #slider-left {
	display: block;
}
#slider #product-slider-content.open #product-slider-handle {
	right: -35px;
}

#slider .container .row.boxes .inner a:hover{
	text-decoration: none;
}
#slider ul, #slider ol, #slider li {
	list-style-type: disc;
}


/* BREADCRUMBS */
#breadcrumbs { background: transparent url('../img/breadcrumbs-background.png') center top repeat-y; overflow: hidden; position: relative }
#breadcrumbs ul { margin: 30px 0 30px 0 }
#breadcrumbs li { float: left; }
#breadcrumbs li.home a { width: 16px; height: 20px; overflow: hidden; display: block; float: left;
	background:                 transparent url('../img/icons/breadcrumb-home.png') center center no-repeat; text-indent: -9999px }
#breadcrumbs, #breadcrumbs a { color: #fff }

/* FOOTER */
footer { margin-top: 25px; margin-bottom: 25px; font-size: 14px; }
footer .header, .cms-menu.header {color: #005f9f;font-size: 18px;line-height: 120%;margin: 0 0 15px 0;}
footer ul, footer .cmsplus ul.menu { list-style-image: url('../img/icons/list-arrow.png') }
footer ul li, footer .cmsplus ul.menu li.page { margin-left: 14px; }
footer ul a, footer ul, footer .cmsplus ul.menu a, footer .cmsplus ul.menu { color: #7B858E }
footer .right { float: right }
footer .footer-bottom { font-size: 12px; color: #7B858E; margin-top: 20px; }
footer .logos {margin-top: 8px}
footer img.trust-img {float: left}
footer ul.trust-list, footer .cmsplus ul.menu.trust-list {margin-left: 80px}
footer .cmsplus .menu li a { border: 0 !important; font-size: 14px; padding: 0 !important;}
footer li.page {background: transparent !important; padding: 0 !important; line-height: 20px;}
footer .cmsplus .menu { border-top: 0;}
footer .cmsplus .menu a:hover {background: none; border-left: none !important; color: #7B858E !important;}
footer .cmsplus li.page a:hover,
footer .cmsplus li.page a:focus {color: #005F9E !important; text-decoration: underline;}

footer .footer-bottom .cmsplus ul.menu li.page { margin-left: 5px}
footer .footer-bottom .cmsplus li.page {display: inline-block;}
footer .footer-bottom .cmsplus li.page a {color: #005F9E; font-size: 12px;}
footer .footer-bottom .cmsplus li.page a:hover,
footer .footer-bottom .cmsplus li.page a:focus {color: #005F9E !important; text-decoration: underline;}
footer .footer-bottom .cmsplus li.page a:after { display: inline-block; float: right; margin-left: 5px}
footer .footer-bottom .cmsplus li.page:first-child a:after { content: '';}

/* QUICK ORDER */
#quickorder { background-color: #e8f0f3; padding: 15px 0 }
#quickorder input { margin: 0 }
#quickorder .header, #manualfinder .header { line-height: 32px; font-size: 24px; color: #005f9e; font-weight: 300 }
#quickorder .input-wrap { border: 0 }

/* MANUAL FINDER */
#manualfinder > .container > .row {
	padding: 50px 0 60px
}
#manualfinder p {margin: 0}
#manualfinder .header { margin-bottom: 12px; }
#manualfinder .selection {
	padding: 15px;
	height: 100%; min-height: 160px;
	background-color: #fff;
}
#manualfinder .selection .header-medium {
	text-align: center; color: #005F9E; font-size: 18px;
	margin: 25px 0 10px 0;
}
#manualfinder .selection .header-medium:first-child {
	margin-top: 0
}
#manualfinder .selection .input-wrap {border-color: #B2CAD6}
#manualfinder .selection .empty-msg {display: none}
#manualfinder .selection.empty .empty-msg {display:block; text-align: center;
	margin-top: 60px; color: #B2CAD6; font-size: 15px;}
#manualfinder .selection.empty .empty-msg span {display: block}

/* SEARCH FORM */
.form-search label { display: none }
#search_mini_form .input-wrap { border: 0; background-color: #f1f5f8; padding-right: 36px; box-shadow: 2px 2px #0098D9;}

/* MAIN MENU */
#main-menu { margin-top: 15px;}
#main-menu li {
	float:      left; min-height: 81px; width: 20%;
	background: transparent url('../img/main-menu-item-border.png') top right no-repeat
}
#main-menu.itemcount-6 li {width: 16.665%}
#main-menu li a {
	display: block; padding: 50px 6px 6px 6px; text-align: center;
	color:   #7a858d; font-size: 16px;
}
#main-menu li.active {
	background-image: url('../img/main-menu-item-border-active.png');
}
#main-menu li.active a {
	color: #0098d9;
	background-color: transparent;
	box-shadow: none;
}

#main-menu li a {background-position: center top; background-repeat: no-repeat; text-decoration: none }
#main-menu li.category-tools a 				{background-image: url('../img/icons/main-tools.png'); background-size: 54px 40px; }
#main-menu li.category-garden a 			{background-image: url('../img/icons/main-garden.png'); background-size: 45px 42px; }
#main-menu li.category-accessory a 	        {background-image: url('../img/icons/main-accessory.png'); background-size: 44px 42px; }
#main-menu li.category-air-conditioning-and-heating a 	        {background-image: url('../img/icons/main-klima-und-heizen.png'); background-size: 44px 42px; }
#main-menu li.page-service-center a 			{background-image: url('../img/icons/main-servicecenter.png'); background-size: 28px 38px; }
#main-menu li.page-isc-contact a 				{background-image: url('../img/icons/main-contact.png'); background-size: 32px 21px;
	background-position: center 10px }
#main-menu li.cart a 						{background-image: url('../img/icons/main-cart.png'); background-size: 31px 30px;
	background-position: center 6px }

#main-menu li:hover a, #main-menu li a:hover {
	text-decoration: none;
	color:           #3f4549 }
#main-menu li.category-tools.active a, #main-menu li.category-tools:hover a { background-image: url('../img/icons/main-tools-active.png') }
#main-menu li.category-garden.active a, #main-menu li.category-garden:hover a { background-image: url('../img/icons/main-garden-active.png') }
#main-menu li.category-air-conditioning-and-heating.active a, #main-menu li.category-air-conditioning-and-heating:hover a { background-image: url('../img/icons/main-klima-und-heizen-active.png') }
#main-menu li.category-accessory.active a, #main-menu li.category-accessory:hover a { background-image: url('../img/icons/main-accessory-active.png') }
#main-menu li.page-service-center.active a, #main-menu li.page-service-center:hover a { background-image: url('../img/icons/main-servicecenter-active.png'); }
#main-menu li.page-isc-contact.active a, #main-menu li.page-isc-contact:hover a { background-image: url('../img/icons/main-contact-active.png'); }
#main-menu li.cart.active a, #main-menu li.cart:hover a { background-image: url('../img/icons/main-cart-active.png') }

.main-menu-wrap .navbar-inner {background: none; box-shadow: none; border: none;}
#main-menu.nav {float: inherit;}
#main-menu.nav > li a:hover {background-color: transparent;}

/* CATEGORY / PRODUCT LISTS */
ul.letters {margin: 0; padding: 0; display: table; table-layout: auto; width: 100%; }
ul.letters li {max-width: 50px; display: table-cell; text-align: center; line-height: 30px; } /*  width: 7.68% */
ul.letters li a {display: block; width: 100%; height: 100%; text-transform: capitalize}

ul.letters li:hover, ul.letters li.active {background: transparent url('../img/manufacturer-filter-active-left.png') top left no-repeat}
ul.letters li:hover a, ul.letters li.active a {
	text-decoration: none;
	background: transparent url('../img/manufacturer-filter-active-right.png') top right no-repeat}

.page .content-head {
	background: #f1f5f8 url('../img/content-header-background.png') top left repeat-x;
}
.category-header {
	font-size: 38px; line-height: 42px; color: #005F9E;
}
.category-intro {font-size: 18px; line-height: 27px; color: #545E64}
.content-head-inner {
	margin-top: 40px;
}
.catalog-category-view .content-main > .container {min-height: 300px;}
.catalog-category-view .span9 {
	position: relative;
}

.content-main{padding-bottom:40px;}

.modal {
	max-height: 90%;
	overflow-y: auto;
}

.modal .thumbnails{
	text-align:center;
}
.modal .version-title{
	font-size:24px;
	color:#08c;
	padding:10px 0 5px 0;
	font-weight: bold;
	margin: 10px 0;

}

.modal .version-subtitle{
	font-size:20px;
}

.modal .version-identno-title{

}

.modal .version-identno{
	font-size:20px;
	font-weight:bold;
}

/* MANUFACTURER/BRAND SELECTION */
.manufacturer-filter {margin-top:45px; line-height: 30px; }
.manufacturer-filter a.view-mode {display:inline-block; width: 19px; height: 17px; text-indent: -9999px;
	background: transparent url('../img/icons/viewmode-list.png') 0 0 no-repeat; margin-left: 10px;
}
.manufacturer-filter a.view-mode.grid {background-image: url('../img/icons/viewmode-grid.png')}
.manufacturer-filter a.view-mode.active {background-position: 0 -17px}

#manufacturer-list .item-name {padding:3px 0 3px 10px; border-bottom:1px solid #DCE7EC}
.manufacturer-grid .item-wrap {background-color: #f1f5f8; margin-bottom:10px; height: 99px}
.manufacturer-grid .item-wrap {position: relative; }
.manufacturer-grid .item-wrap:hover {outline: 3px solid #0091d0; outline-offset: -3px}
.manufacturer-grid .item-wrap .link {
	position: absolute; z-index: 5; top:0; left:0;
	width:100%; height:100%; background-color:#0098d9;
	transition: opacity 0.2s ease-in-out; opacity: 0}
.manufacturer-grid .item-wrap .name { display: none; z-index:10; position: absolute; top:50%; margin:-10px 0 0 0; left:0; text-align: center; width: 100%}

.manufacturer-grid .item-wrap:hover .link {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.manufacturer-grid .item-wrap img {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.manufacturer-header {margin:36px 0; color: #005f9f}
.manufacturer-header img {max-height: 126px; border:1px solid #dce7eb}
.manufacturer-header .name {font-size: 40px; font-weight: normal; line-height: 60px;}
.manufacturer-header .stats {line-height: 30px; font-size: 22px}
.manufacturer-header-mini .stats {display: none}
/*.manufacturer-header-mini {max-height: 60px}*/
.manufacturer-header-mini .span3 img {max-height: 60px;}
.manufacturer-header-mini {margin: 15px 0;}

.manufacturer-list-wrap {padding-top:30px;}
.manufacturer-list .item-name a {display:block; height: 100%; color: #545E64}
.manufacturer-list .item-name:hover {background-color: #0098d9; color: #fff}
.manufacturer-list .item-name:hover a {color: #fff; text-decoration: none}

/* CATEGORY LISTINGS */
.category-blocks {margin-top: 30px;}
.category-block  {border-bottom: 1px solid #dae8eb; padding-bottom:20px; margin-bottom:20px;}
.category-block > .span3 {font-size: 20px; color: #005f9f}
.category-block > .span9 .span3 {line-height: 24px; border-bottom: 1px solid #dae8eb}

/* PRODUCT DETAIL PAGE */
.product-name h1 {font-weight: 500; padding-top:0px;margin-bottom:20px;}
.tab-content {min-height: 300px;}
.product-detail-tab-wrap {
	margin-top:30px;
	background: transparent url('../img/product-tabs-shadow.png') bottom left repeat-x;
}
.tab-content {
	overflow: hidden;
}
ul.product-detail-nav li {float: left}
ul.product-detail-nav > li {margin-right:10px; background: transparent url('../img/product-tab-background-outer.png') top left no-repeat}
ul.product-detail-nav > li > a {padding:5px 0; border:0!important;border-radius: 0!important;
	min-width: 150px; text-align: center; margin:0; color: #535E64
}
ul.product-detail-nav > li.active {
	background: transparent url('../img/product-tab-background-active-outer.png') top left no-repeat
}
ul.product-detail-nav > li a:hover {color: #005F9F}
ul.product-detail-nav li.active a {color: #005F9F; font-weight: bold}
ul.product-detail-nav > li > a, ul.product-detail-nav> li > a:hover, ul.product-detail-nav > li > a:focus {
	background: transparent url('../img/product-tab-background-inner.png') top right no-repeat
}
.product-image-wrap {margin: 10px 10px 0 0; text-align: center; border: 3px solid #0098d9; background-color: #fff; position: relative}

.product-image-wrap img{max-height:300px;}

.image-loupe {
	display: block;
	position: absolute; bottom: 10px; right: 10px; width: 18px; height: 18px;
	background: transparent url('../img/image-zoom.png') top left no-repeat
}
.product-gallery-images {margin-top: 20px}
.product-gallery-images .row-fluid {margin-top: 10px}
.product-gallery-image-wrap {border: 3px solid #0098d9; display: block; height: 200px; vertical-align: middle; text-align: center}
.product-gallery-image-wrap a.fancy {position: relative; display: block; width: 100%; height: 100%}

.product-image{width:180px;}


.accessory-box{
	text-align:center;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}

/*Product-detail accessory*/
.accessory-buybox{
	background-color:rgba(9, 156, 251, 0.1);
	margin: 10px 0 50px 0;
	padding:20px 10px
}
.accessory-buybox span.accessory_label {
	font-weight: bold
}
.accessory-buybox span.price {
	color: #CD2725;
	margin-left: 30px;
	font-size: 25px;
	font-weight: bold
}
.accessory-buybox span.in-stock {
	color: green;
font-weight: bold;}
.accessory-buybox span.out-stock {
	color:red;
	font-weight:bold;
}

.accessory-buybox p.tax {
	font-size:11px;
}

.accessory-buybox input {
	width: 30px;
	margin-left: 40px
}

.accessory-buybox .btn-submit{
	width: 100%;
	background-color:#005f9e;
	color:white;
	background-image:none;
	border-radius:0px;
}
.accessory-buybox .btn-submit:hover{
	background-color:#0085DB;
}
.accessory-buybox .btn-submit i{
	background:none;
}
.accessory-image{
	width: 220px;
	height: 150px;
	background-color: white;
	vertical-align: middle;
	position: relative;
	margin: 0 auto 10px;
}

.accessory-image img{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	vertical-align: middle;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/* product detail spare parts */
.product-detail-sparepart h1{margin-bottom:0;border-bottom:none}

.product-detail-sparepart .sparepart-product-image{margin-top:20px;}

.product-detail-sparepart .sparepartsrow{
	margin-bottom:50px;
}

.product-detail-sparepart .sparepart-mainitems {
	margin-top:30px;
}

.product-detail-sparepart .sparepart-mainitems p{
	margin-top:0px;
	padding-top:5px;
}
.product-detail-sparepart .sparepart-mainitems ul{
	margin-left:30px;
}
.product-detail-sparepart .sparepart-mainitems li{
	list-style-type:disc;
}

.product-detail-sparepart .sparepart-mainitems a{
	margin:10px 0 0 15px;
}


.product-detail-sparepart .btn_less {
	display:none;
}

.product-detail-sparepart .btn_less:hover{
	cursor:pointer;
}
.product-detail-sparepart .btn_more:hover {
	cursor:pointer;
}
.product-detail-sparepart .sparepart-numbers {
	border-bottom: 1px solid #dce7eb;
	margin-bottom:10px;
}

.product-detail-sparepart .action-wrap input {
	margin-left: 0;
	padding:10px;
	text-align:center;
}

.fa-input{
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.product-detail-sparepart .identicalpart-row{
	background-color: #E8F0F3;
	border: 1px solid #ddd;
	padding: 5px;
	margin-left: 0px;
}

.product-detail-sparepart .identicalpart-row p{
	font-size: 16px;
	padding: 5px;
	color: #006DC3;
}

.buybox{
	padding:20px 10px;
	margin-top:30px;
	background-color: #E8F0F3;
	border: 1px solid #ddd;
}
.buybox span.accessory_label {
	font-weight: bold
}
.buybox span.price {
	color: #CD2725;
	margin-left: 30px;
	font-size: 25px;
	font-weight: bold
}
.buybox span.in-stock {
	color: green;
	font-weight: bold;}
.buybox span.out-stock {
	color:red;
	font-weight:bold;
}

.buybox p.tax {
	font-size:11px;
}

.action-wrap input {
	width: 30px;
	margin-left: 10px;
	padding:10px;
	text-align:center;
}

.action-wrap .cart-submit{
	width: 100%;
	background-color:#005f9e;
	color:white;
	background-image:none;
	border-radius:0px;
	border:none;
	padding:10px;
	margin-left:0;
	word-wrap: break-word;
}

.action-wrap .cart-request{
	background-color:#f3d078;;
	color:black;
}


.action-wrap .cart-request:hover{
	background-color:#F0C14B!important;
	color:black;
}

.accessory-box .action-wrap .cart-submit:hover{
	background-color:#0085DB;
}


.accessory-box .cart{
	padding: 0 10px 10px 10px;
}

.buybox .action-wrap .cart-submit:hover{
	background-color:#0085DB;
}
.identicalpart-row .action-wrap .cart-submit:hover{
	background-color:#0085DB;
}
.action-wrap .btn-submit i{
	background:none;
}

.action-wrap-row{
	margin-top:10px;
}

ul#spartparts-view-select {margin-top:20px}
ul#spartparts-view-select li {
	cursor: pointer;
	float: left; background: transparent url('../img/spareparts-view.png') top left repeat-x;
	line-height: 34px; padding:0 20px 6px 20px; margin-right: 10px;
}
ul#spartparts-view-select li:last-child {margin-right: 0}
ul#spartparts-view-select li.active {
	color:#fff;
	background: transparent url('../img/spareparts-view-active.png') top center repeat-x}
#spareparts-view > div {display: none; min-height: 300px;}
#spareparts-view > div.active {display: block}
#spareparts-view {padding-top: 10px}


.sp-header {line-height: 34px; height: 34px; overflow: hidden; background: transparent url('../img/sp-list-header.png') top left repeat-x}
.sp-header div {background: transparent url('../img/sp-list-header-divider.png') center right no-repeat}
.sp-header > div:last-child, .sp-header > div:first-child {background: none}

.sp-table {color: #535E64;}
.sp-table .sp-header > div, .sp-table .sp-row > div {float: left;}
div.row-image{width: 40px; padding-left: 5px;}
.sp-table .row-image span {
	background-size: 703px 238px;
	width: 21px;
	height: 21px;
	background-position:-180px -72px;
}

.sp-table .cart-submit.icon-list-alt {
	background-image: url("../img/glyphicons-halflings.png");
	text-indent: -9999px;
	border: 0;
	background-size: 703px 238px;
	width: 21px;
	height: 21px;
	background-position: -396px -36px; /* -264px -24px; */
}

.sp-table .img {width: 140px}
.sp-table .pos {width: 60px}
.sp-table .sku {width: 150px;}
.sp-table .desc {width: 320px;}
.sp-table .stock {width: 150px; text-align:center;}
.sp-table .price {width: 80px;}
.sp-table .qty {width: 80px;}
.sp-table .cart {width: 55px}

.out-of-stock, .out-of-stock a {color: red}
.in-stock, .in-stock a {color: #349800}

.out-of-stock .btn:hover { color:#005F9F; }
.out-of-stock span.icon-envelope { margin-right: 5px; }

.sp-table .action-wrap {width: 230px; padding:0!important}
.sp-table .action-wrap div {float: left}
.sp-table .row-inner > div {float: left}
.sp-table .sp-row .row-inner {float: none; padding:0!important}

.sp-table div {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sp-table input.qty, .data-table input.qty {vertical-align:baseline; margin:0; width: 24px; padding: 1px 2px; line-height: 16px; height: 16px; text-align: center}

.sp-table .sp-row {padding:3px 0; border-bottom:1px solid #dce7eb}
.sp-table .sp-row .desc {color: #005F9F; font-size: 110%}

.sp-table .sp-row.even-10, .data-table .even-10,.data-table .even {background-color: #eef1f2}
.sp-table .sp-row.odd-30, .data-table .odd-30 {background-color: #FDF0DA}
.sp-table .sp-row.even-30, .data-table .even-30 {background-color: #FFD2A2}
body .sp-table .sp-row.in-cart {background-color: #c8e1b5 !important;}

.sp-header div, .sp-table .sp-row > div, .sp-table .row-inner > div, .sp-table .action-wrap div {padding:0 10px}
.sp-table .action-wrap div.qty {padding-right: 0;}
.sp-table .action-wrap div.cart {padding-left: 0}

.sp-table .cart-submit {width: 20px; height: 20px; text-indent: -9999px;
	background: transparent url('../img/sp-cart.png') center center no-repeat; border: 0}

.attribute-label {font-weight: bold}

ul.features li {padding:3px 0}
.features-row {margin-bottom: 25px;}


table.product-numbers td {padding:5px 30px 5px 0; border-bottom: 1px solid #dce7eb; color: #535E64;vertical-align:top;}
table.product-numbers tr td:first-child {font-weight: bold}

.help-box {background-color: #e8f0f3; padding: 10px; margin-top: 10px; display: none;}
.help-box .header {font-weight: bold; margin-bottom: 10px;}
.help-box .btn {margin-top: 10px;}

.divider-bar {background-color: #dce7eb; height: 3px; margin-bottom: 12px;}
.search-bar {background-color: #dce7eb; line-height: 30px; padding:10px 0; margin-bottom: 10px;}
.search-bar .input-wrap {padding-top: 4px; padding-bottom: 4px; vertical-align: top; display: inline-block}

.category-products .item-span{
	margin-left:0px;
}
.category-products .item-span a{
	text-decoration:none;
}
.category-products .span6 .item-wrap {
	border-bottom:1px solid #dce7eb;padding: 5px;
}
.category-products .span6 .item-wrap:hover {text-decoration: none; color: #fff; background-color: #0082BF;}
.category-products .span6 .item-wrap:hover h2{color:white;}
.category-products .span6 .item-img-wrap {
	float:left; width: 75px; padding: 10px 0; height: 75px; text-align: center;
}
.category-products .span6 .item {text-decoration:none; margin-left: 100px; padding:6px 5px 8px 5px; display: block; color: #535E64}
.category-products .span6 .item .version-hint,
.category-products .span6 .item .bundle-hint,
.category-products .span6 .item .kit-hint {font-size: 13px; color: #0088cc}
.category-products .span6 .sku, .category-products .span3 .count, .search-page-item .item-content .sku {color: #999E9F}
.category-products .span6 .product-version {font-weight: 500}
.category-products .span6 .item-wrap:hover .item,
.category-products .span6 .item-wrap:hover .sku,
.category-products .span6 .item-wrap:hover .count,
.category-products .span6 .item-wrap:hover .version-hint,
.category-products .span6 .item-wrap:hover .bundle-hint,
.category-products .span6 .item-wrap:hover .kit-hint {color: #fff}

.version-hint, .kit-hint, .bundle-hint {display: none}
.item-img-wrap {background-color: #fff; position:relative}
.item-img-wrap img{position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;}
.item-image-wrap img{
	max-width:100%;
	height:auto;
	vertical-align:middle;
}

.item .sku{
	margin-top:5px;
}
.item h2{
	color:#535E64;
	padding:0px;
	font-size:16px;
	margin:0px;
	font-weight:bold;
}

#category-listing .item {margin: 0}
.category-products .span6 .item-wrap:hover .name {font-weight: bold}
.category-products .span6 .item .image-wrap {float: left; width: 100px;
	height: 100px; display: table-cell; line-height: 50px; display:none}
.category-products .span6 .item .content {margin:4px 0 0 0}

#currently li {
	background: transparent url('../img/filter-item-bg.png') top left no-repeat;
	padding: 6px 12px 0 0}
#currently li, #sidebar-filter li a {color: #005F9F; text-decoration: none}
#currently li a:hover, #sidebar-filter li.hover a { text-decoration: none}

#currently li > a, #sidebar-filter li > span {
	display: block; padding: 3px 0 3px 6px; margin-bottom: 3px;
}
#currently li > a {min-height: 20px; background: transparent url('../img/filter-remove.png') center right no-repeat; background-size: 23px 16px;}
#currently li > a:hover {color: #535E64; background-image: url('../img/filter-remove-hover.png')}

#currently ul li:first-child {background:none;}
#currently li.last {
	background-color: #fff;
	border-bottom:1px solid #dce7eb;
}
#currently li.pre-last {
	background: transparent url('../img/filter-bg-item-prelast.png') bottom left no-repeat;
}

#currently li.hover {
	background: #0098d9 url('../img/filter-bg-item-hover-prelast.png') bottom left no-repeat;
	color: #fff}
#currently li.pre-hover {
	background: transparent url('../img/filter-bg-item-prehover.png') bottom left no-repeat;
}

.sidebar-filter {background: transparent url('../img/filter-bg.png') top right no-repeat; min-height: 500px; padding-bottom: 20px;}

.sidebar-filter .filter-title{
	font-size:20px;
	line-height:20px;
	font-weight:300;
	color:#08c;
	padding:10px 0 5px 0;
}

.sidebar-filter .filter-category{
	font-size:16px;
}

.sidebar .accordion-filter{padding:9px 15px 15px 0px; border:none;background: transparent url('http://www.isc-relaunch.local/skin/frontend/default/isc/img/filter-item-bg.png') top left no-repeat; }
.accordion-category .accordion-heading{background-color:#0082BF; color:white; text-transform: uppercase;}
.accordion-category .accordion-heading a{color:white}
.sidebar .actions{margin-top:15px;padding:0px 10px 0px 10px}
.sidebar .actions a{width:100%}
.sidebar .actions .btn{padding-left:0px;padding-right:0px}

.sidebar-filter-year {margin: 20px 0 0 6px; color: #005F9F}
.sidebar-filter-year .header {padding-bottom: 8px;}
.sidebar-filter-year select {min-width: 140px; width: auto}

.filter-title{
	margin:0px;
}


.col-list{padding:0px 10px 0px 10px}

.grid-header {
	margin:3px 0 12px 3px;
	padding:0 0 6px 0;
	border-bottom: 1px solid #dce7eb
}
.grid-header h4 {margin:0; float: left; line-height: 32px;}
.grid-header .input-wrap {
	float: right;
	border: 0;
	width: 240px;
	background-color: #f1f5f8;
}
#grid-empty {margin:0 0 0 3px; font-size: 14px; color: #7A858D; display: none}
h4.subcategory-header {
	margin:3px 0 15px 0;
	line-height: 20px;
	padding:0 0 6px 6px;
	border-bottom: 1px solid #dce7eb}
h4.product-selection {margin-top: 30px;}

/**** Isotope filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.input-wrap-isotope{
	position:absolute;top:20px; right:10px;background-color: #f1f5f8;
}


/* EXPLOSION DRAWING */
#ed-controls { min-height: 100px;}
#ed-controls .preview {position:relative; border:1px solid #ecf0f3; overflow: hidden}
#ed-view {position: relative; max-width: 800px; border: 1px solid #ECF0F3; overflow: hidden; min-height: 100px;}
#ed-view.loading {background: transparent url('../img/loading.gif') center center no-repeat}
#ed-handle {outline:1px solid #0297d9; position: absolute; top:0; width: 100%; cursor: pointer; background-color: #0297d9; opacity: 0.5}
.ed-button {cursor: pointer; line-height: 34px}
.ed-button:hover {background-color: magenta}
.ed-button-wrap {float: left; width: 45%; margin-right: 10%; background: transparent url("../img/spareparts-view.png") top left repeat-x; }
.ed-button-wrap:hover {background: none; background-color: #0098D9}

#ed-zoom {margin-bottom: 5px;}
#ed-zoom .ed-button-wrap:last-child {margin:0}
#ed-zoom-plus {background: transparent url("../img/icons/control-zoom-increase.png") center center no-repeat}
#ed-zoom-minus {background: transparent url("../img/icons/control-zoom-decrease.png") center center no-repeat}
#ed-zoom-info {margin:10px 0; text-align: center; font-size: 24px; color: #005F9F; font-weight: 300}


#ed-parts {position: absolute}
#ed-parts .inner {width: 100%; height: 100%; position: relative}
#ed-parts .inner > div {
	position: absolute;
	background-color: #005CFF;
	text-indent: -9999px;
	opacity: 0.4;
	cursor: pointer;
}

#ed-parts .inner > div.group30 {
	background-color: #f16101;
}

#ed-parts .inner > div.in-cart {
	opacity: 0.5;
	background-color: #92c46d !important;
}
#ed-parts .inner > div:hover {
	opacity: 0.5;
}

#ed-img {max-width: none; max-height: none}

/* PRODUCT POPOVER */
body {position: relative;}
#product-popover-template {position:absolute; z-index: 300;}
.product-popover {
	-webkit-box-shadow:  3px 3px 20px 1px rgba(0, 0, 0, 0.3);
	box-shadow:  3px 3px 20px 1px rgba(0, 0, 0, 0.3);
	min-width: 300px; min-height: 100px;
	background: transparent url('../img/product-popup-backend.png') bottom left repeat-x; padding: 5px;
	border-radius: 2px; border: 3px solid #0098d9; top: 200px; left: 300px;}
.product-popover .header-wrap {padding:15px 10px 15px 10px; color: #005F9E}
.product-popover .header-wrap .question {margin-top:10px; color: #535E64}
.product-popover .header {font-size: 20px; color: #005F9E}
.product-popover .sp-row-alt .position {font-size: 14px; color: #005F9E; padding:10px 0 0 10px;}
.product-popover .group-notice {line-height: 28px; background-color: #0098d9; color: #fff; padding: 8px 6px 8px 10px}
.product-popover .group-notice .btn {float: right; padding: 2px 0}
.product-popover:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #0098d9;
	top: -23px;
	left: 30px;
}

.product-popover.shift:after {
	left: 215px;
}

.product-popover.shift330:after {
	left: 315px;
}

.product-popover.shift430:after {
	left: 415px;
}

.popover-close {
	cursor: pointer;
	position: absolute; top: 10px; right: 10px;
	width: 14px; height: 14px; text-indent: -9999px;
	background: transparent url('../img/icons/icon-reset.png') center center no-repeat;
}
.popover-close:hover {
	background-image: url('../img/icons/icon-reset-hover.png');
}

#product-popover .header a {
	text-decoration: underline;
}

#cart-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 270px;
	background: #fff url("../img/product-popup-backend.png") repeat-x scroll left bottom;
	border: 3px solid #0098D9;
	border-radius: 2px 2px 2px 2px;
	padding: 15px;
	box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.3);
}

#cart-overlay .loading {width: 100%; height: 100%; background: transparent url('../img/loading.gif') center center no-repeat}
#cart-overlay .header {border-bottom:1px solid #DCE7EB; font-size: 18px; line-height: 25px; margin-bottom: 10px; padding-bottom: 10px;}
#cart-overlay .message {font-weight: bold; margin-bottom: 15px;}
#cart-overlay .item-message {margin-bottom: 20px; font-size: 12px}
#cart-overlay .btn-close {float: right}

/* ACCOUNT LOGIN */
.account-login .span6 .content {padding:0 20px 0 0}
.registered-users .buttons-set a {margin: 0 0 0 50px;}

/* CHECKOUT */
#cart-form{padding:5px;}
.cart-table h2 {font-size: 18px;}
.step-title {background: transparent url('../img/product-popup-backend.png') bottom left repeat-x; padding: 5px; border-radius: 4px}
.step-title h2 {display: inline-block; margin: 0; line-height: 30px; font-size: 24px;}
.step-title .number {float:left; line-height: 30px; margin:0 10px 0 0; padding: 0 10px; font-size: 20px; border-right: 2px solid #dce7eb}
.step-title a {float: right; line-height: 30px; margin-right: 10px;}
#checkoutSteps .allow.active .step-title a, .step-title a {display: none}
#checkoutSteps .allow .step-title a {display: inherit}
.checkout-login-password {margin-left: 50px;}
#checkout-step-login li.control {margin-bottom: 10px}
#checkoutSteps li.control input[type="radio"], #checkoutSteps .sp-methods input[type="radio"] {margin:0 5px 0 0}
#checkoutSteps li.control label, #checkoutSteps .sp-methods label {display: inline-block; margin:0}
.sp-methods dd {margin-left: 20px;}
#checkoutSteps li.section {margin:0 0 10px 0}
#checkoutSteps h3 {line-height: 30px; font-size: 20px;}
#onepage-guest-register-button {margin-top: 20px;}

#steps .title {
	display: none;
}

#steps .title.current {
	display: block;
}
.checkout-agreements label {display: inline}
.checkout-agreements input[type="checkbox"] {margin: 0}

.opc-block-progress .block-title {font-size: 26px; line-height: 40px; font-weight: 100!important}
.opc-block-progress .block-title strong span {font-weight: normal;}
.opc-block-progress .block-content dl {margin:0}
.opc-block-progress .block-content dl dt {
	margin-bottom: 10px;
	padding: 6px 10px;
	background: transparent url('../img/product-popup-backend.png') bottom left repeat-x;
	border-radius: 4px;
	font-weight: 400;
}
.opc-block-progress .block-content dl dd {margin:10px}
.opc-block-progress address {margin:0}



.cart-collaterals h2 {font-size: 18px;}
#shopping-cart-table th {white-space: nowrap;}
#shopping-cart-table .btn-remove, #shopping-quote-table .btn-remove{
	text-indent: -9999px; width: 16px; height: 16px; display: block;
	background: transparent url('../img/icons/icon-reset.png') center center no-repeat;
}
#shopping-cart-table .btn-remove:hover {
	background-image: url('../img/icons/icon-reset-hover.png');
}
#shopping-cart-table th, #shopping-cart-table td, #shopping-quote-table th, #shopping-quote-table td {padding-right: 12px;}
#shopping-cart-table tfoot td {padding:10px 0 0 0}
#shopping-cart-totals-table tbody {font-size: 14px}
#shopping-cart-totals-table .a-right {text-align: right}

#shopping-cart-totals-table .summary-total {display: none}

#shopping-cart-totals-table tfoot td:last-child {padding-left: 20px;}
#shopping-cart-totals-table {width: 100%; font-size: 16px; line-height: 1.4em}
.cart-collaterals .checkout-types {margin-top:30px;}
.cart-collaterals .checkout-types li {text-align: right}
.cart-collaterals h2 {margin-top:0}
.cart-collaterals {margin-top:30px;}
.cart .page-title .checkout-types {display: none}

.btn-proceed-checkout {font-size: 17px; padding: 0.4em 0.9em}



.cart .page-title ul {position: absolute; right:0; top:50%; margin-top: -19px;}
.cart .page-title {position: relative; margin-bottom: 20px;}

.data-table {width: 100%}
.data-table h3 {margin:0; font-weight: bold; font-size: 16px; line-height: 22px;}
.data-table thead {line-height: 20px; overflow: hidden; background: transparent url('../img/sp-list-header.png') top left repeat-x}
.data-table thead th {padding:7px 6px}
.data-table .a-right {text-align: right}
.data-table .a-center {text-align: center}
.data-table td {padding: 2px 4px; line-height: 22px;}
.data-table tfoot .first td {border-top:1px solid #dce7eb}
.data-table {text-align: left}
.data-table .qty {width: 40px;}
#checkout-review-table {}
#checkoutSteps div.step {padding: 15px 0 15px 40px;}
#review-buttons-container .f-left {float: left; margin: 0;}
#review-buttons-container button {float: right}
#review-buttons-container {margin-top: 20px;}
#review-buttons-container .btn-checkout {font-size: 17px;}
#checkout-review-table h3 {font-size: 14px}
#checkout-review-table .summary-total {display: none;}
#review-buttons-container .review-custom-form {
	margin: 8px 0;
}
#review-buttons-container .review-custom-form .validation-advice {
	width: 220px;
}

#year-range {margin:40px 30px 0 15px;}
#year-range .slider-popover {
	position: absolute; top: -39px; margin-left: -18px;}
#year-range .slider-popover .inner {
	font-size: 12px; padding: 2px 6px; background-color: #005F9F; color: #fff; border-radius: 3px;
}
#year-range .slider-popover .arrow {
	height: 5px; background: transparent url('../img/slider-popover-arrow.png') center top no-repeat;
}
#year-range .ui-slider-range {background: transparent url('../img/slider-bar-active.png') center left repeat-x }
#year-range.ui-slider-horizontal {height: 8px; background: transparent url('../img/slider-bar.png') center left repeat-x }
#year-range .ui-slider-handle {cursor: col-resize; top:-7px; width: 18px; height: 24px; border:0; background: transparent url('../img/slider-handle.png') center center no-repeat }

/* Service-Center */

#servicecenter div.step {
	padding: 20px;
}

.servicecenter-retoure-nav div {
	margin-left: 0px;
	text-align: center;
	background-color: #0079C1;
	color: #fff !important;
	padding: 10px 0;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.servicecenter-retoure-nav .active {
	background-color: #005690;
}

#servicecenter .servicecenter-retoure-nav > div {
	position: relative;
}

#servicecenter .servicecenter-retoure-nav > div:before, #servicecenter .servicecenter-retoure-nav > div:after {
	position: absolute;
	content: ' ';
	height: 0;
	width: 0;
	border: 20px solid transparent;
}

#servicecenter .servicecenter-retoure-nav > div:last-child:before, #servicecenter .servicecenter-retoure-nav > div:last-child:after {
	border-left-color: transparent;
}

#servicecenter .servicecenter-retoure-nav > div:before {
	border-left-color: rgb(0, 121, 193);
	top: 0;
	right: -38px;
	z-index: 2;
}

#servicecenter .servicecenter-retoure-nav > div.active:before {
	border-left-color: rgb(0, 86, 144);
}

#servicecenter .servicecenter-retoure-nav > div:after {
	border: 21px solid transparent;
	border-left-color: rgb(255, 255, 255);
	top: -1px;
	right: -41px;
	z-index: 1;
}

#servicecenter .step-title img {
	display: none;
	margin-top: 8px;
	margin-right: 5px;
}

#servicecenter-step-reason ul li {
	margin-right: 10px;
}

#servicecenter-step-identify ul li input[type=radio],
#servicecenter-step-reason ul li input[type=radio] {
	margin-right: 5px;
}

#servicecenter #product-functionality {
	margin-bottom: 10px;
}

.servicecenter-page .form-inline select {
	margin-right: 10px;
}

.servicecenter-page .form-inline {
	margin-bottom: 10px;
}

.servicecenter-page li[id^="service-center-new-address-"] .input-prepend {
	width: 100%;
}

li[id^="service-center-new-address-"] .input-prepend input[type="text"] {
	border-radius: 0 4px 4px 0;
	width: 94%;
}

li[id^="service-center-new-address-"] input[type="text"] {
	width: 97%;
}

li[id^="service-center-new-address-"] select {
	width: 100%;
}

.servicecenter-page [class^="servicecenter-icon-"],
.servicecenter-page [class*=" servicecenter-icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: 1px;
	background-size: contain;
}

.servicecenter-icon-street {
	background-image: url("../img/servicecenter/icon_street.png");
}

.icon-truck {
	background: url("../img/servicecenter/icon_truck.png") no-repeat 0 0;
	background-size: contain;
	height: 20px;
	width: 20px;
}

.icon-return {
	background: url("../img/servicecenter/icon_return.png") no-repeat 0 0;
	background-size: contain;
	height: 15px;
	width: 15px;
}

.icon-alertservice {
	background: url("../img/servicecenter/icon_alert.png") no-repeat 0 0;
	background-size: contain;
	height: 15px;
	width: 15px;
}

.icon-eur {
	background: url("../img/servicecenter/icon_eur.png") no-repeat 0 0;
	background-size: contain;
	height: 15px;
	width: 15px;
}

.servicecenter-icon-company {
	background-image: url("../img/servicecenter/icon_company.png");
}

.servicecenter-icon-city {
	background-image: url("../img/servicecenter/icon_city.png");
}

.servicecenter-page .field.width-70 {
	display: inline-block;
	width: 64%;
}

.servicecenter-page .field.width-70.right {
	margin-left: 5%;
}

.servicecenter-page .field.width-70.left {
	margin-right: 5%;
}

.servicecenter-page li[id^="service-center-new-address-"] .field.width-70 input {
	width: 91%;
}

.servicecenter-page .field.width-30 {
	display: inline-block;
	width: 30%;
}

.servicecenter-page li[id^="service-center-new-address-"] .field.width-30 input {
	width: 91%;
}

#servicecenter #product-failure-container {
	margin-top: 10px;
}

#servicecenter .info-icon {
	background: url("../img/glyphicons-halflings.png") -117px -94px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

#servicecenter .choose-symptom {
	width: 97%;
}

#servicecenter .choose-symptom p {
	display: none;
	margin-left: 10px;
	margin-top: 3px;
}

#servicecenter #product-failure-description > p {
	margin-bottom: 5px;
}

#my-return-table address {
	margin-bottom: 0;
	line-height: 22px;
}

.form-search .input-wrap {position: relative}
#search-autocomplete {
	z-index: 100;
	position:absolute; width: 100%; right: 0; top: 35px;
	background: #fff url("../img/product-popup-backend.png") repeat-x scroll left bottom;
	min-width: 400px;
	border-radius: 2px;
	box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.3);
}
#search-autocomplete .no-results {
	line-height: 30px; font-size: 14px;
}
#search-autocomplete .header {text-align: right; margin:0 0 10px 0}
#search-autocomplete .footer {text-align: right; margin:10px 0 0 0}
#search-autocomplete ul li {border-bottom:1px solid #e8f0f3; padding: 4px 0}
#search-autocomplete ul li > a {display: block}
#search-autocomplete ul li:last-child {border:0}
#search-autocomplete ul li .sku {color: #555; float: right}
#search-autocomplete .result-count {float: right}
#search-autocomplete .top {margin:0 0 10px 0; opacity: 0.7}
#search-autocomplete .search-for {font-weight: bold}

#search-page-results {margin-top: 20px;}
#search-page-results .span6 {margin-bottom: 10px;}
#search-page-results .isotope-item {margin-bottom: 10px;}
.search-page-item {padding: 5px; border:1px solid #dce7eb; min-height: 70px;}
.search-page-item .img-wrap {float:left; width: 75px; height: 75px;}
.search-page-item .item-content {margin-left: 80px;}
.search-page-item .item-content span {color: #535E64;; display:block; font-size:12px;}
.search-page-item .item-content .name {font-size: 14px; color: #005f9e; }
.search-page-item a:hover {text-decoration: none;}
.search-page-item a:hover .item-content  .name {text-decoration: underline;}
.search-page-item .item-content span.item_type {font-size: 14px; font-weight: 100;}


.search-autocomplete-inner {
	padding: 10px 15px;
	border: 3px solid #0098D9;
}
.search-page-results-container {min-height: 80px}
.search-page-results-container > .span9 {margin-bottom: 10px}

#search-results {min-height: 30px;}
#search-results.loading, .search-page-results-container.loading {
	background: transparent url('../img/loading.gif') center center no-repeat
}


#search-page-input {font-size: 20px; line-height: 40px; height: 40px;}
.solrsearch-page {margin:20px 0 0 0}
.solrsearch-sidebar h2 {margin:0}

#solrsearch .search-toolbar ul li {display:block; padding: 3px 6px; float: left}
#solrsearch .search-toolbar {}
#solrsearch .search-toolbar .pagination {margin: 0; float: left}
#solrsearch .search-toolbar .search-stats {float: right}

/* Dashboard */

#my-orders-table .summary-total {
	display: none;
}

#my-orders-table-actions, #my-returns-table-actions {
	margin-top: 10px;
}

.box-account .box-border {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
}

.block-account .block-title strong {
	font-weight: normal;
	font-size: 18px;
}

.block-account .block-content ul li:first-child{
}

.block-account .block-content ul li {

	border-width: 0px 1px 1px 3px;
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	cursor: pointer;
}

.block-account .block-content ul li a {
	text-decoration: none;
	cursor: pointer;
	color: #7a858d;
	display: block;
	text-decoration: none;
}

.block-account .block-content ul li a:hover {
	color: #333;
}

.block-account .block-content ul li.current strong {
	font-weight: normal;
}

.block-account .block-content ul li.current {
	color: #fff;
	background: #1E7EC8;
}

.infoElement {
	margin-top: 10px;
}

#modalGeo .modal-footer label {
	text-align: left;
}

#modalGeo .modal-footer .btn {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	margin-bottom: 17px;
}

.product-category .category-name {
	word-wrap: break-word;
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	margin: 10px 0;
}

.manufacturer-header .manufacturer-image {
	line-height: 60px;
}

.country-notice {
	background-color: #B94A48;
	border:           1px solid #CCCCCC;
	box-shadow:       0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius:    4px 4px 4px 4px;
	color:            #FFF;
	font-size:        14px;
	line-height:      20px;
	vertical-align:   middle;
	padding:          5px 6px;
	position: relative
}

#spareparts .add-to-cart label {
	display: none;
}

#spareparts .add-to-cart input {
	margin: 0 5px 0 0;
	width: 20px;
}

#spareparts .add-to-box {
	margin-top: 20px;
}

.add-to-box .span5 div {
	float: left;
	margin: 0 10px;
}

.add-to-box .span5 .sku, .add-to-box .add-to-cart{
	margin: 0;
}

.add-to-box .desc {
	color: #005F9F;
	font-size: 110%;
}

.add-to-box div.action-wrap {
	float: right;
}

#spareparts .info {
	margin: 10px 0;
}
.footer-bottom .cms-menu {
	display: none;
}

.catalog-product-view .container .product-category {
	color: #0088cc;
	padding: 10px 0 5px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	margin: 10px 0;
	font-family: 'Roboto', sans serif;
}
.header .icon-share {margin: 5px 0 0 5px;}
/* popover image vertical align middle */
#product-popover-template .product-popover .row {
	display: table!important;
	float: none!important;
	margin-left: 0;
}
#product-popover-template .product-popover .row .popover-image {
	display: table-cell!important;
	float: none!important;
	vertical-align: middle!important;
}

.print-head .logo {
	max-width: 80px;
	max-height: 80px;
}

.page-print h3 {
	padding: 0;
	margin-bottom: 0;
}

.page-print .data-table h4 {
	padding: 0;
}

.position-remark label { line-height: 30px; vertical-align: bottom; }

.checkout-cart-index .quote {padding-top: 15px;}
.checkout-cart-index .quote .row-fluid{
	background-color: #FDF0DA;
}

.checkout-cart-index .quote .product-name{ padding-bottom: 0; margin-bottom: 0;}
.checkout-cart-index .position-remark label {margin-bottom: 0;}
.checkout-cart-index .quote .page-title {margin-bottom: 15px;}
.checkout-cart-index .quote tfoot td{ line-height: 60px; }
/* .checkout-cart-index .quote form fieldset{ margin: 0 10px 0 10px;} */

#scannerinput .row {background-color: #d9fde3;}
#scannerinput button {width: 89%;}
#scannerinput {line-height: 50px; }
.fastorder label, #scannerinput label, .checkout-cart-index .quote .page-title {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 5px 0;
	color: #0088cc;
	word-wrap: break-word;
	font-size: 24px;
	line-height: 24px;
	margin-right: 10px;
	margin-top: 5px;
	font-weight: 300;
}

#shopping-quote-table .position-remark label { display: none;}
.requestquote-quote-index #quote-form .page-title { display: none;}
.requestquote-quote-index #shopping-quote-table tfoot td { padding-top: 10px;}
#quote-form .span12{
	padding:10px;
}

button.loading > span > span {
	background: transparent url('../img/loading.gif') center center no-repeat;
	width: 150px;
	color: transparent;
}

div.entry-edit div.large {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.servicecenter-overview .actions {
	text-align:center;
	margin-top:10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.servicecenter-overview .service-tile {
	background-color: #F6F6F6;
	margin:5px;
	height:210px;
}
.servicecenter-overview .service-description {
	min-height: 150px;
}
.servicecenter-overview .service-description .headline {
	background-color:#1E7EC8;
	margin:0;
	padding: 20px 0;
	text-align:center;
	color: #FFF;
	text-decoration:none;
}
.servicecenter-overview .service-description .text {
	padding: 10px 10px;
}

.servicecenter-overview .btn {
}

.cms-page{
	padding-bottom:0px;
}

.cmsplus .menu li.page i[class^="icon-"] {
	display: none;
}

.cmspluspage .description {display: none;}

.servicecenter-overview [class^="span"] {
	margin: 10px 0;
}
#advice-validate-length-service-center\3Apostcode {
	white-space: normal;
}

.printproduct .icon-print { margin-right: 5px; }
.printproduct {
	padding-top:20px;
}

.service-product{
	border: 1px solid #DDD;
	padding: 15px;
	clear:both;
}

.service-product .description{
	font-weight:bold;
	font-size: 20px;
}

.service-product .img{
	text-align:center;
	padding: 30px 0;
}
.service-product .articlenumber{
	float:left;
}
.service-product .identnumber{
	text-align:right;
}

#product-functionality {
	margin-top:-80px;
}
#product-failure-description label {
	margin-left:15px;
}
#product-failure-description textarea {
	width: 94%;
	resize: none;
	margin-left:15px;
}
.next-step {
	margin-top:20px;
}

label.newsletter {
	margin-left: 18px;
	margin-bottom:20px;
}

#loadingOverlay {
	position: fixed;
	top: 70%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 270px;
	background: #fff url("../img/product-popup-backend.png") repeat-x scroll left bottom;
	border: 3px solid #0098D9;
	border-radius: 2px 2px 2px 2px;
	padding: 15px;
	box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.3);
}

#loadingOverlay .loading {width: 100%; height: 100%; background: transparent url('../img/loading.gif') center center no-repeat}

