<?php if( $this->isProductRegistered()) : ?>
    <?php echo $this->__("Alert already set"); ?>
<?php else : ?>
<?php /* @var $this Mage_ProductAlert_Block_Product_View */?>
<div class="<?php echo $this->getHtmlClass() ?>">
    <a class="out-of-stock-link"
       href="<?php echo $this->escapeHtml($this->getSignupUrl()) ?>"
       title="<?php echo $this->escapeHtml($this->__($this->getSignupTitle())); ?>">
        <?php echo $this->escapeHtml($this->__($this->getSignupLabel())) ." " ; ?><i class="fa fa-envelope"></i>
    </a>
</div>
<?php endif; ?>