

.productslider-container{
    margin-top:30px;
    margin-bottom:30px;
}

.slide{
    text-align:center;
}

.productslider .product-img-wrap{
    width: 200px;
    height: 200px;
    background-color: #FFF;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 10px;

}

.productslider .product-img-wrap img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

}

.productslider .price-box{
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-color: #005F9E;
    padding: 15px;
    border-radius: 40px;
    color: white;
    width: 45px;
    height: 45px;
}

.productslider .price-box p{
    margin:0px;
}

.productslider .price-box .old-price{
    text-decoration: line-through;
}

.productslider .action-wrap .cart-submit{
    width:70%;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
}

.productslider .action-wrap .cart-submit:hover{
    background-color:#0082BF;
}
