<div id="manualfinder">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="header">
					ISC Handbuch-Finder - <br/>
					Einfach &amp; schnell
				</div>
				<p>
					Hier finden Sie Bedienungsanleitungen / Handbücher. Um die richtigen Handbücher zu finden,
					geben Sie einfach die Modellnummer Ihres Geräts (befindet sich auf dem Typenschild) ein.
				</p>
			</div>
			<div class="span4">
				<div class="selection">
					<div class="header-medium">
						<?php echo $this->__('Direct search') ?> ...
					</div>
					<div class="input-wrap">
						<input type="text" placeholder="<?php echo $this->__('Enter model number') ?>" />
						<button class="search-button" title="Suche" type="submit"><span><span>Suche</span></span></button>
					</div>
					<div class="header-medium">
						<?php echo $this->__('or choose from below') ?>
					</div>
					<div class="input-wrap">
						<select>
							<option>Poduktgruppen wählen</option>
							<option>Poduktgruppe #1</option>
							<option>Poduktgruppe #2</option>
						</select>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="selection empty">


					<div class="empty-msg">
						Bitte einen Suchbegriff eingeben
						<span>oder den Produkttyp auswählen</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>