<?php $items = $this->_getItems() ?>
<ul id="main-menu" class="clearfix itemcount-<?php echo count($items) ?>">
	<?php foreach ($items as $item) : ?>
		<li class="<?php echo $item['class']; if ($item['active']) echo ' active' ?> ">
			<a href="<?php echo $item['link'] ?>">
				<?php echo $item['name'] ?>
			</a>
		</li>
	<?php endforeach; ?>
</ul>