<div class="startpage">
	<div class="container">
		<div class="row">
			<div class="span12">
                <?php echo $this->getChildHtml('content_landingpage'); ?>
			</div>
		</div>
	</div>
</div>