<div id="slider">
    <div id="product-slider-content">
        <div class="margin-content">
            <div class="inner">
                <div id="product-slider-handle">&nbsp;</div>
                <div class="container">
                    <div id="slider-left">
                        <div class="row boxes">
                            <div class="span12">
                                <?php echo $this->getChildHtml('slider_left_inner'); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <?php echo $this->getChildHtml('header_landingpage'); ?>
        </div>
    </div>
    <div class="shadow">&nbsp;</div>
</div>