<div class="<?php echo $this->getSpan(). " ". $this->getColor() ?>">
    <div class="inner">
        <a href="<?php echo $this->getLink(); ?>" <?php if($this->getTarget()): ?>target="<?php echo $this->getTarget(); ?>"<?php endif; ?>>
            <div class="image">
                <?php if($this->getImage()): ?>
                <img src="<?php echo $this->getImageUrl() ?>" alt="<?php echo $this->getImageAlt() ?>">
                <?php endif; ?>
            </div>
            <p><?php echo $this->getText() ?></p>
            <div class="btn-wrap">
                <div class="btn">
                    <i></i>
                    <?php echo $this->getLinkText(); ?>
                </div>
            </div>
        </a>
    </div>
</div>
