<?php
/**
 * Copyright (c) 2008-2011 dotSource GmbH.
 * All rights reserved.
 * http://www.dotsource.de
 *
 * Created:
 * 20.01.2011 11:38:49
 *
 * Contributors:
 * mdaehnert - initial contents
 */
?>
<div id="checkout-billing-load">
    <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
    <form id="co-billing-form" action="">

        <div class="row-fluid">
            <ul class="form-list">
                <?php if ($this->customerHasAddresses()): ?>
                    <li class="wide">
                        <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
                        <div class="input-box">
                            <?php echo $this->getAddressesHtmlSelect('billing') ?>
                        </div>
                    </li>
                <?php endif; ?>
                <li id="billing-new-address-form"<?php if ($this->isCustomerAddressFromAddressBook()): ?> style="display:none;"<?php endif; ?>>
                    <div class="span6">
                        <fieldset>
                            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                            <ul>
                                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                                <li class="fields">
                                    <div class="field">
                                        <label for="billing:company"><?php echo $this->__('Company') ?></label>
                                        <div class="input-box">
                                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
                                        </div>
                                    </div>
                                    <?php if(!$this->isCustomerLoggedIn()): ?>
                                        <div class="field">
                                            <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                                            <div class="input-box">
                                                <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                                            </div>
                                        </div>
                                    <?php endif ?>
                                </li>
                                <li>
                                    <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Street') ?></label>
                                    <div class="input-box">
                                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
                                    </div>
                                </li>
                                <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
                                    <li class="add-field">
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text" />
                                        </div>
                                    </li>
                                <?php endfor ?>
								<li>
									<div class="field">
										<label for="billing:housenumber" class="required"><em>*</em><?php echo $this->__('House Number') ?></label>
										<div class="input-box">
											<input type="text" name="billing[housenumber]" value="<?php echo $this->escapeHtml($this->getAddress()->getHousenumber()) ?>"  title="<?php echo $this->__('House Number') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('housenumber') ?>" id="billing:housenumber" />
										</div>
									</div>
								</li>
                            </ul>
                        </fieldset>
                    </div>
                    <div class="span6">
                        <fieldset>
                            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
                            <ul>
                                <li id="billing-new-address-form">
									<div class="field">
										<label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
										<div class="input-box">
											<input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
										</div>
									</div>
                                    <div class="field">
                                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="billing:city" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                        <div class="input-box">
                                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                            </select>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                                //]]>
                                            </script>
                                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                                        </div>
                                    </div>
                                </li>
                                <li class="fields">
                                    <div class="field">
                                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                        <div class="input-box">
                                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                                        </div>
                                        <div id="billing:country_notice" class="country-notice hidden "><?php echo $this->__("Taxes will be adjusted during the checkout according to your country!"); ?></div>
                                    </div>
                                </li>
                                <li class="fields">
                                    <div class="field">
                                        <label for="billing:telephone"><?php echo $this->__('Telephone') ?></label>
                                        <div class="input-box">
                                            <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text" id="billing:telephone" />
                                        </div>
                                    </div>
                                    <!--div class="field">
                                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                                        <div class="input-box">
                                            <input type="text" name="billing[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text" id="billing:fax" />
                                        </div>
                                    </div-->
                                </li>
                                <?php if(!$this->isCustomerLoggedIn()): ?>
                                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                                    <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                                        <li class="fields">
                                            <?php if ($_dob->isEnabled()): ?>
                                                <div class="field">
                                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php if ($_gender->isEnabled()): ?>
                                                <div class="field">
                                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                                </div>
                                            <?php endif ?>
                                        </li>
                                    <?php endif ?>

                                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                                    <?php if ($_taxvat->isEnabled()): ?>
                                        <li>
                                            <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                        </li>
                                    <?php endif ?>

                                    <li class="fields" id="register-customer-password"<?php if ($this->isGuestCheckout()): ?> style="display:none;"<?php endif; ?>>
                                        <div class="field">
                                            <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                                            <div class="input-box">
                                                <input type="password" value="<?php echo $this->htmlEscape($this->getAddress()->getCustomerPassword()) ?>" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                                            <div class="input-box">
                                                <input type="password" value="<?php echo $this->htmlEscape($this->getAddress()->getConfirmPassword()) ?>" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                                            </div>
                                        </div>
                                    </li>
                                <?php endif; ?>
                                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                                    <li class="control">
                                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                                    </li>
                                <?php else:?>
                                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                                <?php endif; ?>
                            </ul>
                        </fieldset>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <ul class="form-list">
                <li class="fields">

                </li>
            <?php if ($this->canShip()): ?>
                <li class="control">
                    <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" /><label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label></li>
                <li class="control">
                    <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->__('Ship to different address') ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" /><label for="billing:use_for_shipping_no"><?php echo $this->__('Ship to different address') ?></label>
                </li>
            <?php endif; ?>
                <?php if (!$this->canShip()): ?>
                    <input type="hidden" name="billing[use_for_shipping]" value="1" />
                <?php endif; ?>
                <div class="buttons-set" id="billing-buttons-container">
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="billing.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
                    <span class="please-wait" id="billing-please-wait" style="display:none;">
                        <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
                    </span>
                </div>
            </ul>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
        var billingForm = new VarienForm('co-billing-form');

        //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
        $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

        countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?>;
        var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');


        billing.nextStep = function(transport){
            if (transport && transport.responseText){
                try{
                    response = eval('(' + transport.responseText + ')');
                }
                catch (e) {
                    response = {};
                }
            }

            if (response.error){
                if ((typeof response.message) == 'string') {
                    alert(response.message);
                } else {
                    if (window.billingRegionUpdater) {
                        billingRegionUpdater.update();
                    }

                    alert(response.message.join("\n"));
                }

                return false;
            }

            checkout.setStepResponse(response);

            <?php
                // @mda
                // Update of billing data on successfully performed address check.
            ?>
            if (response.billing) {
                checkout.setStepResponse(response.billing);
            }

            if (response.shipping) {
                checkout.setStepResponse(response.shipping);
            }
			<?php //end ?>

            payment.initWhatIsCvvListeners();
        }

        billing.onSave = billing.nextStep.bindAsEventListener(billing);
    //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        var default_country = jQuery('#billing\\:country_id').val();
        jQuery('#billing\\:country_id').on("change",function(){
          if(default_country != jQuery(this).val() && jQuery('#billing\\:use_for_shipping_yes').is(':checked')){
              jQuery('#billing\\:country_notice').removeClass("hidden");
          }
          else {
              jQuery('#billing\\:country_notice').addClass("hidden");
          }
        });
        jQuery('#billing\\:use_for_shipping_no').on("change",function(){
            if(jQuery(this).is(':checked') && jQuery('#billing\\:country_id').val() != default_country){
                jQuery('#billing\\:country_notice').addClass("hidden");
            }
        });
        jQuery('#billing\\:use_for_shipping_yes').on("change",function(){
            if(jQuery(this).is(':checked') && jQuery('#billing\\:country_id').val() != default_country){
                jQuery('#billing\\:country_notice').removeClass("hidden");
            }
        });
        //]]>
    </script>
</div>
