<?php
$quoteRequest = $this->getQuoteRequest();
if($quoteRequest->getId()) : ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class=""><?php echo $this->__('View Quote Request'); ?></h4>
    </div>
    <?php if(count($quoteRequest) ): ?>
        <div class="large"><?php echo $this->__('This order was created by the following quote request:'); ?></div>
    <?php endif; ?>
    <fieldset>
        <div><a href="<?php echo Mage::getUrl('requestquote/customer_quote/view', array('quote_id' => $quoteRequest->getId()));?>" title="<?php echo $this->__('View Quote Request'); ?>"><?php echo "ID: " , $quoteRequest->getId() , ": " , Mage::helper('core')->formatTime($quoteRequest->getCreatedAt(),Mage_Core_Model_Locale::FORMAT_TYPE_SHORT, true); ?></a></div>
    </fieldset>
</div>
<div class="clear"/>
<?php endif; ?>