<?php
	$_quote = $this->getQuote();
	$_customer = $this->getCustomer();
	$_shippingAddress = $this->getShippingAddress();
	$_statusCollection = $this->getStatusCollection();
?>
<script type="text/javascript">
	var order = new AdminOrder({});
	order.setLoadBaseUrl('<?php echo $this->getUrl('*/*/loadBlock', array('quote_id' => $_quote->getId())) ?>');
	function reloadEditPage() {
		window.location.href = '<?php echo $this->getUrl('*/*/edit', array('quote_id' => $_quote->getId())) ?>';
	}
</script>
<div id="order-data">
	<!-- PAYPERRENTALS -->
	<?php if ($this->helper('request4quote')->isRentalInstalled()) : ?>
		<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/zebra/css/zebra_datepicker.css'; ?>" media="all" />
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/jquery/jquery-1.7.1.min.js'; ?>"></script>
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/zebra/javascript/zebra_datepicker.js'; ?>"></script>
		<script type="text/javascript">
			$jppr = jQuery.noConflict();
		
		</script>
		
		<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/jqueryui/css/ui-lightness/jquery-ui-1.9.2.custom.css'; ?>" media="all" />
		<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/qtip/jquery.qtip.css'; ?>" media="all" />
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/jqueryui/js/jquery-1.8.3.js'; ?>"></script>
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/jqueryui/js/jquery-ui-1.9.2.custom.js'; ?>"></script>
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) .'itwebexperts_payperrentals/qtip/jquery.qtip.js'; ?>"></script>
		<script type="text/javascript">
			$jppr1 = jQuery.noConflict();
		</script>
		<?php
			$noDates = false;
			if(Mage::getSingleton('core/session')->getData('startDateInitial')){
			$startDateInitArr = explode(' ', Mage::getSingleton('core/session')->getData('startDateInitial'));
			$start_date = date('Y-m-d',strtotime($startDateInitArr[0]));
			if(isset($startDateInitArr[1])){
			$startTimeInit = $startDateInitArr[1];
			}else{
			$startTimeInit = '';
			}
		
			$endDateInitArr = explode(' ', Mage::getSingleton('core/session')->getData('endDateInitial'));
			$end_date = date('Y-m-d',strtotime($endDateInitArr[0]));
			if(isset($endDateInitArr[1])){
			$endTimeInit = $endDateInitArr[1];
			}else{
			$endTimeInit = '';
			}
		
			}else{
			$start_date = (date('Y-m-d'));
			$end_date = (date('Y-m-d'));
			$startTimeInit = '';
			$endTimeInit = '';
			$noDates = true;
			}
		
			$storeOpen = 0;
			$storeClose = 23;
		
			/*if($quoteItemId){
			$useTimes =ITwebexperts_Payperrentals_Helper_Data::useTimes($this->getProduct()->getId());
		
			}else{
			$useTimes = 0;
			}*/
			$useTimes = 2;
		
			$excludeHoursStart = array();
			$excludeHoursEnd = array();
			$exludeMinutesStart = array();
			$exludeMinutesEnd = array();
		?>
		<div class="switcher"><div id="topDates" style="display: inline-block;">
			<div class="datesInputsTop" style="display: none">
				<div style="display: inline-block;margin-right:30px;">
					<?php echo $this->__('From');?>
					<input type="text" readonly="readonly" name="start_date" class="start_date" value="<?php echo $start_date;?>" >
				</div>
				<div style="display: inline-block;">
					<?php echo $this->__('To');?>
					<input type="text" readonly="readonly" name="end_date" class="end_date" value="<?php echo $end_date;?>" >
				</div>
			</div>
			<div class="datesSelectorTop" style="display: inline-block">
				<div style="display: inline-block;margin-right:30px;">
					<label><?php echo $this->__('Start Date');?></label>
					<input type="text" readonly="readonly" name="read_start_date" class="readStartDate" value="<?php echo date('Y-m-d',strtotime($start_date));?>"/>
					<?php
					$hourStart = ITwebexperts_Payperrentals_Helper_Timebox::getTimeInput('start_time', $storeOpen, $storeClose, $excludeHoursStart);
					echo $this->__('Start Time:'). $hourStart;
					?>
				</div>
				<div style="display: inline-block;">
					<label><?php echo $this->__('End Date');?></label>
					<input type="text" readonly="readonly" name="read_end_date" class="readEndDate" value="<?php echo date('Y-m-d',strtotime($end_date));?>"/>
					<?php
					$hourEnd = ITwebexperts_Payperrentals_Helper_Timebox::getTimeInput('end_time', $storeOpen, $storeClose, $excludeHoursEnd);
					echo $this->__('End Time: ').$hourEnd;
					?>
				</div>
			</div>
		</div></div>
		<script type="text/javascript">
			function print_r(theObj){
				if(theObj.constructor == Array || theObj.constructor == Object){
					document.write("<ul>")
					for(var p in theObj){
						if(theObj[p].constructor == Array || theObj[p].constructor == Object){
							document.write("<li>["+p+"] => "+typeof(theObj)+"</li>");
							document.write("<ul>")
							print_r(theObj[p]);
							document.write("</ul>")
						} else {
							document.write("<li>["+p+"] => "+theObj[p]+"</li>");
						}
					}
					document.write("</ul>")
				}
			}
		
			function updateInputValsAll(){
				Element.show('loading-mask');
				$jppr.ajax({
					cache: false,
					dataType: 'json',
					type: 'post',
					url: '<?php echo Mage::getUrl("payperrentals_admin/adminhtml_ajax/getupdatealldates/",array('form_key'=> Mage::getSingleton('core/session')->getFormKey()))?>',
					data: $jppr('#topDates').find('*').serialize(),
					success: function (data) {
						Element.hide('loading-mask');
						if(data.itemId){
							$jppr.each(data.itemId, function(key, item) {
								order.productConfigureAddFields['item['+item+'][configured]'] = 1;
								$jppr.each(data.itemConfigs[item], function(keyConfig, itemConfig) {
		
									if(Object.prototype.toString.call(itemConfig) === '[object Object]'){
									   // alert(Array.prototype.slice.call(itemConfig));
										for (var key in itemConfig) {
											order.productConfigureAddFields['item['+item+']['+keyConfig+']['+key+']'] = itemConfig[key];
										}
									   // arr = JSON.parse(itemConfig);
										//alert(arr[3]);
										//order.productConfigureAddFields['item['+item+']['+keyConfig+']'] = arr;
		
										/*$jppr.each(itemConfig, function(keyConfig1, itemConfig1) {
											alert(keyConfig1+' '+itemConfig1);
											order.productConfigureAddFields['item['+item+']['+keyConfig+']'][keyConfig1] = itemConfig1;
										});*/
		
									}else{
										order.productConfigureAddFields['item['+item+']['+keyConfig+']'] = itemConfig;
									}
								});
							});
		
							order.itemsUpdate();
						}
					}
				});
			}
			$jppr(document).ready(function() {
				setTimeout(function() {
					$jppr('#topDates .readStartDate').Zebra_DatePicker({
						offset:[20,250],
						onSelect:function(date1, date2, date3){
							$jppr('#topDates .start_date').val(date2);
							//$selfID.find('.readStartDate').val(date2);
							updateInputValsAll();
						}
					});
					$jppr('#topDates .readEndDate').Zebra_DatePicker({
						offset:[20,250],
						onSelect:function(date1, date2, date3){
							$jppr('#topDates .end_date').val(date2);
							//$selfID.find('.readEndDate').val(date2);
							updateInputValsAll();
						}
					});
					$jppr('.Zebra_DatePicker').css('z-index','10000');
				}, 2000);
			});
			
			function calculatePrice($selfID, itemId, wind){
				var qtyDisabledArr = [];
				$jppr('.qty-disabled').each(function(){
					qtyDisabledArr.push($jppr(this).attr('id'));
					$jppr(this).removeAttr('disabled');
				});
				if(typeof bundle !== 'undefined'){
					for (var option in bundle.config.selected) {
						if (bundle.config.options[option]) {
							for (var i=0; i < bundle.config.selected[option].length; i++) {
								if(bundle.config.options[option].selections[bundle.config.selected[option][i]].typeid == 'reservation'){
									//alert( $jppr('input[name="bundle_option_qty['+option+']"]').attr('id'));
									$jppr('input[name="bundle_option_qty['+option+']"]').attr('onblur', '');
									$jppr('input[name="bundle_option_qty['+option+']"]').attr('onkeyup', '');
								}
							}
						}
					}
				}
				$jppr.ajax({
					cache: false,
					dataType: 'json',
					type: 'post',
					url: '<?php echo Mage::getUrl("payperrentals_admin/adminhtml_ajax/getprice/",array('form_key'=> Mage::getSingleton('core/session')->getFormKey())) ?>'+'product_id/'+itemId,
					data: $selfID.closest('form').find('*').serialize(),
					success: function (data) {
						/*for(var i1=0;i1<qtyDisabledArr.length;i1++){
							$jppr('#'+qtyDisabledArr[i1]).attr('disabled','disabled');
						}*/
						$jppr('.qty-disabled').each(function(){
							$jppr(this).attr('disabled','disabled');
						});
						if(data.needConfigure){
							wind._showWindow();
						}else{
							productConfigure.onConfirmBtn();
							//if(data.amount != '-1'){
							$jppr('a[product_id="'+itemId+'"]').parent().parent().find('.price').html(data.formatAmount);
							$jppr('a[product_id="'+itemId+'"]').parent().parent().find('.currentstock').html(data.stockAvail);
							$jppr('a[product_id="'+itemId+'"]').parent().parent().find('.remainingstock').html(data.stockRest);
							$jppr('a[product_id="'+itemId+'"]').parent().parent().find('.qty').change(function(){
								$jppr('a[product_id="'+itemId+'"]').parent().parent().find('.remainingstock').html($jppr('a[product_id="'+itemId+'"]').parent().parent().find('.currentstock').html() - $jppr(this).val());
							});
						}
						//}
						//return false;
					}
				});
			}
		
			ProductConfigure.prototype._requestItemConfiguration = ProductConfigure.prototype._requestItemConfiguration.wrap(function(parentMethod, listType, itemId){
						if (!this.listTypes[listType].urlFetch) {
							return false;
						}
						var url = this.listTypes[listType].urlFetch;
						if (url) {
							new Ajax.Request(url, {
								parameters: {id: itemId},
								onSuccess: function(transport) {
									var response = transport.responseText;
									if (response.isJSON()) {
										response = response.evalJSON();
										if (response.error) {
											this.blockMsg.show();
											this.blockMsgError.innerHTML = response.message;
											this.blockCancelBtn.hide();
											this.setConfirmCallback(listType, null);
											//this._showWindow();
											//check if item has different config options also check price
											//alert(itemId);
											//return current stock
										   // this.onConfirmBtn();
											if(listType == 'product_to_add'){
												var $selfID = $jppr('#calendarTable'+itemId);
												calculatePrice($selfID,itemId,this );
											}else{
												this._showWindow();
											}
		
										}
									} else if (response) {
										response = response + '';
										this.blockFormFields.update(response);
		
										// Add special div to hold mage data, e.g. scripts to execute on every popup show
										var mageData = {};
										var scripts = response.extractScripts();
										mageData.scripts = scripts;
		
										var scriptHolder = new Element('div', {'style': 'display:none'});
										scriptHolder.mageData = mageData;
										this.blockFormFields.insert(scriptHolder);
		
										// Show window
										//this._showWindow();
										//check if item has different config options also check price
										//alert(itemId);
										//return current stock
										//this.onConfirmBtn();
										if(listType == 'product_to_add'){
											var $selfID = $jppr('#calendarTable'+itemId);
											calculatePrice($selfID,itemId,this );
										} else{
											this._showWindow();
										}
		
									}
								}.bind(this)
							});
						}
		
			}
		);
		</script>
		<style type="text/css">
			button.Zebra_DatePicker_Icon{
				text-indent: 0px;
			}
			.Zebra_DatePicker{
				z-index:10000;
			}
			.datesInputsTop{
				display: none;
			}
		</style>
		<style type="text/css">
			button.Zebra_DatePicker_Icon{
				text-indent: 0px;
			}
			.Zebra_DatePicker{
				z-index:10000;
			}
			.datesInputs{
				display: none;
			}
			.timeSelector{
				margin-top: 20px;
			}
		</style>
	<?php endif; ?>
	<!-- /PAYPERRENTALS -->
	<input type="hidden" name="r4qQuoteId" value="<?php echo $_quote->getId() ?>" />
	<input type="hidden" name="r4qStatus" id="r4qStatus" value="<?php echo $_quote->getR4qStatus() ?>" />
	<div style="min-width: 940px; width:auto;">
		<div id="order-search" style="display: none;"><?php echo $this->getChildHtml('search') ?></div>
		<div id="order-items">
			<?php echo $this->getChildHtml('quote_items') ?>
		</div>
		<div class="clear"></div>
		<div class="box-left" style="min-width:450px;">
			<div class="entry-edit">
				<div class="entry-edit-head"><h4 class="icon-head head-account"><?php echo $this->__('Quote #%s', $_quote->getId()) ?></h4></div>
				<div class="fieldset">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<td class="label"><label><?php echo $this->__('Last Update') ?></label></td>
								<td class="value"><strong><?php echo Mage::helper('core')->formatDate($_quote->getUpdatedAt(), 'long', true) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Quote Request Status') ?></label></td>
								<td class="value">
									<select name="r4q_status" id="r4q_status">
										<?php foreach ($_statusCollection AS $_status) : ?>
											<option value="<?php echo $_status->getStatus() ?>"><?php echo $_status->getLabel() ?></option>
										<?php endforeach; ?>
									</select>
									<script type="text/javascript">
										$$('#r4q_status option').each(function(el) {
											if ($(el).value == '<?php echo $_quote->getR4qStatus() ?>') {
												$(el).selected = true;
											}
										});
									</script>
								</td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Store ID') ?></label></td>
								<td class="value"><strong>#<?php echo $_quote->getStoreId() ?></strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="box-right">
			<div class="entry-edit">
				<div class="entry-edit-head"><h4 class="icon-head head-account"><?php echo $this->__('Customer Information') ?></h4></div>
				<div class="fieldset">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<td class="label"><label><?php echo $this->__('Customer Name') ?></label></td>
								<td class="value"><strong>
									<?php if ($_customer) : ?>
										<a href="<?php echo $this->getUrl('adminhtml/customer/edit', array('id' => $_customer->getId())) ?>"><?php echo $_quote->getCustomerFirstname() ?> <?php echo $_quote->getCustomerLastname() ?></a>
									<?php else : ?>
										<?php echo $_quote->getCustomerFirstname() ?> <?php echo $_quote->getCustomerLastname() ?>
									<?php endif; ?>
									
								</strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Email Address') ?></label></td>
								<td class="value"><strong><?php echo $_quote->getCustomerEmail() ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Telephone') ?></label></td>
								<td class="value"><strong><?php echo $_quote->getR4qPhone() ?></strong></td>
							</tr>
							<?php if ($_customer) : ?>
								<tr>
									<td class="label"><label><?php echo $this->__('Customer Group') ?></label></td>
									<td class="value"><strong><?php echo $this->getCustomerCroup()->getCustomerGroupCode() ?></strong></td>
								</tr>
							<?php endif; ?>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="box-left" style="min-width:450px;">
			<div class="entry-edit">
				<div class="entry-edit-head"><h4 class="icon-head head-account"><?php echo $this->__('Shipping Address') ?></h4></div>
				<div class="fieldset">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<td class="label"><label><?php echo $this->__('Customer Name') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getFirstname()) ?> <?php echo $this->htmlEscape($_shippingAddress->getLastname()) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Address') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape(implode("\n", $_shippingAddress->getStreet())) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('City') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getCity()) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Zip / Postal Code') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getPostcode()) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Country') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getCountryId()) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('State/Province') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getRegion()) ?></strong></td>
							</tr>
							<tr>
								<td class="label"><label><?php echo $this->__('Telephone') ?></label></td>
								<td class="value"><strong><?php echo $this->htmlEscape($_shippingAddress->getTelephone()) ?></strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- comments -->
		<div class="box-right">
			<div class="entry-edit">
				<div class="entry-edit-head"><h4 class="icon-head head-account"><?php echo $this->__('Comments') ?></h4></div>
				<div class="fieldset">
					<table class="form-list" cellspacing="0">
						<tbody>
							<tr>
								<td class="label"><label><?php echo $this->__('General Request Remark') ?></label></td>
								<td class="value"><?php echo $this->htmlEscape($_quote->getR4qNote()) ?></td>
							</tr>
							<?php if ($_quote->getR4qStatus() == ITwebexperts_Request4quote_Model_Quote::STATUS_REJECTED) : ?>
								<tr>
									<td class="label"><label><?php echo $this->__('New Proposal Comment') ?></label></td>
									<td class="value"><textarea name="r4q_update_comment" cols="8" rows="10"><?php echo $_quote->getR4qUpdateComment() ?></textarea></td>
								</tr>
							<?php elseif ($_quote->getR4qUpdateComment()) : ?>
								<tr>
									<td class="label"><label><?php echo $this->__('New Proposal Comment') ?></label></td>
									<td class="value"><?php echo $this->htmlEscape($_quote->getR4qUpdateComment()) ?></td>
								</tr>
							<?php endif; ?>
							<?php if ($_quote->getR4qRejectReason()) : ?>
								<tr>
									<td class="label"><label><?php echo $this->__('Reject Reason') ?></label></td>
									<td class="value"><?php echo $this->htmlEscape($_quote->getR4qRejectReason()) ?></td>
								</tr>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		
		
	</div>
</div>