<div class="wsmenucontainer clearfix">
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader clearfix"> <!--<a class="callusicon" href="tel:123456789"><span class="fa fa-phone"></span></a> --><!--<a class="smallogo"><img src="images/logo.png" width="120" alt="" /></a>--> <a id="wsnavtoggle" class="animated-arrow"><span></span></a> </div>

