<?php $_product = $this->getProduct(); ?>
<?php $xml = $this->getXML('accessories'); ?>
<?php $_layoutHelper = Mage::helper('isc_catalog/data'); ?>
<?php $_customGroupHelper = Mage::helper('cyberhouse_customergroups'); ?>

<!--ACCESSORIES-->
<h2><?php echo $this->__('Recommended accessory for this product') ?></h2>
<?php /*Check if xml is valid -> if not valid show no accessory available notification*/ ?>
<?php if ($xml) : ?>

    <?php //Product Alert Modal?>
     <?php /*Product Alert Modal*/ ?>
        <div id="out-of-stock-message" style="display: none;">
            <h2 id="modalLabel"><?php echo Mage::helper("cyberhouse_productalert")->__('Please log in to get notified!') ?></h2>
            <p>
                <?php $name = Mage::helper("persistent")->__('Login or Create an Account'); ?>
                <a href="<?php echo Mage::getUrl("customer/account/login"); ?>"
                   title="<?php echo $name; ?>"><?php echo $name; ?><span class="icon-share"></span></a>
            </p>
        </div>

    <?php /*Iterate over each accessory of the xml*/?>
    <?php $count = 1;?>
    <?php foreach ($xml->accessories as $accessoryXML): ?>
        <?php /*Show row every 4th item*/?>
        <?php if ($count%4 == 1):?>
            <div class="row-fluid">
        <?php endif; ?>
        <?php /*Load the accessory by productId*/?>
        <?php $accessory = Mage::getModel('catalog/product')->loadByAttribute('sku', $accessoryXML['productId']);?>

        <?php /*Check if the accessory was found in the database*/?>
        <?php if ($accessory) : ?>

            <?php /*Check the availibilty of the product*/?>
            <?php if ($_layoutHelper->isProductAvailable($accessory)): ?>
                <?php $stockLabel = $this->__('In Stock');
                $stockClass = 'in-stock' ?>
            <?php else: ?>
                <?php $stockLabel = $this->__('Out of Stock');
                $stockClass = 'out-of-stock' ?>
            <?php endif ?>

            <?php /*Single accessory HTML-Output*/?>
            <div class="span3 accessory-box">
                <div class="row-fluid">
                    <?php /*Item Image*/?>
                    <div class="span12">
                        <div class="accessory-image">
                            <img src="<?php echo Mage::helper('isc_parser/data')->getAssetUrl($accessory->getProductPicture())?>"/>
                        </div>
                    </div>

                    <?php /*Title*/?>
                        <div class="span12">
                            <a href="<?php echo $accessory->getProductUrl() ?>"><?php echo $accessory->getName() ?></a>
                        </div>

                    <?php /*Title*/ /*Item Price*/?>
                    <div class="span12"><?php echo $this->__('Price') ?>: <?php echo $this->getFormattedPrice($accessory); ?></span>
                    </div>

                    <?php /*Item No*/ ?>
                    <div class="span12"><?php echo $this->__('Item number') ?>: <?php echo $accessory->getItemNo() ?></div>

                    <?php /*Availibility*/ ?>
                    <div class="span12"><?php echo $this->__('Availibility') ?>: <?php echo $stockLabel ?></div>

                    <?php /*Cart*/?>
                    <?php /*Show add to cart button only if accessory is available*/?>
                     <?php $productAvailable = $_layoutHelper->isProductAvailable($accessory); ?>
                    <?php $customerLevel30 = $_customGroupHelper->hasCurrentCustomerLevel30(); ?>
                    <div class="action-wrap">
                    <?php if ($productAvailable || $customerLevel30) : ?>
                        <form method="post" data-url="<?php echo Mage::getUrl('checkout/cart/ajaxadd') ?>"
                              action="<?php echo $this->getSubmitUrl($accessory) ?>">
                            <?php echo $this->getBlockHtml('formkey') ?>
                                <div class="qty">
                                    <?php if ($accessory->getPrice() > 0): ?>
                                        <input type="hidden" name="product"
                                               value="<?php echo $accessory->getId() ?>"/>
                                        <?php echo $this->__('Wished Qty') ?>
                                        <input type="text" class="" name="qty"
                                               value="1"/>

                                    <?php endif; ?>
                                </div>
                                <?php /*Show cart button class cart-submit needed for ajax add to cart*/ ?>
                                     <?php //Request for Quote?>
                                    <?php if (!$productAvailable && $customerLevel30) : ?>
                                        <div class="cart">
                                            <input class="cart-submit btn fa-input cart-request"
                                                   type="submit"
                                                   value="<?php echo $this->__('Add to Request') ?> &#xf022;">

                                        </div>
                                    <?php else : ?>
                                        <?php //normal Cart Button?>
                                        <div class="cart">
                                            <input class="cart-submit btn fa-input "
                                                   type="submit"
                                                   value="<?php echo $this->__('Add to Cart') ?> &#xf07a;">

                                        </div>
                                    <?php endif ?>

                        </form>
                         <?php else : ?>
                            <?php echo $this->getChildHtml('alert_urls'); ?>
                        <?php endif ?>
                    </div>

                </div>
            </div>
        <?php if ($count%4 == 0) : ?>
            </div>
        <?php endif; ?>
        <?php $count++; ?>
        <?php endif ?>
    <?php endforeach;?>

    <?php /*This is to ensure there is no open div if the number of elements in user_kicks is not a multiple of 4*/?>
    <?php if ($count%4 != 1) :?>
        </div>
    <?php endif; ?>

<?php else : ?>
    <div class="alert alert-warning" role="alert">
        <?php echo $this->__('No accessory available at the moment.') ?>
    </div>

<?php endif; ?>

