<?php
$xml_features = $this->getXML('features');
$xml_properties = $this->getXML('properties')
?>
<?php /*ATTRIBUTES*/ ?>
    <h2><?php echo $this->__('Features') ?></h2>
<?php if ($xml_features || $xml_properties): ?>
<?php if ($xml_features) : ?>
    <?php $features = $xml_features->feature ?>
    <?php if (!empty($features)) : ?>
        <div class="row-fluid features-row">
            <div class="span6">
                <ul class="features">
                    <?php for ($i = 0; $i < count($features) / 2; $i++) : ?>
                        <li>
                            <?php echo $features[$i] ?>
                        </li>
                    <?php endfor ?>
                </ul>
            </div>
            <div class="span6">
                <ul class="features">
                    <?php for ($i = intval(ceil(count($features) / 2)); $i < count($features); $i++) : ?>
                        <li>
                            <?php echo $features[$i] ?>
                        </li>
                    <?php endfor ?>
                </ul>
            </div>
        </div>
        <?php ?>
    <?php endif; ?>
<?php endif; ?>

<?php /*TECHNICAL AND LOGISTIC*/ ?>
<?php if ($xml_properties) : ?>
    <?php $properties = $xml_properties->propertyGroup ?>
    <?php if (!empty($properties)) : ?>
        <div class="row-fluid">
            <?php foreach ($properties as $group) : ?>
                <div class="span6">
                    <h2><?php echo $this->__($group->name) ?></h2>
                    <?php foreach ($group as $property) : ?>
                        <div class="row-fluid attribute-row">
                            <div class="span6 attribute-label">
                                <?php echo $property['name'] ?>
                            </div>
                            <div class="span6 attribute-value">
                                <?php echo $property['value'] ?>
                            </div>
                        </div>
                    <?php endforeach ?>
                </div>
            <?php endforeach ?>
        </div>
    <?php endif; ?>

<?php endif; ?>

<?php else : ?>
<div class="alert alert-warning" role="alert">
    <?php echo $this->__('No Features available') ?>
</div>

<?php endif; ?>