<?php
$xml = $this->getXML('documents');
?>
<?php /*DOCUMENTS*/?>
<h2><?php echo $this->__("Documents")?></h2>
<?php /*Check if the xml is correct*/?>
<?php if ($xml) : ?>
    <?php /*Iterate over each document category*/?>
    <?php foreach ($xml->category as $category): ?>
        <?php /*Show document category name --> e.g. Manuals*/?>
        <h3><?php echo $category['name']; ?></h3>
        <ul>
            <?php /*Iterate over each document in one category*/?>
            <?php foreach ($category->document as $document): ?>
                <li>
                    <?php /*Generate the document title */?>
                    <?php $documentTitle = $document['name']. " " . $this->getProduct()->getAttributeText('tpg') . " " . $this->getProduct()->getName() . " "?>
                    <a href="<?php echo Mage::helper('isc_parser/data')->getAssetUrl($document['asset_id'], 'none'), Mage::helper('isc_parser/data')->encodeUrl($documentTitle) ?>">
                        <?php echo $documentTitle?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endforeach; ?>

<?php else : ?>
    <div class="alert alert-warning" role="alert">
        <?php echo $this->__( 'No documents available at the moment.' ) ?>
    </div>

<?php endif; ?>
