<?php
$xml = $this->getXML('identicalpart');
$_layoutHelper = Mage::helper('isc_catalog/data');
?>
<?php /*Check if the xml is correct*/ ?>
<?php if ($xml) : ?>

    <?php //Iterate over all identical parts?>
    <?php foreach ($xml->identicalPartLink as $identicalPart) : ?>

        <?php //Get General Identical Part Information?>
        <?php $sku = $identicalPart["productId"]; ?>
        <?php $product = Mage::getModel('catalog/product')->loadByAttribute('sku', $sku); ?>

        <?php //Check the Availibility of a Identical Part?>
        <?php if ($_layoutHelper->isProductAvailable($product)): ?>
            <?php $stockLabel = $this->__('In Stock');
            $stockClass = 'in-stock' ?>
        <?php else: ?>
            <?php $stockLabel = $this->__('Out of Stock');
            $stockClass = 'out-of-stock' ?>
        <?php endif ?>

        <?php //Show identical part only when in stock?>
        <?php if ($stockClass == "in-stock"): ?>

            <?php /*Arrow Icon*/ ?>
            <div class="text-center"><i style="font-size:30px;" class="fa fa-angle-down"></i></div>

            <div class="row identicalpart-row">
                <p><?php echo $this->__('For this spare part also fits:') ?></p>

                <?php //Image?>
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span4">
                            <img
                                src="<?php echo Mage::helper('isc_parser/data')->getAssetUrl($product->getProductPicture(), 100); ?>"
                                alt="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($product); ?>"
                                title="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($product); ?>"/>

                        </div>
                        <?php //Productinformation?>
                        <div class="span8">
                            <?php /*Producttitle & Productlink*/ ?>
                            <a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a>
                            <?php /*ProductPrice*/ ?>
                            <p><?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?></p>
                            <?php /*Product availibility*/ ?>
                            <p><span class="in-stock"><?php echo $stockLabel; ?></span></p>
                        </div>
                    </div>
                </div>

                <?php //Action Wrap?>
                <div class="action-wrap">
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <form method="post" data-url="<?php echo Mage::getUrl('checkout/cart/ajaxadd') ?>"
                          action="<?php echo $this->getSubmitUrl($product) ?>">
                        <div class="row-fluid action-wrap-row">
                            <div class="qty span3">
                                <?php if ($product->getPrice() > 0): ?>
                                    <input type="hidden" name="product"
                                           value="<?php echo $product->getId() ?>"/>
                                    <input type="text" class="" name="qty"
                                           value="1"/>

                                <?php endif; ?>
                            </div>
                            <?php /*Show cart button class cart-submit needed for ajax add to cart*/ ?>
                            <div class="cart span9">
                                <?php if ($product->getPrice() > 0): ?>
                                    <input class="cart-submit btn fa-input "
                                           type="submit" value="<?php echo $this->__('Add to Cart') ?> &#xf07a;">

                                <?php endif; ?>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <?php //Break for each?>
            <?php Break; ?>
        <?php endif; ?>


    <?php endforeach ?>


<?php endif; ?>


