<?php
$xml = $this->getXML('main_items');
?>
<?php /*Check if the xml is correct*/ ?>
<?php if ($xml) : ?>

    <p><?php echo $this->__('Suitable for the following products:') ?></p>
    <ul id="list">
        <?php foreach ($xml->mainItems as $mainItems) : ?>
            <li><?php echo $mainItems["desc"] . " | " . $this->__("Item no.") . " " . $mainItems["itemNo"] . " | " . $this->__("Ident no.") . " " . $mainItems["identNo"] ?></li>
        <?php endforeach ?>
    </ul>

    <?php /*show "Show more" button only if there are more than 2 main items*/ ?>
    <?php if (count($xml->mainItems) > 3) : ?>

        <a class="btn_more"><i class="fa fa-angle-right"></i> <?php echo $this->__('Show all') ?></a>
        <a class="btn_less"><i class="fa fa-angle-left"></i> <?php echo $this->__('Show less') ?></a>

        <?php /*Script for the show more, show less functionality*/ ?>
        <script>
            jQuery(document).ready(function () {
                jQuery('ul#list').children('li:gt(2)').hide();
                    jQuery('.btn_more').click(function () {
                        jQuery('ul#list').children().show();
                        jQuery('.btn_more').hide();
                        jQuery('.btn_less').show();
                    });
                    jQuery('.btn_less').click(function () {
                        jQuery('ul#list').children('li:gt(2)').hide();
                        jQuery('.btn_less').hide();
                        jQuery('.btn_more').show();
                    });

            });
        </script>
    <?php endif; ?>
<?php endif; ?>

