<?php
$xml = $this->getXML('media');
$name = "Media";
?>
    <!--IMAGES-->
    <h2><?php echo $this->__("Images") ?></h2>
<?php $images = $xml->images ?>
<?php //check if the images xml ist empty or only the "no image is available" image is in the xml?>
<?php if (!empty($images) && Mage::getStoreConfig('iscconfig_options/asset_settings/asset_no_image_id') != $images->image['ref']): ?>
    <div class="product-gallery-images">
        <?php $i = 0;
        $cols = 4 ?>
        <?php foreach ($images->image as $image) : ?>
            <?php if ($i++ % $cols == 0) : ?>
                <div class="row-fluid">
            <?php endif ?>
            <div class="span3">
                <div class="product-gallery-image-wrap">
                    <a class="fancy" rel="gallery"
                       href="<?php echo $this->getImageUrl($image, 800); ?>">
                        <img
                            src="<?php echo $this->getImageUrl($image, 242);?>"
                            alt="<?php echo Mage::helper('isc_parser/media')->getImageAltText($this->getProduct(), $image);?>"
                            title="<?php echo Mage::helper('isc_parser/media')->getImageAltText($this->getProduct(), $image);?>"
                        />
                        <span class="image-loupe">&nbsp;</span>
                    </a>
                </div>
            </div>

            <?php if ($i % $cols == 0 || $i == count($images->image)): ?>
                </div>
            <?php endif ?>
        <?php endforeach ?>
    </div>
<?php else : ?>
    <div class="alert alert-warning" role="alert">
        <?php echo $this->__('No images available at the moment.') ?>
    </div>

<?php endif ?>