<?php
$product = $this->getProduct();
$_customGroupHelper = Mage::helper('cyberhouse_customergroups');
$spareparts = $this->getSpareparts();

?>

    <h2><?php echo $this->__("Spareparts") ?></h2>

    <script>
        var partsList = '<?php echo json_encode($this->getSparepartJavascriptList()) ?>';
    </script>

<?php if (!empty($spareparts)): ?>
    <div class="row hidden-phone hidden-tablet">
        <div class="span12">
            <ul class="clearfix" id="spartparts-view-select">
                <?php if (!empty($this->getExplosionDrawing(800))) : ?>
                    <li data-show="spareparts-exploded" class="active"><?php echo $this->__('Exploded drawing'); ?></li>
                <?php endif; ?>
                <li data-show="spareparts-list"><?php echo $this->__('List view'); ?></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span12" id="spareparts-view">
            <?php //show exploded drawing only if picture exists?>
            <?php if (!empty($this->getExplosionDrawing(800))) : ?>
                <div id="spareparts-exploded" class="clearfix active hidden-phone hidden-tablet">
                    <div id="ed-container" class="row">
                        <div class="span10">
                            <div id="ed-view" class="loading">
                                <div id="ed-parts">
                                    <div class="inner">
                                    </div>
                                </div>
                                <img id="ed-img"
                                     data-highres="<?php echo $this->getExplosionDrawing(800); ?>"
                                     src="<?php echo $this->getExplosionDrawing(800); ?>"/>
                            </div>
                        </div>
                        <div class="span2">
                            <div id="ed-controls">
                                <div id="ed-zoom" class="clearfix">
                                    <div class="ed-button-wrap">
                                        <div id="ed-zoom-plus" class="ed-button">&nbsp;</div>
                                    </div>
                                    <div class="ed-button-wrap">
                                        <div id="ed-zoom-minus" class="ed-button">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="preview" id="ed-preview">
                                    <img src="<?php echo $this->getExplosionDrawing(156); ?>"/>
                                    <div id="ed-handle">&nbsp;</div>
                                </div>
                                <div id="ed-zoom-info">
                                    100%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php /*SparepartList*/ ?>

            <div id="spareparts-list">
                <div class="sp-table">
                    <div class="sp-header clearfix">
                        <div class="row-image">&nbsp;</div>
                        <div class="pos"><?php echo $this->__('Pos') ?></div>
                        <div class="desc"><?php echo $this->__('Description') ?></div>
                        <div class="stock hidden-phone"><?php echo $this->__('Availability') ?></div>
                        <div class="sku"><?php echo $this->__('SKU') ?></div>
                        <div class="price"><?php echo $this->__('Price') ?></div>
                        <div class="qty"><?php echo $this->__('Quantity') ?></div>
                        <div class="cart"><?php echo $this->__('Action') ?></div>
                    </div>
                    <?php
                    $counter = 0;
                    $spareparts = $this->getSpareparts();
                    ?>
                    <?php foreach ($spareparts as $part) : ?>
                        <?php //Check Availibility?>
                        <?php if ($part['in_stock']) : ?>
                            <?php
                            $stockLabel = $this->__('In Stock');
                            $stockClass = 'in-stock'
                            ?>
                        <?php else: ?>
                            <?php
                            $stockLabel = $this->__('Out of Stock');
                            $stockClass = 'out-of-stock' ?>
                        <?php endif ?>

                        <div
                            class="sp-row clearfix <?php echo ($counter % 2 == 0) ? 'odd-' : 'even-' ?> <?php if ($part['in_cart']) echo "in-cart" ?>"
                            data-in-stock="<?php echo ($part['in_stock'] > 0) ? 1 : 0; ?>"
                            data-salable="<?php echo ($part['salable']) ? 1 : 0; ?>"
                            data-name="<?php echo rawurlencode($part['name']) ?>"
                            data-sku="<?php echo $part['sku'] ?>"
                            id="item-<?php echo $part['sku'] ?>"
                            data-product-id="<?php echo $part['product_id'] ?>"
                            data-price="<?php echo $part['price'] ?>"
                            data-formatted_price="<?php echo $part['formatted_price'] ?>"
                            data-stock-label="<?php echo $stockLabel; ?>"
                            data-stock-class="<?php echo $stockClass ?>"
                            data-in-cart="<?php echo $part['in_cart'] ?>"
                            data-img="<?php echo $part['img'] ?>"
                        >
                            <div class="row-inner clearfix">
                                <?php //Image?>
                                <div class="row-image">
                                    <?php if ($part['asset_id']): ?>
                                        <a id="<?php echo $part['sku'], "_img"; ?>" class="fancy"
                                           href="<?php echo $part['img'] ?>"><span class="icon-camera">&nbsp;</span></a>
                                    <?php else: ?>
                                        <span>&nbsp;</span>
                                    <?php endif; ?>
                                </div>

                                <?php //Position?>
                                <div class="pos"><?php
                                    $pos = ($part['pos'] && !isset($part['is_alternative'])) ? sprintf("%03d", $part['pos']) : "&nbsp;";
                                    echo $pos;
                                    ?></div>

                                <?php //description?>
                                <div class="desc"><a href="<?php echo $part['product_url'] ?>"><?php
                                        $name = htmlspecialchars($part['name']);
                                        echo $name;
                                        ?></a></div>

                                <?php //Stocklabel?>
                                <div class="stock hidden-phone">
                                <span class="<?php echo $stockClass ?>">
                                    <?php if ($stockClass == "out-of-stock") : ?>
                                        <?php echo $this->getChildHtml('alert_urls') ?>
                                        <?php echo $stockLabel; ?>
                                        <?php /*$this->initStockAlertBlock($part['product'])*/?>
                                    <?php else : ?>
                                        <?php echo $stockLabel; ?>
                                        <?php ?>
                                    <?php endif ?>
                                </span>
                                </div>

                                <?php //Sku ?>
                                <div class="sku"><?php echo str_replace('_00', '', $part['sku']) ?></div>

                                <div class="action-wrap row-fluid">
                                    <form method="post" data-url="<?php echo $part['ajax_url'] ?>"
                                          action="<?php echo $part['add_url'] ?>">

                                        <?php //price ?>
                                        <div class="price span4">
                                            <?php echo $part['formatted_price'] ?>
                                        </div>
                                        <?php //action --> only when in stock or visibilitylevel 10,30?>
                                        <?php if ($stockClass == "in-stock" || $_customGroupHelper->hasCurrentCustomerLevel30()): ?>
                                            <?php if ($part['salable']) : ?>
                                                <?php //Quantity?>
                                                <div class="qty span4">
                                                    <?php if ($part['price'] > 0): ?>
                                                        <input type="hidden" name="product"
                                                               value="<?php echo $part['product_id'] ?>"/>
                                                        <input type="text" class="qty" name="qty"
                                                               value="1"/> <?php echo $this->__('pcs.') ?>
                                                    <?php endif; ?>
                                                </div>
                                                <?php //Cart, if out of stock and level 30 show icon-list-alt?>
                                                <div class="cart span4">
                                                    <?php if ($part['price'] > 0): ?>
                                                        <input
                                                            class="cart-submit<?php echo !$part['in_stock'] ? " icon-list-alt" : "" ?>"
                                                            type="submit"
                                                            value="<?php echo $this->__('Add to Cart') ?>"/>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <?php $counter++ ?>
                    <?php endforeach ?>
                    <?php echo "<div class='infoElement'>* ", $this->getPriceInfoHtml(), "</div>"; ?>
                </div>
            </div>
        </div>
    </div>

    <div id="product-popover-template" class="hidden">
        <div class="product-popover" id="product-popover">
            <div class="popover-close" title="<?php echo $this->__('Close') ?>">&nbsp;</div>
            <div class="row">
                <div class="popover-image"></div>
                <div class="span7">
                    <div class="group-notice clearfix hidden">
                        <?php echo $this->__('This item is an assembly group') ?>
                        <div class="btn small">
                            <a class="assembly-group-link" href="#">
                                <i></i>
                                <?php echo $this->__('To Assembly Group') ?>
                            </a>
                        </div>
                    </div>
                    <div class="header-wrap">
                        <div class="header">name-placeholder</div>
                        <div class="position">Pos / <span class="position-val">position-placeholder</span></div>
                        <div class="question hidden">question-placeholder</div>
                    </div>
                    <div class="table-wrap">
                        <div class="sp-table">
                            <div class="sp-header clearfix">
                                <div class="sku"><?php echo $this->__('SKU') ?></div>
                                <div class="stock"><?php echo $this->__('Availability') ?></div>
                                <div class="price"><?php echo $this->__('Price') ?></div>
                                <div class="qty qty-label"><?php echo $this->__('Qty') ?></div>
                                <div class="cart cart-label">&nbsp;</div>
                            </div>
                            <form data-url="<?php echo Mage::getUrl('checkout/cart/ajaxadd') ?>">
                                <div class="sp-row clearfix">
                                    <div class="row-inner">
                                        <div class="sku"></div>
                                        <div class="stock"></div>
                                        <div class="price"></div>
                                        <div class="qty">
                                            <input type="hidden" name="product" value=""/>
                                            <input type="text" name="qty" class="qty"
                                                   value="1"/> <?php echo $this->__('Stk.') ?>
                                        </div>
                                        <div class="cart">
                                            <input class="cart-submit" type="submit"
                                                   value="<?php echo $this->__('Add to cart') ?>"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-row-alt clearfix">
                                    <?php
                                    echo '<div class="position">' . $this->__("Additional item for sparepart") . ':</div>';
                                    ?>
                                    <div class="row-inner">
                                        <div class="sku"></div>
                                        <div class="stock"></div>
                                        <div class="price"></div>
                                        <div class="alternative"></div>
                                        <div class="qty">
                                            <input type="hidden" name="product" value=""/>
                                            <input type="text" name="qty" class="qty"
                                                   value="1"/> <?php echo $this->__('Stk.') ?>
                                        </div>
                                        <div class="cart">
                                            <input class="cart-submit" type="submit"
                                                   value="<?php echo $this->__('Add to cart') ?>"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <?php
                    echo "<div class='infoElement'>* ", $this->getPriceInfoHtml(), "</div>";
                    ?>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="alert alert-warning" role="alert">
        <?php echo $this->__('No spareparts available at the moment.'); ?>
    </div>
<?php endif; ?>