<?php
$xml = $this->getXML('properties');
$name = "Technical";
?>
<?php /*Check if the xml is correct*/?>
<?php if ($xml) : ?>

    <?php foreach ($xml->propertyGroup as $group): ?>
        <?php /*check if the name is Technical*/?>
        <?php if ($group->name == $name): ?>
            <?php /*interate over all properties and print name : value in a table*/?>
            <table>
                <?php foreach ($group as $property): ?>
                    <?php /*generate the single rows of the table*/?>
                    <tr>
                        <th><?php echo $property['name'] ?></th>
                        <td><?php echo $property['value'] ?></td>
                    </tr>

                <?php endforeach ?>
            </table>
            <?php /*print the generated table*/?>
        <?php endif; ?>
    <?php endforeach; ?>

<?php endif; ?>