/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */


.block1template .block1templatecontent,
.block2template .block2templatecontent,
.block3template .block3templatecontent {
	overflow: hidden;
}
.block1template .block1templatecontent .block1left {
	overflow: hidden;
}
.block2template .block2templatecontent .block2middle,
.block2template .block2templatecontent .block2left {
	width: 49.999%;
	float: left;
	overflow: hidden;
}

.block3template .block3templatecontent .block3right,
.block3template .block3templatecontent .block3middle,
.block3template .block3templatecontent .block3left {
	width: 33.333%;
	float: left;
	overflow: hidden;
}

.block3template .block3templatecontent .block3right .elementtemplate,
.block3template .block3templatecontent .block3middle .elementtemplate,
.block3template .block3templatecontent .block3left .elementtemplate,
.block2template .block2templatecontent .block2middle .elementtemplate,
.block2template .block2templatecontent .block2left  .elementtemplate {
  padding: 10px 10px 0px 20px;
}

/* some pre definitions */
.cmsplus .menu {
}

.cmsplus .menu .subpage a {
    color: #7a858d;
}

.cmsplus .menu li a {
    color: #7a858d;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
}

.cmsplus .menu a:hover {
  color: #333;
}

.cmsplus .menu li.active li.active a,
.cmsplus .menu li.active a {
    color: #fff;
    background: #1E7EC8;
}

footer .cmsplus .menu li.active li.active a,
footer .cmsplus .menu li.active a {
    background: none;
}
.cmsplus .menu li.active li a {
  color: #fff;
}
.cmspluspage .headline { font-size: 150%; padding: 0 10px 10px; text-decoration: underline; }
.cmspluspage .subheadline { font-size: 125%; padding: 0 10px 10px; }
