/**
 * Request for quote front-end css
 * 
 */
.request4quote-links li {margin-bottom: 5px}
.product-view button.btn-r4q {
    margin-left: 5px;
}

.item button.btn-r4q {
    margin-bottom: 5px;
}

.products-grid li.item {
    padding-bottom: 100px;
}
.request4quote-front-quote-index #shopping-cart-table{
    width:100% !important;
}
.r4q-item-remark {
    width: 98%;
}
.form-list .r4q-remark {
    width: 98%;
}
.cart-rf4-details .form-list .input-box {
    width: auto;
}
.r4q-actions {
    text-align: right;
}
.cart-rf4-details, .cart-rf4-shipping, .cart-rf4-billing {
    border:1px solid #d0cbc1;
    background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x;
    padding:12px 15px;
    margin:0 0 18px;
}
.r4q-collaterals {
    margin-left: 300px;
}
.cart-rf4-details h2, .cart-rf4-shipping h2, .cart-rf4-billing h2  { background-image: url("../images/i_discount.gif"); background-position:0 0; background-repeat:no-repeat; font:bold 13px/16px Arial, Helvetica, sans-serif; padding:0 0 0 21px; color:#e26703; text-transform:uppercase; }
.r4q-remark {
    width: 98%;
}

#requestQuoteForm .address-select {
    margin-top: 10px;
}

#requestQuoteForm label {
    display: inline-block;
    margin-left: 5px;
}

/* navigation */
.r4q-navigation {
    background-color: #f2f5f6;
    border: 1px solid #ccc;
    height: 1%;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
}
.r4q-navigation li {
    float: left;
    margin-right: 10px;
}
.r4q-navigation a {
    background-color: #9bb3c3;
    border: 1px solid #999;
    border-radius: 5px;
    color: #000;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
}
/* gradient and text shadow */
.r4q-navigation a {
    background: #d7e4ed; /* Old browsers */
    background: -moz-linear-gradient(top, #d7e4ed 0%, #63859a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e4ed), color-stop(100%,#63859a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d7e4ed 0%,#63859a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d7e4ed 0%,#63859a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d7e4ed 0%,#63859a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d7e4ed 0%,#63859a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e4ed', endColorstr='#63859a',GradientType=0 ); /* IE6-9 */
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
/* active menu item */
.r4q-navigation .active a, .r4q-navigation a:hover {
    background: #c5d6e2; /* Old browsers */
    background: -moz-linear-gradient(top, #c5d6e2 0%, #d9e5ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5d6e2), color-stop(100%,#d9e5ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c5d6e2 0%,#d9e5ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c5d6e2 0%,#d9e5ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c5d6e2 0%,#d9e5ee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c5d6e2 0%,#d9e5ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5d6e2', endColorstr='#d9e5ee',GradientType=0 ); /* IE6-9 */
}
.r4q-navigation .active a {
    color: #ff5600;
    cursor: default;
}

/* View quote */
.r4q-accept-reject {
    overflow: hidden;
    zoom: 1;
    text-align: center;
}
.r4q-reject {
    padding: 20px 0;
    border-right: 1px solid #ccc;
    float: left;
    width: 49%;
}
.r4q-accept {
    padding: 70px 0;
    float: right;
    width: 49%;
}
.r4q_reject_reason_row {
    padding: 10px 0;
}
#r4qRejectReason {
    height: 80px;
    width: 200px;
}
.button.r4q-btn-reject span { background-color: red; }
.button.r4q-btn-accept { border: 2px solid #229922;  }
.button.r4q-btn-accept span { background-color: #28e010; border: none; padding: 10px 30px; }
.button.r4q-btn-accept span span { padding: 0; font-size: 18px; }

.r4q-accept button.r4q-btn-accept {
    border: none;
    height: 17px;
    width: 200px;
}
.r4q-accept button.r4q-btn-accept span {
    height: 17px;
    border: none;
    padding: 0;
}

.r4q-accept button.r4q-btn-accept span span {
    line-height: 14px;
    font-size: 16px;
}