<h2>Barzahlen</h2>

<div class="computop-barzahlen">
	<p><?php echo $this->translate("We have received your order. However you have to complete the order by paying with one of the following option:"); ?></p>
	
	<?php if ($isShowPdfSlip):?>
	<h3><?php echo $this->translate("PDF with Barcode");?></h3>
	<p>
		<?php echo $this->translate("You can find a PDF with the barcode on the following URL:"); ?><br />
		<a href="<?php echo $pdfSlipUrl;?>"><?php echo $pdfSlipBaseUrl;?></a>
	</p>
	<?php endif;?>
	
	<?php if ($isShowMobileDeviceText):?>
	<h3><?php echo $this->translate("Mobile Device");?></h3>
		<div style="width: 100%;">
			<?php echo $mobileDeviceText;?>
		</div>
	<?php endif;?>
	
	<?php if ($isShowAdditionalText):?>
		<?php echo $additionalText; ?>
	<?php endif;?>
	
	<form action="<?php echo $finishUrl; ?>" method="POST">
	<div class="buttons" style="text-align: right;">
		<input type="submit" class="button" value="<?php echo $this->translate("Complete Order");?>" />
	</div>
	
	</form>
</div>