<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php $_product = $this->getProduct() ?>
<?php $price_block = $this->getLayout()->createBlock("magesetup/catalog_product_price") ?>
<?php
if($price_block) {
    $taxes = $this->getLayout()->createBlock('core/template')
        ->setTemplate('magesetup/price_info.phtml')
        ->setFormattedTaxRate($price_block->getFormattedTaxRate())
        ->setIsIncludingTax($price_block->isIncludingTax())
        ->setIsIncludingShippingCosts($price_block->isIncludingShippingCosts())
        ->setIsShowShippingLink($price_block->isShowShippingLink())
        ->setIsShowWeightInfo($price_block->getIsShowWeightInfo())
        ->setFormattedWeight($price_block->getFormattedWeight())
        ->toHtml();
    $taxes .= $this->__('*Incl. 19% Tax , excl. delivery costs');
}
?>
<span class="accessory_label">
    <?php echo $this->__('Price:') ?>
</span>
<span class="price">
     <?php echo Mage::helper('core')->currency($_product->getFinalPrice(), true, false); ?>
</span>
<p class="tax">
    <?php echo $taxes ?>
</p></span>

<?php if ($this->displayProductStockStatus()): ?>
    <?php if (Mage::helper('isc_catalog/data')->isProductAvailable($_product)): ?>
        <p><span class="in-stock"><?php echo $this->__('In Stock') ?></span></p>
    <?php else: ?>
        <p><span class="out-stock"><?php echo $this->__('Out of Stock') ?></span></p>
    <?php endif; ?>
<?php endif; ?>
<?php if ($_product->getDeliveryTime()):?>
    <p><?php echo $this->__('Delivery Time') . ':' ?> <span><?php echo $_product->getDeliveryTime();?></span></p>

<?php endif; ?>