<?php

$items = $this->getMenuItems();
if($items && count($items)) : ?>
<div class="row-fluid servicecenter-overview">
<?php
    foreach ($items as $item) : ?>
    <?php if($item['cssId'] == "home") : continue; endif; ?>
    <div class="span4">
        <div class="service-tile">
            <div class="service-description">
                <?php echo $item['description']; ?>
            </div>
            <div class="actions">
                <a class="btn" href="<?php echo $item['url']; ?>"><?php echo $item['name']; ?></a>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>