<?php  $value = $this->getExtPositionRemark(); ?>
<?php if ($value ) : ?>
<tr class="border">
    <td>
        <div class="action-link-holder">
            <?php echo Mage::helper('cyberhouse_checkout')->__('Position Remark') ?>
        </div>
        <div class="ext_position_remark" ><?php echo $value; ?></div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="last"></td>
</tr>
<?php endif; ?>