<ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <?php echo $this->getChildHtml('service.center.address.info'); ?>

            <div class="input-box form-inline">
                <?php echo $this->getAddressesHtmlSelect('address') ?>
                <button type="button" title="<?php echo Mage::helper('checkout')->__('New Address') ?>" class="button btn  address_add_button">
                    <span><span><?php echo Mage::helper('checkout')->__('New Address') ?></span></span></button>
            </div>
        </li>
    <?php endif; ?>
    <li id="service-center-new-address-form"<?php if ($this->customerHasAddresses()): ?>style="display: none;" <?php endif; ?> class="service-center-address-form">
        <fieldset>
            <input type="hidden" name="service-center[address_id]"
                   value="<?php echo $this->getAddress()->getId() ?>"
                   id="service-center:address_id"/>
            <ul>
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setTemplate('servicecenter/customer/widget/name.phtml')->setObject($this->getAddress())->setFieldIdFormat('service-center:%s')->setFieldNameFormat('service-center[%s]')->toHtml() ?></li>
                <li class="fields">
                    <div class="field">
                        <fieldset>
                        <label
                            for="service-center:company"><?php echo $this->__('Company') ?></label>

                        <div class="input-box input-prepend">
                            <span class="add-on"><i class="servicecenter-icon-company"></i></span>
                            <input type="text" id="service-center:company"
                                   name="service-center[company]"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>"
                                   title="<?php echo $this->__('Company') ?>" class="input-text input-block-level"/>
                        </div>
                            </fieldset>
                    </div>
                    <?php if (!$this->isCustomerLoggedIn()): ?>
                        <div class="field">
                            <label for="service-center:email"
                                   class="required"><em>*</em><?php echo $this->__('Email Address') ?>
                            </label>

                            <div class="input-box input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                <input type="text" name="service-center[email]"
                                       id="service-center:email"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>"
                                       title="<?php echo $this->__('Email Address') ?>"
                                       class="input-text validate-email required-entry input-block-level"/>
                            </div>
                        </div>
                    <?php endif ?>
                </li>
                <li>
                    <div class="field width-70 left">
                        <label for="service-center:street1"
                               class="required"><em>*</em><?php echo $this->__('Address') ?></label>

                        <div class="input-box input-prepend">
                            <span class="add-on"><i class="servicecenter-icon-street"></i></span>
                            <input type="text" title="<?php echo $this->__('Street Address') ?>"
                                   name="service-center[street][]" id="service-center:street1"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                   class="input-text required-entry input-block-level"/>
                        </div>
                    </div>
                    <div class="field width-30">
                        <label for="service-center:housenumber"
                               class="required"><em>*</em><?php echo $this->__('House Number') ?></label>

                        <div class="input-box">
                            <input type="text" name="service-center[housenumber]"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getHousenumber()) ?>"
                                   title="<?php echo $this->__('House Number') ?>"
                                   class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('housenumber') ?>"
                                   id="service-center:housenumber"/>
                        </div>
                    </div>
                </li>
                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                    <li class="add-field">
                        <div class="input-box">
                            <input type="text"
                                   title="<?php echo $this->__('Street Address %s', $_i) ?>"
                                   name="service-center[street][]"
                                   id="service-center:street<?php echo $_i ?>"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>"
                                   class="input-text"/>
                        </div>
                    </li>
                <?php endfor ?>
                <li>

                </li>

            </ul>
        </fieldset>
    </li>
</ul>
<ul class="form-list">
    <li class="fields"
        id="service-center-new-address-form-right" <?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="service-center[address_id]"
                   value="<?php echo $this->getAddress()->getId() ?>"
                   id="service-center:address_id"/>
            <ul>
                <li>
                    <div class="field width-30">
                        <label for="service-center:postcode"
                               class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?>
                        </label>

                        <div class="input-box input-prepend">
                            <span class="add-on"><i class="icon-map-marker"></i></span>
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>"
                                   name="service-center[postcode]" id="service-center:postcode"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                   class="input-text validate-zip-international required-entry input-block-level"/>
                        </div>
                    </div>
                    <div class="field width-70 right">
                        <label for="service-center:city"
                               class="required"><em>*</em><?php echo $this->__('City') ?></label>

                        <div class="input-box input-prepend">
                            <span class="add-on"><i class="servicecenter-icon-city"></i></span>
                            <input type="text" title="<?php echo $this->__('City') ?>"
                                   name="service-center[city]"
                                   value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                   class="input-text required-entry input-block-level" id="service-center:city"/>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="service-center:country_id"
                               class="required"><em>*</em><?php echo $this->__('Country') ?></label>

                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('service-center') ?>
                        </div>
                    </div>
                </li>
                <?php if (!$this->isCustomerLoggedIn()): ?>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                        <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('service-center:%s')->setFieldNameFormat('service-center[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('service-center:%s')->setFieldNameFormat('service-center[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                        </li>
                    <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <li>
                            <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('service-center:%s')->setFieldNameFormat('service-center[%s]')->toHtml() ?>
                        </li>
                    <?php endif ?>

                    <li class="fields"
                        id="register-customer-password"<?php if ($this->isGuestCheckout()): ?> style="display:none;"<?php endif; ?>>
                        <div class="field">
                            <label for="service-center:customer_password"
                                   class="required"><em>*</em><?php echo $this->__('Password') ?>
                            </label>

                            <div class="input-box">
                                <input type="password"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getCustomerPassword()) ?>"
                                       name="service-center[customer_password]"
                                       id="service-center:customer_password"
                                       title="<?php echo $this->__('Password') ?>"
                                       class="input-text required-entry validate-password"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="service-center:confirm_password"
                                   class="required"><em>*</em><?php echo $this->__('Confirm Password') ?>
                            </label>

                            <div class="input-box">
                                <input type="password"
                                       value="<?php echo $this->escapeHtml($this->getAddress()->getConfirmPassword()) ?>"
                                       name="service-center[confirm_password]"
                                       title="<?php echo $this->__('Confirm Password') ?>"
                                       id="service-center:confirm_password"
                                       class="input-text required-entry validate-cpassword"/>
                            </div>
                        </div>
                    </li>
                <?php endif; ?>
            </ul>
        </fieldset>
    </li>
</ul>
<script type="text/javascript">
    //custom validation for some customergroups
    var country = $('service-center:country_id');
    function changeValidation(){
        var billingCountry = country.getValue();
        var zipElement = $('service-center:postcode');
        zipElement.addClassName('validate-length');
        //this will only work while there are only 2 options
        if (billingCountry == 'AT') {
            zipElement.removeClassName('maximum-length-5 minimum-length-5');
            zipElement.addClassName('maximum-length-4 minimum-length-4');
        } else if (billingCountry == 'DE') {
            zipElement.removeClassName('maximum-length-4 minimum-length-4');
            zipElement.addClassName('maximum-length-5 minimum-length-5');
        }
    }
    country.observe('change', changeValidation);
    changeValidation();
</script>