<?php
$retoure = $this->getCurrentRetoure();
$currentAccountReturn = $this->getAccountRetoure();
$address = $currentAccountReturn->getAddress();
$product = $this->getProduct();
$productInfoText = "";
if ($product) {
    $productInfoText = (isset($product['serial_no'])?$product['serial_no']:$product['product_no']) . "</br>" . $product['description']. "</br>" . $product['description2'] ;
} else {
    $productInfoText = $this->__( 'No product information available' );
}
?>

<div class="span12">
    <div class="servicecenter_success">
        <table class="data-table" id="my-return-table">
            <thead>
            <tr>
                <th><?php echo $this->__( 'Date' ) ?></th>
                <th><?php echo $this->__( 'Product Information' ) ?></th>
                <th><?php echo $this->__( 'Special document' ) ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="date"><?php echo $currentAccountReturn->getDate() ? $currentAccountReturn->getDate() : "&nbsp;"; ?></td>
                <td class="product"><?php echo $productInfoText ? $productInfoText : "&nbsp;"; ?></td>
                <td class="return_label">
                    <form action="<?php echo $this->getActionUrl() ?>" method="POST">
                        <input type="hidden" name="name" value="<?php echo $address['firstname'] ?> <?php echo $address['lastname'] ?>" />
                        <input type="hidden" name="address" value="<?php echo $address['street'] ?> <?php echo $address['housenumber'] ?>" />
                        <input type="hidden" name="zip" value="<?php echo $address['postcode'] ?>" />
                        <input type="hidden" name="city" value="<?php echo $address['city'] ?>" />
                        <input type="hidden" name="country" value="<?php echo $address['country_id'] ?>" />
                        <input type="hidden" name="serialNo" value="<?php echo $product['serial_no'] ?>" />
                        <input type="hidden" name="identNo" value="<?php echo $product['ident_no'] ?>" />
                        <input type="hidden" name="itemNo" value="<?php echo $product['item_no'] ?>" />
                        <input type="hidden" name="returnOrderNo" value="<?php echo $retoure->getData('return_number') ?>" />
                        <button type="submit" class="button btn btn-submit">
                            <span><?php echo $this->__( 'Download document' ) ?></span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="profile_link">
        <a href="<?php echo Mage::getUrl( "customer/account" ); ?>"
           title="<?php echo $this->__( "Back to my account" ); ?>"><?php echo $this->__( "Back to my account" ); ?></a>
    </div>
</div>