<label for="date"><?php echo $this->__("Preferred Date") ?></label>
<input type="text" name="date" id="pickup_date" value="<?php echo Mage::registry('servicecenter_current_date'); ?>" />
<script type="text/javascript">
    jQuery('#pickup_date').datepicker({
        minDate: 0,
        firstDay: 1,
        gotoCurrent: true,
        beforeShowDay: jQuery.datepicker.noWeekends,
        dateFormat: 'yy-mm-dd'
    });
</script>