<form id="service-center-address-form" method="post"
      action="<?php echo Mage::getUrl('servicecenter/index/callDHL'); ?>">
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="row-fluid">
        <div class="span6">
            <?php echo $this->getChildHtml("service.center.left"); ?>
        </div>
        <div class="span6">
            <?php echo $this->getChildHtml("service.center.right"); ?>
        </div>
    </div>
</form>
