<div class="row-fluid">
    <div class="row-fluid" id="servicecenter-validation">
        <div>
            <div class="span12">
                <?php echo $this->getChildHtml('service.center.identify'); ?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid" id="choose-methods">
                    <div class="span12" id="method-chooser">
                        <?php echo $this->getChooseText(); ?>
                        <label class="radio">
                            <input type="radio" name="retour-method" id="serial-number" value="1" title=""
                                   class="" checked="checked"/><div class="pull-left"><?php echo $this->__('Serial number') ?></div>
                            <span class="info-serial-number info-icon pull-left hidden-phone"></span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="retour-method" id="article-identity-number" value="2" title=""
                                   class="" /><div class="pull-left"><?php echo $this->__('Article & Identity number') ?></div>
                            <span class="info-article-number info-icon pull-left hidden-phone"></span>
                        </label>
                    </div>
                </div>
                <div class="row-fluid" id="serial-number-container">
                    <div class="span6">
                        <label for="serial-number"><strong><?php echo $this->__("Serial number") ?></strong></label>
                        <input type="text" class="input-text required-entry validate-serial-number input-block-level" name="serial-number"
                               id="serial-number-input"/>
                        <button id="btn-identity" type="submit" class="button btn-block next-step btn-identity-submit">
                            <span><?php echo $this->__('Identify article') ?></span>
                        </button>
                        <input type="hidden" name="next-step-id" value="#servicecenter-step-reason"/>
                    </div>
                </div>
                <div class="row-fluid" style="display: none;" id="article-number-container">
                    <div class="span6">
                        <label for="article-number"><strong><?php echo $this->__("Article number") ?></strong></label>
                        <input type="text" class="input-text required-entry validate-article-number input-block-level"
                               name="article-number" id="article-number"/>
                        <label
                            for="identify-number"><strong><?php echo $this->__("Identify number") ?></strong></label>
                        <input type="text" class="input-text required-entry validate-identify-number input-block-level"
                               name="identify-number" id="identify-number"/>
                        <button type="submit" class="button btn-block next-step btn-identity-submit">
                            <span><?php echo $this->__('Identify article') ?></span>
                        </button>
                        <input type="hidden" name="next-step-id" value="#servicecenter-step-reason"/>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="info-serial-number">
                    <?php echo $this->getChildHtml('service.center.product.identify.serial-number'); ?>
                    <img src="<?php echo $this->getSkinUrl('img/sc_barcode_serial_number.jpg'); ?>" alt="image"/>
                </div>
                <div class="info-article-number" style="display: none;">
                    <?php echo $this->getChildHtml('service.center.product.identify.article-number'); ?>
                    <img src="<?php echo $this->getSkinUrl('img/sc_data_sign.jpg'); ?>" alt="image"/>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            Validation.add('validate-serial-number', '<?php echo $this->__("Validate Serial Number Notice"); ?>', function (v) {
                return Validation.get('IsEmpty').test(v) || /^[a-zA-Z0-9]{7}$/.test(v)
            });
            Validation.add('validate-article-number', '<?php echo $this->__("Validate Article Number Notice"); ?>', function (v) {
                return Validation.get('IsEmpty').test(v) || /^[0-9]{7}$/.test(v)
            });
            Validation.add('validate-identify-number', '<?php echo $this->__("Validate Identify Number Notice"); ?>', function (v) {
                return Validation.get('IsEmpty').test(v) || /^[0-9]{5}$/.test(v)
            });
        </script>
    </div>
</div>
<script type="text/javascript">
    var urlCheckIdentity = "<?php echo Mage::getUrl('servicecenter/index/check'); ?>";
    var urlGetSymptom = "<?php echo Mage::getUrl('servicecenter/index/getSymptom'); ?>";
    var redirectUrls =  <?php echo $this->helper('servicecenter')->getRedirectUrls(true); ?>;
</script>