<div class="block">
    <div class="row-fluid">
        <div class="span12 servicecenter-retoure-nav">
            <?php
            $steps = $this->getSteps();
            $width = 100 / count( $steps );
            $i = 1;
            foreach ($steps as $step) {
                echo '<div class="step-' . $i . ' ' . ( $this->getData( "active_key" ) == $i ? 'active' : "" ) . '" style="width: ' . $width . '%"><span>' . $i . '. ' . $this->__($step) . '</span></div>';
                $i++;
            }
            ?>
        </div>
    </div>
</div>