<label for="telephone"><em>*</em> <?php echo $this->__("Phone"); ?></label>
<input type="tel" name="telephone" value="<?php echo Mage::registry('servicecenter_current_phone'); ?>" required class="input-tel required-entry"/>