<?php
$product = $this->getProduct();
if ( !$product || ! isset($product['assetId']) || !$product['assetId'] ){
    $product['assetId'] = Mage::helper("cyberhouse_layout")->getNoImageAssetId();
}
?>
<form id="form_failuredescription" action="<?php echo Mage::getUrl('servicecenter/index/saveFailureDescription'); ?>">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span7">
                    <?php echo $this->getChildHtml('service.center.failuretype'); ?>
                </div>
                <div class="span5">
                    <div class="service-product">
                        <div class="description"><?php echo $product['description2'] . ' ' . $product['description'] ?></div>
                        <div class="img"><img src="<?php echo Mage::helper( 'cyberhouse_url' )->getAssetUrl( $product['assetId'], 242 ); ?>"/></div>
                        <div class="articlenumber"><?php echo $this->__('Articlenumber:') ?> <?php echo $product['item_no'] ?></div>
                        <div class="identnumber"><?php echo $this->__('Identnumber:') ?> <?php echo $product['ident_no'] ?></div>
                    </div>
                </div>
                <div id="product-functionality" class="span7">
                    <h4 class="product-functionality-headline"><?php echo $this->__("Did the product worked after delivery?") ?></h4>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="radio inline">
                                <input type="radio" name="product-worked" value="YES" title=""
                                       class=""/><?php echo $this->__('Functional') ?>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="product-worked" value="NO" title=""
                                       class=""/><?php echo $this->__('Not functional') ?>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="product-worked" value="NOT_SURE" title=""
                                       class=""/><?php echo $this->__('Not sure') ?>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="product-worked" value="NONE" title=""
                                       class=""/><?php echo $this->__('Prefer not to say') ?>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row-fluid" id="product-failure-container" style="display: none;">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span12">
                            <h4><?php echo $this->__("Which failure has occurred in the product?") ?></h4>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="product-failure" class="span6 clearfix">
                            <label for=""><strong><?php echo $this->__("Symptom"); ?></strong></label>

                            <div class="choose-symptom">
                                <select class="pull-left" name="symptom" id="choose-symptom">
                                </select>

                                <p class="pull-left"><?php echo $this->__("Loading symptoms...") ?></p>
                            </div>
                        </div>
                        <div id="product-failure-description" class="span6">
                            <label><strong><?php echo $this->__("Error description") ?></strong>
                            </label>
                            <textarea name="error-description" rows="7" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="button next-step failure-type-submit pull-right" disabled>
                <span><?php echo $this->__('Continue') ?></span></button>
            <input type="hidden" name="next-step-id" value="#servicecenter-step-address"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    //Show failure description container
    jQuery(document).on("click", 'input[name="product-worked"]', function () {
        removeMessages();
        jQuery('#product-failure-container').slideDown();
        jQuery('.choose-symptom select').prop("disabled", true);
        jQuery('.step-active img').show();
        jQuery('#servicecenter-step-reason button.btn-submit').prop('disabled', true);
        jQuery('#product-functionality ul li input').prop('disabled', true);
        jQuery('.choose-symptom p').show();
        jQuery.ajax({
            type: "POST",
            url: urlGetSymptom,
            data: {operated: jQuery(this).val()}
        })
            .done(function (msg) {
                var response = JSON.parse(msg);
                jQuery('.choose-symptom p').hide();
                var $select = jQuery('.choose-symptom select');
                if (response.status == 1) {
                    $select.find('option').remove();
                    jQuery.each(response.data, function (key, value) {
                        jQuery('#choose-symptom').append(jQuery("<option/>", {
                            value: key,
                            text: value
                        }));
                    });
                    $select.prop("disabled", false);
                    jQuery('#servicecenter-step-reason button.btn-submit').prop('disabled', false);
                    jQuery('#product-functionality ul li input').prop('disabled', false);
                    jQuery('.failure-type-submit').prop("disabled", false);

                } else {
                    showMessage(response.messages, TYPE_ERROR_MESSAGE);
                }
                jQuery('.step-active img').hide();
            });

    });
</script>
