<?php
/**
 * Service center template
 *
 * @see Cyberhouse_Servicecenter_Block_Servicecenter
 */
?>
<div class="servicecenter-page" id="servicecenter">
    <?php echo $this->getChildHtml("global_messages"); ?>
    <?php echo $this->getChildHtml("messages"); ?>
    <?php if ($this->helper('customer')->isLoggedIn()): ?>
        <div class="bodytext"><?php echo $this->getChildHtml('service.center.description'); ?></div>
        <?php echo $this->getChildHtml("nav"); ?>

        <div class="span12" style="display: none">
            <ul class="messages">
            </ul>
        </div>

        <div id="servicecenter-step-content" class="step">
            <?php echo $this->getChildHtml('service.content') ?>
        </div>
    <?php else: ?>
        <a href="<?php echo Mage::getUrl("customer/account/login"); ?>"
           class="btn"><?php echo $this->__("Sign in or register"); ?></a>
    <?php endif; ?>
    <script type="text/javascript">
        var submitUrl = '<?php echo Mage::getUrl('servicecenter/index/callDHL'); ?>';
    </script>
</div>




