<div class="buttons-set" id="service-center-buttons-container">
    <button id="servicecenter-submit" class="servicecenter-submit button btn pull-right" type="submit" title="<?php echo $this->__('Apply return request') ?>"><?php echo $this->__('Apply return request') ?></button>
</div>