<?php
	$_quote = $this->getQuote();
?>

<?php if ($_quote->getR4qStatus() == ITwebexperts_Request4quote_Model_Quote::STATUS_PROCESSING) : ?>
	<ul class="messages">
		<li class="notice-msg">
			<ul><li><span><?php echo $this->__('Quote Request in Process, wait for price proposal Shop owner.') ?></span></li></ul>
		</li>
	</ul>
<?php endif; ?>

<?php if ($_quote->getR4qStatus() == ITwebexperts_Request4quote_Model_Quote::STATUS_DECLINED) : ?>
	<ul class="messages">
		<li class="error-msg">
			<ul><li><span><?php echo $this->__('Quote Request has been declined by Shop owner.') ?></span></li></ul>
		</li>
	</ul>
<?php endif; ?>