<?php
$orderCollection = $this->getOrderCollection();
$helper = $this;
if($orderCollection) : ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo $helper->__('Sales'); ?></h4>
        </div>
        <?php if(count($orderCollection) ): ?>
            <div class="large"><?php echo $this->__('Following order(s) were created by this quote request:'); ?></div>
            <fieldset>
                <?php foreach($orderCollection as $order) : ?>
                    <div><a href="<?php echo Mage::getUrl('sales/order/view', array('order_id' => $order->getId()));?>" title="<?php echo $helper->__("Order ID"),": " , $order->getIncrementId() ?>"><?php echo $helper->__("Order ID"),": " , $order->getIncrementId() , " " ,Mage::helper('core')->formatTime($order->getCreatedAt(),Mage_Core_Model_Locale::FORMAT_TYPE_SHORT, true) ?></a></div>
                <?php endforeach; ?>
            </fieldset>
        <?php endif; ?>
    </div>
    <div class="clear"/>
<?php endif; ?>