<div class="sidebar-filter-wrap solrsearch-sidebar">
	<div id="sidebar-filter">
		<h3><?php echo $this->__('Filter search results') ?></h3>
		<ul>
			<a href="#">Insert filter here</a>
		</ul>
	</div>
</div>