<div class="solrsearch-page" id="solrsearch">

	<div class="input-wrap">
		<input id="search-page-input" type="text" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('q')) ?>" placeholder="<?php echo $this->__('Search for spare parts, accessories, products ...') ?>" />
	</div>

	<div class="page-title" id="search-page-title"><h2><?php echo $this->__('Search results') ?></h2></div>
	<div class="search-toolbar clearfix"></div>
	<div id="search-page-results">
		<div class="row search-page-results-container">
		</div>
	</div>
	<div class="search-toolbar clearfix"></div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var result_label = "<?php echo $this->__("Results"); ?>";
    var from_label = "<?php echo $this->__("from"); ?>";
    var to_label = "<?php echo $this->__("to"); ?>";
    var previous_page_label = "<?php echo $this->__("Previous page"); ?>";
    var next_page_label = "<?php echo $this->__("Next page"); ?>";
    var page_label = "<?php echo $this->__("Page"); ?>";
    var product_no_label = "<?php echo $this->__("Article number"); ?>";
    var product_ident_label = "<?php echo $this->__("Identify number"); ?>";
    //]]>
</script>