.fastorder {
    background-color: #E8F0F3;
    margin-top: 15px;
    padding: 10px;
}

.fastorder button {width: 89%;}

.fastorder-form-list {
    margin-top: 10px;
}

.fastorder .fieldset input {
    width: 87%;
}