/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: czcmsplus.css 191 2011-09-15 13:57:58Z rhempel $
 * $HeadURL: https://svn.clever-zoeger.de/svn/Magento/extensions/Cz_Cmsplus/tags/1.3.0/cmsPlus/skin/adminhtml/default/default/css/czcmsplus.css $
 * $LastChangedBy: rhempel $
 * $LastChangedRevision: 191 $
 * $LastChangedDate: 2011-09-15 15:57:58 +0200 (Thu, 15 Sep 2011) $
 */


#cmsplus_tab_content .blockcmsplus {
	background: #c2c2c2;
	margin-bottom: 5px;
}

#cmsplus_tab_content .columns1,
#cmsplus_tab_content .columns2,
#cmsplus_tab_content .columns3 {
	overflow: hidden;
}
#cmsplus_tab_content .columns1 .title,
#cmsplus_tab_content .columns2 .title,
#cmsplus_tab_content .columns3 .title {
  padding: 2px;
	margin: 5px;
  min-height: 2em;
  background-color: #ccc;
}
#cmsplus_tab_content .columns1 .innerblock .title,
#cmsplus_tab_content .columns2 .innerblock .title,
#cmsplus_tab_content .columns3 .innerblock .title {
  background-color: #ddd;
	height: 80px;
}
#cmsplus_tab_content .columns1 .innerblock{
	width: 99.999%;
	float: left;
}
#cmsplus_tab_content .columns2 .innerblock{
	width: 49.999%;
	float: left;
}
#cmsplus_tab_content .columns3 .innerblock{
	width: 33.333%;
	float: left;
}
#cmsplus_tab_content .columns1 .buttons,
#cmsplus_tab_content .columns2 .buttons,
#cmsplus_tab_content .columns3 .buttons {
	clear: both;
	float: right;
	margin: 0;
}

#cmsplus_tab_content .elementcmsplus {
	background: #c2c2c2;
	margin-bottom: 5px;
}
#cmsplus_tab_content .blocktype1 table.form-list,
#cmsplus_tab_content .blocktype2 table.form-list, 
#cmsplus_tab_content .blocktype3 table.form-list {
	overflow: hidden;
}
#cmsplus_tab_content .blocktype1 .elementcmsplus,
#cmsplus_tab_content .blocktype2 .elementcmsplus,
#cmsplus_tab_content .blocktype3 .elementcmsplus {
	position: relative;
}
#cmsplus_tab_content .blocktype1 .elementcmsplus .buttons,
#cmsplus_tab_content .blocktype2 .elementcmsplus .buttons,
#cmsplus_tab_content .blocktype3 .elementcmsplus .buttons{
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;
	margin: 0;
}
#cmsplus_tab_content .blocktype3 .elementcmsplus.column3,
#cmsplus_tab_content .blocktype3 .elementcmsplus.column2,
#cmsplus_tab_content .blocktype3 .elementcmsplus.column1 {
	float: left;
	width: 33.333%;
	height: 100px;
	background: #d3d3d3;
}


#cmsplus_tab_content .blocktype2 .elementcmsplus.column2,
#cmsplus_tab_content .blocktype2 .elementcmsplus.column1 {
	float: left;
	width: 49.999%;
	height: 100px;
	background: #d3d3d3;
}

#cmsplus_tab_content .blocktype1 .elementcmsplus.column1 {
	float: left;
	width: 99.999%;
	height: 100px;
	background: #d3d3d3;
}
#cmsplus_tab_content .blocktype3 .elementcmsplus.column3 .innerelement,
#cmsplus_tab_content .blocktype3 .elementcmsplus.column2 .innerelement,
#cmsplus_tab_content .blocktype3 .elementcmsplus.column1 .innerelement,
#cmsplus_tab_content .blocktype2 .elementcmsplus.column2 .innerelement,
#cmsplus_tab_content .blocktype2 .elementcmsplus.column1 .innerelement,
#cmsplus_tab_content .blocktype1 .elementcmsplus.column1 .innerelement {
  background-color: #ddd;
	height: 65px;
  padding: 2px;
	margin: 5px;
}

#cmsplus_info_tabs_images_content .hor-scroll .imagecmsplus .innerelement {
  margin: 5px;
  background-color: #eee;
}
#cmsplus_info_tabs_images_content .hor-scroll .imagecmsplus .ishidden {
  background-color: #ddd;
}
#cmsplus_info_tabs_images_content .hor-scroll .imagecmsplus .ishidden .title {
  color: #999;
  text-decoration: line-through; 
}
#cmsplus_tab_content .hidden {
	display: none;
}
.placeholder {
    height: 0px!important;
    line-height: 0px!important;
    border-bottom: 1px dotted;
    border-color: #000000;
}