<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */

	$block = $this->getBlock();
	Mage::helper('cmsplus')->setStoreId($block->storeId);
	$styles = '';
	if ($block->getSpaceBefore()) {
		$styles .='margin-top: '.$block->getSpaceBefore().'px;';
	}
	if ($block->getSpaceAfter()) {
		$styles .='margin-bottom: '.$block->getSpaceAfter().'px;';
	}
	if ($block->getBorder()) {
		$styles .='border: '.$block->getBorder().'px solid;';
	}
	if ($block->getBorderColor()) {
		$styles .='border-color: #'.$block->getBorderColor().';';
	}
	if ($block->getWidth()) {
		$styles .='width: '.$block->getWidth().';';
	}
	if ($styles != '') {
		$styles = ' style="'.$styles.'"';
	}
?>
<div <?php if ($block->getBlockCssId()) echo 'id="'.$block->getBlockCssId().'" ';?>class="block2template<?php if ($block->getBlockCssClass()) echo ' '.$block->getBlockCssClass();?>"<?php echo $styles;?>>
	<?php if ($block->getHeadline()): ?>
		<div class="headline"><?php echo $block->getHeadline();?></div>
	<?php endif; ?>
	<?php if ($block->getDescription()): ?>
		<div class="description"><?php echo $block->getDescription();?></div>
	<?php endif; ?>
	<div class="block2templatecontent">
		<div class="block2left">
			<?php echo $block->getLeft(); ?>
		</div>
		<div class="block2middle">
			<?php echo $block->getMiddle(); ?>
		</div>
	</div>
</div>
