<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */

	$page = $this->getPage();
?>
<?php if ($page): ?>
	<div <?php if ($page->getPageCssId()) echo 'id="'.$page->getPageCssId().'" ';?>class="cmspluspage<?php if ($page->getPageCssClass()) echo ' '.$page->getPageCssClass();?>">
		
		<?php if ($page->getHeadline()): ?>
			<div class="headline"><?php echo $page->getHeadline();?></div>
		<?php endif; ?>
		<?php if ($page->getSubheadline()): ?>
			<div class="subheadline"><?php echo $page->getSubheadline();?></div>
		<?php endif; ?>
		<?php if ($page->getDescription()): ?>
			<div class="description"><?php echo $page->getDescription();?></div>
		<?php endif; ?>
		<?php if ($page->getImages('small')): ?>
			<div class="smallimages">
				<?php foreach ($page->getImages('small') AS $_image): ?>
					<?php echo $_image->resize(50); ?>
				<?php endforeach; ?>
			</div>
		<?php endif; ?>
		<?php if ($page->getImages('image')): ?>
			<div class="images">
				<?php foreach ($page->getImages('image') AS $_image): ?>
					<?php if ($_image->hasLink()):?>
						<a href="<?php echo $_image->getLink(); ?>">
					<?php endif; ?>
					<?php echo $_image->resize(250); ?>
					<?php if ($_image->hasLink()):?>
						</a>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
		<?php endif; ?>
		<?php $_count = 0; ?>
		<?php foreach ($page->getBlocks() AS $_block): ?>
			<?php $_count++;?>
			<div class="cmsplusblock blocknumer-<?php echo $_count;?>">
				<?php echo $_block->render(); ?>
			</div>
		<?php endforeach; ?>
	</div>
<?php endif; ?>
