<?php
	$menu = $this->getMenues();
?>
<?php
	function _prepareSubSitemap($_page,$level) {
		$content = '';
		$content .= '<li class="page level-'.$level.'">';
		$content .= '<a href="'.$_page->getUrl().'">'.$_page->getName().'</a>';
		if ($_page->hasChildren()) {
			$level++;
			$content .= '<ul class="subsitemap level-'.$level.'">';
			foreach ($_page->getChildren() AS $_pageChild) {
				$content .= _prepareSubSitemap($_pageChild,$level);
			}
			$content .= '</ul>';
			$level--;
		}
		$content .= '</li>';
		return $content;
	}
?>

<?php if ($menu): ?>
	<?php $_count = 0; ?>
	<?php foreach ($menu AS $_menu): ?>
		<div class="cmsplus cmsplussitemap<?php echo $_menu->getId();?>">
			<ul class="cmsplussitemapblock">
				<?php foreach ($_menu->getPages() AS $_page): ?>
					<?php echo _prepareSubSitemap($_page,2); ?>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php endforeach; ?>
<?php endif; ?>