<?php
	$menu = $this->getMenu();
?>


<?php if ($menu): ?>
<div class="cmsplus menu<?php echo $menu->getId();?>">
	<ul class="submenu">
	<?php foreach ($menu->getPages() AS $_page): ?>
		<?php if ($_page->isActive()): ?>
			<li class="page<?php if ($_page->isActive()) echo ' active'; ?>">
				<a href="<?php echo $_page->getUrl();?>"><?php echo $_page->getName();?></a>
				<?php if ($_page->hasChildren()): ?>
					<ul class="submenu">
						<?php foreach ($_page->getChildren() AS $_pageChild): ?>
							<li class="subpage<?php if ($_pageChild->isActive()) echo ' active'; ?>">
								<a href="<?php echo $_pageChild->getUrl();?>"><?php echo $_pageChild->getName();?></a>
							</li>
						<?php endforeach; ?>
					</ul>
				<?php endif; ?>
			</li>
		<?php endif; ?>
	<?php endforeach; ?>
	</ul>
</div>
<?php endif; ?>