<div class="form-websites">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span
                class="geo-flags country-<?php echo strtolower( Mage::helper( "geo" )->getCountryCodeByStore() ); ?>"></span>
            <?php echo ucfirst( Mage::app()->getWebsite()->getName() ) ?>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <?php $lang = Mage::helper( "geo" )->getLanguageByStore(Mage::app()->getStore()); ?>
            <?php foreach (Mage::getModel( 'core/website' )->getCollection() as $website): ?>
                <?php $_store = Mage::helper( "geo" )->getStoreByWebsiteAndLanguage($website,$lang); ?>
                <li role="presentation">
                    <a data-value="<?php echo $_store->getId() ?>"
                       href="<?php echo $_store->getCurrentUrl(); ?>">
                        <span
                            class="geo-flags country-<?php echo strtolower( Mage::helper( "geo" )->getCountryCodeByStore( $_store ) ); ?>"></span>
                        <?php echo ucfirst( $website->getName() ); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>