#modalGeo  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.geo-flags {
    background: url("../../images/flags.png") no-repeat top left;
    padding-left: 20px;
    margin: 0 5px;
}
.country-ad{ background-position: 0 0; width: 20px; height: 20px; }
.country-ae{ background-position: 0 -70px; width: 20px; height: 20px; }
.country-af{ background-position: 0 -140px; width: 20px; height: 20px; }
.country-ag{ background-position: 0 -210px; width: 20px; height: 20px; }
.country-ai{ background-position: 0 -280px; width: 20px; height: 20px; }
.country-al{ background-position: 0 -350px; width: 20px; height: 20px; }
.country-am{ background-position: 0 -420px; width: 20px; height: 20px; }
.country-an{ background-position: 0 -490px; width: 20px; height: 20px; }
.country-ao{ background-position: 0 -560px; width: 20px; height: 20px; }
.country-ar{ background-position: 0 -630px; width: 20px; height: 20px; }
.country-as{ background-position: 0 -700px; width: 20px; height: 20px; }
.country-at{ background-position: 0 -770px; width: 20px; height: 20px; }
.country-au{ background-position: 0 -840px; width: 20px; height: 20px; }
.country-aw{ background-position: 0 -910px; width: 20px; height: 20px; }
.country-ax{ background-position: 0 -980px; width: 20px; height: 20px; }
.country-ba{ background-position: 0 -1050px; width: 20px; height: 20px; }
.country-bb{ background-position: 0 -1120px; width: 20px; height: 20px; }
.country-bd{ background-position: 0 -1190px; width: 20px; height: 20px; }
.country-be{ background-position: 0 -1260px; width: 20px; height: 20px; }
.country-bf{ background-position: 0 -1330px; width: 20px; height: 20px; }
.country-bg{ background-position: 0 -1400px; width: 20px; height: 20px; }
.country-bh{ background-position: 0 -1470px; width: 20px; height: 20px; }
.country-bi{ background-position: 0 -1540px; width: 20px; height: 20px; }
.country-bj{ background-position: 0 -1610px; width: 20px; height: 20px; }
.country-bm{ background-position: 0 -1680px; width: 20px; height: 20px; }
.country-bn{ background-position: 0 -1750px; width: 20px; height: 20px; }
.country-bo{ background-position: 0 -1820px; width: 20px; height: 20px; }
.country-br{ background-position: 0 -1890px; width: 20px; height: 20px; }
.country-bs{ background-position: -70px 0; width: 20px; height: 20px; }
.country-bt{ background-position: -70px -70px; width: 20px; height: 20px; }
.country-bw{ background-position: -70px -140px; width: 20px; height: 20px; }
.country-by{ background-position: -70px -210px; width: 20px; height: 20px; }
.country-bz{ background-position: -70px -280px; width: 20px; height: 20px; }
.country-ca{ background-position: -70px -350px; width: 20px; height: 20px; }
.country-cd{ background-position: -70px -420px; width: 20px; height: 20px; }
.country-cf{ background-position: -70px -490px; width: 20px; height: 20px; }
.country-cg{ background-position: -70px -560px; width: 20px; height: 20px; }
.country-ch{ background-position: -70px -630px; width: 20px; height: 20px; }
.country-ci{ background-position: -70px -700px; width: 20px; height: 20px; }
.country-ck{ background-position: -70px -770px; width: 20px; height: 20px; }
.country-cl{ background-position: -70px -840px; width: 20px; height: 20px; }
.country-cm{ background-position: -70px -910px; width: 20px; height: 20px; }
.country-cn{ background-position: -70px -980px; width: 20px; height: 20px; }
.country-co{ background-position: -70px -1050px; width: 20px; height: 20px; }
.country-cr{ background-position: -70px -1120px; width: 20px; height: 20px; }
.country-cu{ background-position: -70px -1190px; width: 20px; height: 20px; }
.country-cv{ background-position: -70px -1260px; width: 20px; height: 20px; }
.country-cx{ background-position: -70px -1330px; width: 20px; height: 20px; }
.country-cy{ background-position: -70px -1400px; width: 20px; height: 20px; }
.country-cz{ background-position: -70px -1470px; width: 20px; height: 20px; }
.country-de{ background-position: -70px -1540px; width: 20px; height: 20px; }
.country-dj{ background-position: -70px -1610px; width: 20px; height: 20px; }
.country-dk{ background-position: -70px -1680px; width: 20px; height: 20px; }
.country-dm{ background-position: -70px -1750px; width: 20px; height: 20px; }
.country-do{ background-position: -70px -1820px; width: 20px; height: 20px; }
.country-dz{ background-position: -70px -1890px; width: 20px; height: 20px; }
.country-ec{ background-position: -140px 0; width: 20px; height: 20px; }
.country-ee{ background-position: -140px -70px; width: 20px; height: 20px; }
.country-eg{ background-position: -140px -140px; width: 20px; height: 20px; }
.country-er{ background-position: -140px -210px; width: 20px; height: 20px; }
.country-es{ background-position: -140px -280px; width: 20px; height: 20px; }
.country-et{ background-position: -140px -350px; width: 20px; height: 20px; }
.country-eu{ background-position: -140px -420px; width: 20px; height: 20px; }
.country-fi{ background-position: -140px -490px; width: 20px; height: 20px; }
.country-fj{ background-position: -140px -560px; width: 20px; height: 20px; }
.country-fk{ background-position: -140px -630px; width: 20px; height: 20px; }
.country-fm{ background-position: -140px -700px; width: 20px; height: 20px; }
.country-fo{ background-position: -140px -770px; width: 20px; height: 20px; }
.country-fr{ background-position: -140px -840px; width: 20px; height: 20px; }
.country-ga{ background-position: -140px -910px; width: 20px; height: 20px; }
.country-gd{ background-position: -140px -980px; width: 20px; height: 20px; }
.country-ge{ background-position: -140px -1050px; width: 20px; height: 20px; }
.country-gg{ background-position: -140px -1120px; width: 20px; height: 20px; }
.country-gh{ background-position: -140px -1190px; width: 20px; height: 20px; }
.country-gi{ background-position: -140px -1260px; width: 20px; height: 20px; }
.country-gl{ background-position: -140px -1330px; width: 20px; height: 20px; }
.country-gm{ background-position: -140px -1400px; width: 20px; height: 20px; }
.country-gn{ background-position: -140px -1470px; width: 20px; height: 20px; }
.country-gq{ background-position: -140px -1540px; width: 20px; height: 20px; }
.country-gr-cy{ background-position: -140px -1610px; width: 20px; height: 20px; }
.country-gr{ background-position: -140px -1680px; width: 20px; height: 20px; }
.country-gs{ background-position: -140px -1750px; width: 20px; height: 20px; }
.country-gt{ background-position: -140px -1820px; width: 20px; height: 20px; }
.country-gu{ background-position: -140px -1890px; width: 20px; height: 20px; }
.country-gw{ background-position: -210px 0; width: 20px; height: 20px; }
.country-gy{ background-position: -210px -70px; width: 20px; height: 20px; }
.country-hk{ background-position: -210px -140px; width: 20px; height: 20px; }
.country-hn{ background-position: -210px -210px; width: 20px; height: 20px; }
.country-hr{ background-position: -210px -280px; width: 20px; height: 20px; }
.country-ht{ background-position: -210px -350px; width: 20px; height: 20px; }
.country-hu{ background-position: -210px -420px; width: 20px; height: 20px; }
.country-id{ background-position: -210px -490px; width: 20px; height: 20px; }
.country-ie{ background-position: -210px -560px; width: 20px; height: 20px; }
.country-il{ background-position: -210px -630px; width: 20px; height: 20px; }
.country-im{ background-position: -210px -700px; width: 20px; height: 20px; }
.country-in{ background-position: -210px -770px; width: 20px; height: 20px; }
.country-io{ background-position: -210px -840px; width: 20px; height: 20px; }
.country-iq{ background-position: -210px -910px; width: 20px; height: 20px; }
.country-ir{ background-position: -210px -980px; width: 20px; height: 20px; }
.country-is{ background-position: -210px -1050px; width: 20px; height: 20px; }
.country-it{ background-position: -210px -1120px; width: 20px; height: 20px; }
.country-je{ background-position: -210px -1190px; width: 20px; height: 20px; }
.country-jm{ background-position: -210px -1260px; width: 20px; height: 20px; }
.country-jo{ background-position: -210px -1330px; width: 20px; height: 20px; }
.country-jp{ background-position: -210px -1400px; width: 20px; height: 20px; }
.country-ke{ background-position: -210px -1470px; width: 20px; height: 20px; }
.country-kg{ background-position: -210px -1540px; width: 20px; height: 20px; }
.country-kh{ background-position: -210px -1610px; width: 20px; height: 20px; }
.country-ki{ background-position: -210px -1680px; width: 20px; height: 20px; }
.country-km{ background-position: -210px -1750px; width: 20px; height: 20px; }
.country-kn{ background-position: -210px -1820px; width: 20px; height: 20px; }
.country-kp{ background-position: -210px -1890px; width: 20px; height: 20px; }
.country-kr{ background-position: -280px 0; width: 20px; height: 20px; }
.country-kw{ background-position: -280px -70px; width: 20px; height: 20px; }
.country-ky{ background-position: -280px -140px; width: 20px; height: 20px; }
.country-kz{ background-position: -280px -210px; width: 20px; height: 20px; }
.country-la{ background-position: -280px -280px; width: 20px; height: 20px; }
.country-lb{ background-position: -280px -350px; width: 20px; height: 20px; }
.country-lc{ background-position: -280px -420px; width: 20px; height: 20px; }
.country-li{ background-position: -280px -490px; width: 20px; height: 20px; }
.country-lk{ background-position: -280px -560px; width: 20px; height: 20px; }
.country-lr{ background-position: -280px -630px; width: 20px; height: 20px; }
.country-ls{ background-position: -280px -700px; width: 20px; height: 20px; }
.country-lt{ background-position: -280px -770px; width: 20px; height: 20px; }
.country-lu{ background-position: -280px -840px; width: 20px; height: 20px; }
.country-lv{ background-position: -280px -910px; width: 20px; height: 20px; }
.country-ly{ background-position: -280px -980px; width: 20px; height: 20px; }
.country-ma{ background-position: -280px -1050px; width: 20px; height: 20px; }
.country-mc{ background-position: -280px -1120px; width: 20px; height: 20px; }
.country-md{ background-position: -280px -1190px; width: 20px; height: 20px; }
.country-me{ background-position: -280px -1260px; width: 20px; height: 20px; }
.country-mg{ background-position: -280px -1330px; width: 20px; height: 20px; }
.country-mh{ background-position: -280px -1400px; width: 20px; height: 20px; }
.country-ml{ background-position: -280px -1470px; width: 20px; height: 20px; }
.country-mn{ background-position: -280px -1540px; width: 20px; height: 20px; }
.country-mo{ background-position: -280px -1610px; width: 20px; height: 20px; }
.country-mp{ background-position: -280px -1680px; width: 20px; height: 20px; }
.country-mq{ background-position: -280px -1750px; width: 20px; height: 20px; }
.country-mr{ background-position: -280px -1820px; width: 20px; height: 20px; }
.country-ms{ background-position: -280px -1890px; width: 20px; height: 20px; }
.country-mt{ background-position: -350px 0; width: 20px; height: 20px; }
.country-mu{ background-position: -350px -70px; width: 20px; height: 20px; }
.country-mv{ background-position: -350px -140px; width: 20px; height: 20px; }
.country-mw{ background-position: -350px -210px; width: 20px; height: 20px; }
.country-mx{ background-position: -350px -280px; width: 20px; height: 20px; }
.country-my{ background-position: -350px -350px; width: 20px; height: 20px; }
.country-mz{ background-position: -350px -420px; width: 20px; height: 20px; }
.country-na{ background-position: -350px -490px; width: 20px; height: 20px; }
.country-ne{ background-position: -350px -560px; width: 20px; height: 20px; }
.country-nf{ background-position: -350px -630px; width: 20px; height: 20px; }
.country-ng{ background-position: -350px -700px; width: 20px; height: 20px; }
.country-ni{ background-position: -350px -770px; width: 20px; height: 20px; }
.country-nl{ background-position: -350px -840px; width: 20px; height: 20px; }
.country-nm{ background-position: -350px -910px; width: 20px; height: 20px; }
.country-no{ background-position: -350px -980px; width: 20px; height: 20px; }
.country-np{ background-position: -350px -1050px; width: 20px; height: 20px; }
.country-nr{ background-position: -350px -1120px; width: 20px; height: 20px; }
.country-nu{ background-position: -350px -1190px; width: 20px; height: 20px; }
.country-nz{ background-position: -350px -1260px; width: 20px; height: 20px; }
.country-om{ background-position: -350px -1330px; width: 20px; height: 20px; }
.country-pa{ background-position: -350px -1400px; width: 20px; height: 20px; }
.country-pf{ background-position: -350px -1470px; width: 20px; height: 20px; }
.country-pg{ background-position: -350px -1540px; width: 20px; height: 20px; }
.country-ph{ background-position: -350px -1610px; width: 20px; height: 20px; }
.country-pk{ background-position: -350px -1680px; width: 20px; height: 20px; }
.country-pl{ background-position: -350px -1750px; width: 20px; height: 20px; }
.country-pm{ background-position: -350px -1820px; width: 20px; height: 20px; }
.country-pn{ background-position: -350px -1890px; width: 20px; height: 20px; }
.country-pr{ background-position: -420px 0; width: 20px; height: 20px; }
.country-pt{ background-position: -420px -70px; width: 20px; height: 20px; }
.country-pw{ background-position: -420px -140px; width: 20px; height: 20px; }
.country-py{ background-position: -420px -210px; width: 20px; height: 20px; }
.country-qa{ background-position: -420px -280px; width: 20px; height: 20px; }
.country-ro{ background-position: -420px -350px; width: 20px; height: 20px; }
.country-rs{ background-position: -420px -420px; width: 20px; height: 20px; }
.country-ru{ background-position: -420px -490px; width: 20px; height: 20px; }
.country-rw{ background-position: -420px -560px; width: 20px; height: 20px; }
.country-sa{ background-position: -420px -630px; width: 20px; height: 20px; }
.country-sb{ background-position: -420px -700px; width: 20px; height: 20px; }
.country-sc{ background-position: -420px -770px; width: 20px; height: 20px; }
.country-sd{ background-position: -420px -840px; width: 20px; height: 20px; }
.country-se{ background-position: -420px -910px; width: 20px; height: 20px; }
.country-sg{ background-position: -420px -980px; width: 20px; height: 20px; }
.country-sh{ background-position: -420px -1050px; width: 20px; height: 20px; }
.country-si{ background-position: -420px -1120px; width: 20px; height: 20px; }
.country-sk{ background-position: -420px -1190px; width: 20px; height: 20px; }
.country-sl{ background-position: -420px -1260px; width: 20px; height: 20px; }
.country-sm{ background-position: -420px -1330px; width: 20px; height: 20px; }
.country-sn{ background-position: -420px -1400px; width: 20px; height: 20px; }
.country-so{ background-position: -420px -1470px; width: 20px; height: 20px; }
.country-sr{ background-position: -420px -1540px; width: 20px; height: 20px; }
.country-st{ background-position: -420px -1610px; width: 20px; height: 20px; }
.country-sv{ background-position: -420px -1680px; width: 20px; height: 20px; }
.country-sy{ background-position: -420px -1750px; width: 20px; height: 20px; }
.country-sz{ background-position: -420px -1820px; width: 20px; height: 20px; }
.country-tc{ background-position: -420px -1890px; width: 20px; height: 20px; }
.country-td{ background-position: -490px 0; width: 20px; height: 20px; }
.country-tg{ background-position: -490px -70px; width: 20px; height: 20px; }
.country-th{ background-position: -490px -140px; width: 20px; height: 20px; }
.country-tj{ background-position: -490px -210px; width: 20px; height: 20px; }
.country-tl{ background-position: -490px -280px; width: 20px; height: 20px; }
.country-tm{ background-position: -490px -350px; width: 20px; height: 20px; }
.country-tn{ background-position: -490px -420px; width: 20px; height: 20px; }
.country-to{ background-position: -490px -490px; width: 20px; height: 20px; }
.country-tr{ background-position: -490px -560px; width: 20px; height: 20px; }
.country-tt{ background-position: -490px -630px; width: 20px; height: 20px; }
.country-tv{ background-position: -490px -700px; width: 20px; height: 20px; }
.country-tw{ background-position: -490px -770px; width: 20px; height: 20px; }
.country-tz{ background-position: -490px -840px; width: 20px; height: 20px; }
.country-ua{ background-position: -490px -910px; width: 20px; height: 20px; }
.country-ug{ background-position: -490px -980px; width: 20px; height: 20px; }
.country-uk{ background-position: -490px -1050px; width: 20px; height: 20px; }
.country-us{ background-position: -490px -1120px; width: 20px; height: 20px; }
.country-uy{ background-position: -490px -1190px; width: 20px; height: 20px; }
.country-uz{ background-position: -490px -1260px; width: 20px; height: 20px; }
.country-vc{ background-position: -490px -1330px; width: 20px; height: 20px; }
.country-ve{ background-position: -490px -1400px; width: 20px; height: 20px; }
.country-vg{ background-position: -490px -1470px; width: 20px; height: 20px; }
.country-vh{ background-position: -490px -1540px; width: 20px; height: 20px; }
.country-vi{ background-position: -490px -1610px; width: 20px; height: 20px; }
.country-vn{ background-position: -490px -1680px; width: 20px; height: 20px; }
.country-vu{ background-position: -490px -1750px; width: 20px; height: 20px; }
.country-wf{ background-position: -490px -1820px; width: 20px; height: 20px; }
.country-ws{ background-position: -490px -1890px; width: 20px; height: 20px; }
.country-ye{ background-position: -560px 0; width: 20px; height: 20px; }
.country-yt{ background-position: -560px -70px; width: 20px; height: 20px; }
.country-yu{ background-position: -560px -140px; width: 20px; height: 20px; }
.country-za{ background-position: -560px -210px; width: 20px; height: 20px; }
.country-zm{ background-position: -560px -280px; width: 20px; height: 20px; }
.country-zw{ background-position: -560px -350px; width: 20px; height: 20px; }
