<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */

	$menu = $this->getMenu();
?>


<?php if ($menu): ?>
<div class="logos">
    <?php foreach ($menu->getPages() AS $_page): ?>
        <?php if ($_page->getUrlkey() == 'paypal'): ?>
            <a href="<?php echo $_page->getUrl();?>">
                <img src="<?php echo $this->getSkinUrl( 'img/payment/paypal.png' ) ?>"/>
            </a>
        <?php endif; ?>
        <?php if (($_page->getUrlkey() == 'kreditkarte') || ($_page->getUrlkey() == 'credit-card')): ?>
            <a href="<?php echo $_page->getUrl();?>">
                <img src="<?php echo $this->getSkinUrl( 'img/payment/visa.png' ) ?>"/>
            </a>
            <a href="<?php echo $_page->getUrl();?>">
                <img src="<?php echo $this->getSkinUrl( 'img/payment/mastercard.png' ) ?>"/>
            </a>
            </div><div class="logos">
        <?php endif; ?>
        <?php if (($_page->getUrlkey() == 'nachnahme') || ($_page->getUrlkey() == 'cash-on-delivery')): ?>
            <a href="<?php echo $_page->getUrl();?>">
                <img src="<?php echo $this->getSkinUrl( 'img/payment/nachnahme.png' ) ?>"/>
            </a>
        <?php endif; ?>
        <?php if (($_page->getUrlkey() == 'lastschrift') || $_page->getUrlkey() == 'direct-debit'): ?>
            <a href="<?php echo $_page->getUrl();?>">
                <img src="<?php echo $this->getSkinUrl( 'img/payment/lastschrift.png' ) ?>"/>
            </a>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<?php endif; ?>