<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */

$menu = $this->getMenu();
?>
<?php if($menu): ?>
    <div class="header cms-menu">
        <?php echo $menu->getName(); ?>
    </div>
    <div class="cmsplus menu<?php echo $menu->getId(); ?>">
        <ul class="menu">
            <?php foreach($menu->getPages() AS $_page): ?>
                <li class="cms-page page<?php if($_page->isActive()) echo ' active'; ?>">
                    <a href="<?php echo $_page->getUrl(); ?>">
                        <?php if($_page->getPageCssClass()): ?>
                            <i class="icon-<?php echo $_page->getPageCssClass();  ?>"></i>
                            <i class="icon-chevron-right pull-right"></i>
                        <?php endif; ?>
                        <?php echo $_page->getName(); ?>
                    </a>
                    <?php if($_page->hasChildren()): ?>
                        <ul class="submenu">
                            <?php foreach($_page->getChildren() AS $_pageChild): ?>
                                <li class="subpage<?php if($_pageChild->isActive()) echo ' active'; ?>">
                                    <a href="<?php echo $_pageChild->getUrl(); ?>"><?php echo $_pageChild->getName(); ?></a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php
    $identifier = str_replace(" ","_",strtolower($menu->getName()))."_menu";
    echo $this->getLayout()->createBlock("cms/block")->setBlockId($identifier)->toHtml();
    ?>
<?php endif; ?>