<?php if ($products = $this->getProducts()): ?>
    <p><?php echo $this->__('You are receiving this notification because you subscribed to receive alerts when the following products are back in stock:') ?></p>
    <table>
        <?php foreach ($products as $product): ?>
            <?php $productUrl = Mage::getUrl("search",array('_secure'=> true, '_nosid' => true, '_query' => 'q='.$product->getProductNo())); ?>
            <tr>
                <td><a href="<?php echo $productUrl ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>"><img src="<?php echo $product->getProductImage(75); ?>" border="0" align="left" height="75" width="75" alt="<?php echo $this->escapeHtml($product->getName()) ?>" /></a></td>
                <td>
                    <p><a href="<?php echo $productUrl ?>"><strong><?php echo $this->escapeHtml($product->getName()) ?></strong></a></p>
                    <p><small><?php echo $this->__('SKU'), ": ", $product->getProductNo(); ?></small></p>
                    <p><?php if ($product->getPrice() != $product->getFinalPrice()): ?>
                            <?php echo $this->__('Regular Price:') ?> <strong style="text-decoration:line-through;"><?php echo Mage::helper('core')->currency($product->getPrice()) ?></strong><br />
                            <strong><?php echo $this->__('Special price:') ?> <span style="color:#FF0000;"><?php echo Mage::helper('core')->currency($product->getFinalPrice()) ?></span></strong>
                        <?php else: ?>
                            <strong><?php echo $this->__('Price:') ?></strong> <?php echo Mage::helper('core')->currency($product->getPrice()) ?>
                        <?php endif; ?></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><?php echo $this->__("To access the article, please use the link below:") ?></a></p>
                    <br />
                    <p><a href="<?php echo $productUrl ?>"><?php echo $productUrl ?></a></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><a href="<?php echo $this->getProductUnsubscribeUrl($product->getId()) ?>"><?php echo $this->__('Click here not to receive alerts for this product') ?></a></p>
                    <br />
                    <br />
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
    <p><a href="<?php echo $this->getUnsubscribeUrl() ?>"><?php echo $this->__('Unsubscribe from all stock alerts') ?></a></p>
<?php endif; ?>
