<div id="modalGeo" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="modalGeoLabel"
     aria-hidden="true">
    <input type="image" class="close button" src="<?php echo $this->getSkinUrl( 'images/overlay-close.png' ); ?>"
           data-dismiss="modal" aria-hidden="true" id="modal-close">

    <form class="modal-form">
        <div class="modal-header">
            <h3 id="modalGeoLabel"><?php echo $this->__( 'Your store has been changed' ) ?></h3>
            <?php
                $helper = Mage::helper("geo");
                if( $store = $helper->getRedirectStore()) {
                    $default_country = Mage::getStoreConfig($helper::COUNTRY_FALLBACK,$store);
                    $countries = $helper->getCountries($default_country);
                    $country = reset($countries);
                ?>
            <div class="geo_header_notice"><?php echo $this->__("Shipping from %s is only allowed to %s",$store->getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB),$country->getName()); ?></div>
            <?php } ?>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <div class="message"><br/>
                        <?php echo $this->__( 'Following default values have been set: Shipping country %s', $this->getUserCountry()
                            ->getName() ); ?><br/>
                        <?php echo $this->__( 'Prices and shipping include %s%% VAT', $this->getTax() ); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="span4">
                <label for="goe_store_select"><?php echo $this->__("Do you want to change the store"); ?></label>
                <div class="input-wrap">
                    <select id="geo_store_select">
                        <option selected="selected"
                                class="geo-country-<?php echo strtolower( $this->getUserCountry()->getId() ); ?>"
                                value="<?php echo $this->getStoreCurrentUrl( $this->getUserStore() ); ?>"><?php echo $this->getUserCountry()
                                ->getName(); ?></option>
                        <?php foreach ($this->getAvailableCountries() as $country) : ?>
                            <?php if ($country->getCountryId() != $this->getUserCountry()->getCountryId()) : ?>
                                <option class="geo-country-<?php echo strtolower( $country->getCountryId() ); ?>"
                                        value="<?php echo $this->getStoreCurrentUrl( $this->getStoreByCountry( $country->getCountryId() ) ); ?>"><?php echo $country->getName(); ?></option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="btn-center">
                <a class="btn btn-primary" href="#"
                   onclick="window.location=jQuery('#geo_store_select option:selected').val();">
                    <i></i>
                    <?php echo $this->__( 'Change Store' ) ?></a>
            </div>
        </div>
    </form>
</div>
