<?php
/**
 * clever + zöger gmbh
 * http://www.clever-zoeger.de
 * @author Ronny Hempel <rhempel@clever-zoeger.de>
 * @version $Id: $
 * $HeadURL: $
 * $LastChangedBy: $
 * $LastChangedRevision: $
 * $LastChangedDate: $
 */
?>
<div class="categories-side-col">
    <div class="content-header">
        <h3 class="icon-head head-categories"><?php echo Mage::helper('cmsplus')->__('cmsPlus') ?></h3>
        <?php echo $this->getStoreSwitcherHtml();?>
        <?php echo $this->getAddMenuButtonHtml() ?><br />
        <?php echo $this->getAddPageButtonHtml() ?>
    </div>

  	<div class="tree-holder cmsplus-tree">
    	<div style="width:100%; overflow:auto;" class="x-tree">
    		<?php echo Mage::helper('cmsplus')->getMenutree(0); ?>
        </div>
	</div>
</div>
<?php
	$url = $this->getUrl('*/*/changeStore');
?>
<script>
	var storechangeurl = '<?php echo $url; ?>';
	var lastStoreId = '<?php echo Mage::app()->getStore()->getStoreId(); ?>';
	var storechangeconfirmtext = "<?php echo $this->__('Please confirm site switching. All data that hasn\'t been saved will be lost.'); ?>";
</script>
