<?php $name = $this->getInputType()."[". $this->getItem()->getId()."][ext_position_remark]"; ?>
<div class="position_remark"><label for="<?php echo $name; ?>"><?php echo $this->__("Position Remark:"); ?></label><input type="text" maxlength="35" class="ext_position_remark input" name="<?php echo $name; ?>" value="<?php echo $this->getExtPositionRemark(); ?>" /></div>