<?php
$_product = $this->getProduct();
$imageUrl = Mage::helper('isc_parser/data')->getAssetUrl($_product->getProductPicture(), 800);
?>

<div class="product-image-wrap">
    <a href="<?php echo $imageUrl ?>" class="fancy">
        <?php if ($imageUrl) : ?>
            <img src="<?php echo $imageUrl ?>"
                 alt="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($_product); ?>"
                 title="<?php echo Mage::helper('isc_parser/media')->getProductImageAltText($_product); ?>"/>
        <?php endif; ?>
        <span class="image-loupe">&nbsp;</span>
    </a>
</div>

