<?php
$spareparts = $this->getSpareparts();
$this->getPriceAlertBlock()->cachePriceProducts( $spareparts );
$this->getStockAlertBlock()->cacheStockProducts( $spareparts );
$edParts = $this->getExplosionDrawingParts();
$edUrl = $this->getExplosionDrawingUrl();
$edAssetId = $this->getExplosionDrawingAssetId();
$hasExplosionDrawing = ($edUrl !== false);
$translationHelper = Mage::helper('catalog');
$layoutHelper = Mage::helper("cyberhouse_layout");
?>
<script type="text/javascript">
    var partsList = '<?php echo json_encode($edParts) ?>';
</script>
<div class="row hidden-phone hidden-tablet">
    <div class="span12">
        <ul class="clearfix" id="spartparts-view-select">
            <li data-show="spareparts-exploded" <?php if(!$hasExplosionDrawing) echo 'class="hidden"' ?>>
                <?php echo $this->__('Exploded drawing') ?>
            </li>
            <li data-show="spareparts-list"><?php echo $this->__('List view') ?></li>
        </ul>
    </div>
    <div class="span12">
        <?php echo Mage::helper( 'cyberhouse_productalert' )->__( 'A product is out of stock? Be the first to get notified if it is back in stock.' ); ?>
    </div>
</div>
<div id="out-of-stock-message" style="display: none;" >
    <h2 id="modalLabel"><?php echo Mage::helper("cyberhouse_productalert")->__( 'Please log in to get notified!' ) ?></h2>
    <p>
        <?php $name = Mage::helper("persistent")->__('Login or Create an Account'); ?>
        <a href="<?php echo Mage::getUrl("customer/account/login"); ?>" title="<?php echo $name; ?>"><?php echo $name; ?><span class="icon-share"></span></a>
    </p>
</div>

<div class="row">
    <div class="span12" id="spareparts-view">
        <?php if($hasExplosionDrawing) : ?>
            <div id="spareparts-exploded" class="clearfix hidden-phone hidden-tablet">
                <div id="ed-container" class="row">
                    <div class="span10">
                        <div id="ed-view" class="loading">
                            <div id="ed-parts">
                                <div class="inner">

                                </div>
                            </div>
                            <img id="ed-img"
                                 data-highres="<?php echo Mage::helper( 'cyberhouse_url/data' )->getAssetUrl( $edAssetId, 800) ?>"
                                 src="<?php echo $edUrl ?>"/>
                        </div>
                    </div>
                    <div class="span2">
                        <div id="ed-controls">
                            <div id="ed-zoom" class="clearfix">
                                <div class="ed-button-wrap">
                                    <div id="ed-zoom-plus" class="ed-button">&nbsp;</div>
                                </div>
                                <div class="ed-button-wrap">
                                    <div id="ed-zoom-minus" class="ed-button">&nbsp;</div>
                                </div>
                            </div>
                            <div class="preview" id="ed-preview">
                                <img src="<?php echo Mage::helper('cyberhouse_url/data')->getExplosionDrawingUrl($edAssetId, 156) ?>"/>
                                <div id="ed-handle">&nbsp;</div>
                            </div>
                            <div id="ed-zoom-info">
                                100%
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        <?php endif; ?>
        <div id="spareparts-list">
            <div class="sp-table">
                <div class="sp-header clearfix">
                    <div class="row-image">&nbsp;</div>
                    <div class="pos"><?php echo $translationHelper->__('Pos') ?></div>
                    <div class="desc"><?php echo $translationHelper->__('Description') ?></div>
                    <div class="stock hidden-phone"><?php echo $translationHelper->__('Availability') ?></div>
                    <div class="sku"><?php echo $translationHelper->__('SKU') ?></div>
                    <div class="price"><?php echo $translationHelper->__('Price') ?></div>
                    <div class="qty"><?php echo $translationHelper->__('Quantity') ?></div>
                    <div class="cart">&NonBreakingSpace;</div>
                </div>
                <?php $counter = 0 ?>
                <?php foreach($spareparts as $part) : ?>
                    <?php if( $part['qty_in_stock'] > 0 ) : ?>
                        <?php
                        $stockLabel = $translationHelper->__('In Stock');
                        $stockClass = 'in-stock'
                        ?>
                    <?php else: ?>
                        <?php
                        $stockLabel = $translationHelper->__('Out of Stock');
                        $stockClass = 'out-of-stock' ?>
                    <?php endif ?>

                    <div
                        class="sp-row clearfix <?php echo ($counter % 2 == 0) ? 'odd-' : 'even-' ?><?php echo $part['customer_group']?> <?php if($part['in_cart']) echo "in-cart" ?>"
                        data-in-stock="<?php echo ( $part['qty_in_stock'] > 0 ) ? 1 : 0; ?>"
                        data-salable="<?php echo ( $part['salable'] ) ? 1 : 0; ?>"
                        data-name="<?php echo rawurlencode($part['name']) ?>"
                        data-sku="<?php echo $part['sku'] ?>"
                        id="item-<?php echo $part['sku'] ?>"
                        data-product-id="<?php echo $part['product_id'] ?>"
                        data-has_alternative="<?php echo $part['sku_alternative'] ?>"
                        data-component_url="<?php echo $part['component_url'] ?>"
                        data-price="<?php echo $part['price'] ?>"
                        data-formatted_price="<?php echo $part['formatted_price'] ?>"
                        data-stock-label="<?php echo $stockLabel; ?>"
                        data-stock-class="<?php echo $stockClass ?>"
                        data-in-cart="<?php echo $part['in_cart'] ?>"
                        data-img="<?php echo $part['img'] ?>"
                        data-customer-group="<?php echo $part['customer_group'] ?>"
                        >
                        <div class="row-inner clearfix">
                            <div class="row-image">
                                <?php if($part['asset_id'] && $layoutHelper->getNoImageAssetId() != $part['asset_id']) :?>
                                    <a id="<?php echo $part['sku'],"_img";?>" class="fancy" href="<?php echo $part['img'] ?>"><span class="icon-camera">&nbsp;</span></a>
                                <?php else: ?>
                                    <span>&nbsp;</span>
                                <?php endif; ?>
                            </div>
                            <div class="pos"><?php
                                $pos = ($part['pos'] && !isset($part['is_alternative'])) ? sprintf("%03d", $part['pos']) : "&nbsp;";
                                echo $pos;
                                ?></div>
                            <div class="desc"><?php
                                $name = htmlspecialchars($part['name']);
                                if(isset($part['is_alternative'])) {
                                    $name = '<span class="alternative">' . $this->__("Additional items for sparepart %s", sprintf("%03d", $part['pos'])) . ":</span><br/>" . $name;
                                }
                                if($part['component_url'] != "") {
                                    $name = '<a class="component" href="' . $part['component_url'] . '">' . $name . ' <i class="icon-share"></i></a>';
                                }
                                echo $name;
                                ?></div>
                            <div class="stock hidden-phone">
                                <span class="<?php echo $stockClass ?>">
                                <?php if($stockClass == "out-of-stock"): ?>
                                    <?php
                                    $info =  $this->initPriceAlertBlock($part['product'])->toHtml() . $this->initStockAlertBlock($part['product'])->toHtml();
                                    if ($info) {
                                        echo $info;
                                    } else {
                                        echo $stockLabel;
                                    }
                                    ?>
                                <?php else : ?>
                                    <?php echo $stockLabel ?>
                                <?php endif; ?></span>
                            </div>
                            <div class="sku"><?php echo str_replace('_00', '', $part['sku']) ?></div>
                            <div class="action-wrap">
                                <form method="post" data-url="<?php echo $part['ajax_url'] ?>"
                                      action="<?php echo $part['add_url'] ?>">
                                    <div class="price">
                                        <?php echo $part['formatted_price'] ?>
                                    </div>
                                    <?php if($part['salable']) : ?>
                                        <div class="qty">
                                            <?php if($part['price'] > 0): ?>
                                                <input type="hidden" name="product"
                                                       value="<?php echo $part['product_id'] ?>"/>
                                                <input type="text" class="qty" name="qty"
                                                       value="1"/> <?php echo $this->__('pcs.') ?>
                                            <?php endif; ?>
                                        </div>
                                        <div class="cart">
                                            <?php if($part['price'] > 0): ?>
                                                <input class="cart-submit<?php echo $part['customer_group']>10 || $part['qty_in_stock'] == 0?" icon-list-alt":"" ?>" type="submit"
                                                       value="<?php echo $translationHelper->__('Add to Cart') ?>"/>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </form>
                            </div>
                        </div>
                    </div>
                    <?php $counter++ ?>
                <?php endforeach ?>
                <?php
                    if($counter == 0){
                        echo '<div class="no_spareparts">' . $this->__('Unfortunately there are no spareparts available').'</div>';
                    }
                echo "<div class='infoElement'>* ", $this->getPriceInfoHtml(), "</div>";
                ?>
            </div>
        </div>
    </div>
</div>

<div id="product-popover-template" class="hidden">
    <div class="product-popover" id="product-popover">
        <div class="popover-close" title="<?php echo $this->__('Close') ?>">&nbsp;</div>
        <div class="row">
            <div class="popover-image"></div>
            <div class="span7">
                <div class="group-notice clearfix hidden">
                    <?php echo $this->__('This item is an assembly group') ?>
                    <div class="btn small">
                        <a class="assembly-group-link" href="#">
                            <i></i>
                            <?php echo $this->__('To Assembly Group') ?>
                        </a>
                    </div>
                </div>
                <div class="header-wrap">
                    <div class="header">name-placeholder</div>
                    <div class="position">Pos / <span class="position-val">position-placeholder</span></div>
                    <div class="question hidden">question-placeholder</div>
                </div>
                <div class="table-wrap">
                    <div class="sp-table">
                        <div class="sp-header clearfix">
                            <div class="sku"><?php echo $translationHelper->__('SKU') ?></div>
                            <div class="stock"><?php echo $translationHelper->__('Availability') ?></div>
                            <div class="price"><?php echo $translationHelper->__('Price') ?></div>
                            <div class="qty qty-label"><?php echo $translationHelper->__('Qty') ?></div>
                            <div class="cart cart-label">&nbsp;</div>
                        </div>
                        <form data-url="<?php echo Mage::getUrl('checkout/cart/ajaxadd') ?>">
                            <div class="sp-row clearfix">
                                <div class="row-inner">
                                    <div class="sku"></div>
                                    <div class="stock"></div>
                                    <div class="price"></div>
                                    <div class="qty">
                                        <input type="hidden" name="product" value=""/>
                                        <input type="text" name="qty" class="qty" value="1"/> <?php echo $this->__('Stk.') ?>
                                    </div>
                                    <div class="cart">
                                        <input class="cart-submit" type="submit"
                                               value="<?php echo $translationHelper->__('Add to cart') ?>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-row-alt clearfix">
                                <?php
                                echo '<div class="position">' . $this->__("Additional item for sparepart") .  ':</div>';
                                ?>
                                <div class="row-inner">
                                    <div class="sku"></div>
                                    <div class="stock"></div>
                                    <div class="price"></div>
                                    <div class="alternative"></div>
                                    <div class="qty">
                                        <input type="hidden" name="product" value=""/>
                                        <input type="text" name="qty" class="qty" value="1"/> <?php echo $this->__('Stk.') ?>
                                    </div>
                                    <div class="cart">
                                        <input class="cart-submit" type="submit"
                                               value="<?php echo $translationHelper->__('Add to cart') ?>"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <?php
                echo "<div class='infoElement'>* ", $this->getPriceInfoHtml(), "</div>";
                ?>
            </div>
        </div>
    </div>
</div>