<div class="product-detail-tab-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="nav clearfix product-detail-nav" id="product-tabs">
                    <?php $i = 0; ?>
                    <?php foreach ($this->getTabs() as $_index => $_tab): ?>
                        <?php if($this->getChildHtml($_tab['alias'])): ?>
                            <li><a href="#<?php echo $_tab['alias'] ?>" data-toggle="tab"><?php echo $this->__( $_tab['title'] ) ?></a> </li>
                            <?php $i++; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</div>
</div> <!--END content-head product-detail-head -->

<div class="content-main product-detail-main" id="product-content">
    <div class="container">

        <div class="tab-content">
            <?php $i = 0; ?>
                <?php foreach ($this->getTabs() as $_index => $_tab): ?>
                        <div class="tab-pane active" id="<?php echo $_tab['alias']?>">
                            <?php echo $this->getChildHtml($_tab['alias'])?>
                        </div>
                    <?php $i++; ?>
            <?php endforeach; ?>
        </div>
    </div>
</div>